[2016-05-13 08:25] tanguyantoine opened #1 "Android support"
# Description

**Android developper needed**

Add behavior to display and control on Android
# Tasks
- [X] Display infos
- [ ] Handle remote control events
- [ ] Display cover artwork from Url/local file

[2016-05-13 08:36] tanguyantoine opened #2 "Demo Application"
# Description

It will be a great idea to create a complete example (application)
# Tasks
- [x] iOS app
- [ ] Android app
- [x] Use control
- [x] Play music
- [x] Enable/disable
- [x] Display info

[2016-06-05 14:19] hongri opened #8 "RCTBridgeModule.h file not found"
# when I archive my app, it failed because of RCTBridgeModule.h file not found.

# Tasks

- [ RCTBridgeModule.h file not found ]

[2016-06-05 17:13] tanguyantoine commented on #8
Which platform? Did you follow all setup steps?

Generally this error arrive when you forget to include `libMusicControl.a`on ios

[2016-06-12 05:48] hongri commented on #8
when I run in simulator is ok, but is not ok when I archive my app.
when I move the react native music control node module to react-navie and add the file to project, it's ok when I archive my app, but it's not ok in sumulator.

[2016-06-18 16:46] greglump opened #9 "Now Playing Info not rendering"
# Now Playing Info not rendering
I'm using react-native-sound for playing audio and was hoping to use this to handle the locked screen controls. I'm setting the audio using the example but getting the error below when the screen is locked.

So...it doesn't work at all 😞 . I'm guessing I'm doing something wrong with my configuration, or I need to do something with/like this `[[UIApplication sharedA

[2016-06-23 12:33] tanguyantoine commented on #9
Did you do all steps written in the README?

[2016-06-23 12:34] tanguyantoine commented on #8
Do you have error stacktrace or other information ? Do you have this problem with other react native component?

[2016-06-27 19:27] greglump commented on #9
Yes I did.

Is there an example app somewhere?

[2016-06-27 21:30] tanguyantoine commented on #9
Nop.  Is it a Java app or iOS app?

[2016-06-27 21:42] greglump commented on #9
iOS. Do you have a half-baked example? Even just a snippet would be helpful.

[2016-06-28 01:53] tanguyantoine commented on #9
[code]

[2016-07-03 20:34] DClark5218 opened #10 "Demo Code"
Can I get a snippet of demo code to implement this?

I've tried to add it, and even though it is not crashing and setting the title music, I find that I cannot successfully fire any events on pause skip, etc.

Please and thank you!

[2016-07-04 07:46] tanguyantoine commented on #10
I updated the Readme. But basically register/unregister in `componentDidMount` / `componentWillUnount`

[2016-07-04 07:46] #10 closed

[2016-07-05 21:13] DClark5218 commented on #10
Thanks!

[2016-07-08 00:25] DClark5218 commented on #8
+1 I am also getting this issue as well. I have included libMusicControl.a on ios.

Looking for some solutions.

[2016-07-08 08:27] tanguyantoine commented on #8
I'm pretty it is because you forget to do link the binary during build phase. Can you send me your project?

[2016-07-08 08:28] tanguyantoine commented on #8
Can you send a stack trace.

[2016-07-08 21:30] DClark5218 commented on #8
@tanguyantoine sure thing. When I try to build things this is what I get:

<img width="1331" alt="musiccontrolmanager_m" src="https://cloud.githubusercontent.com/assets/4645553/16702057/a4eed65a-4531-11e6-8caf-dbc3d9873d86.png">

[2016-07-08 21:33] DClark5218 commented on #8
Is this correct?
<img width="1320" alt="screen shot 2016-07-08 at 5 33 16 pm" src="https://cloud.githubusercontent.com/assets/4645553/16702127/15d4b0a6-4532-11e6-9afa-c3947272192f.png">

[2016-07-09 05:39] tanguyantoine commented on #8
Can you try to click on the plus button (into the **link binary with library** section) search for libMusicControl.a and add it

[2016-07-09 17:29] DClark5218 commented on #8
I don't think I can add that in that, as that is in the libMusicControl I added. When I click my project, you can see it has been added. Again, it works in debug fine, but not when I build for production.

<img width="896" alt="screen shot 2016-07-09 at 1 28 28 pm" src="https://cloud.githubusercontent.com/assets/4645553/16709252/0d9d9fe0-45d9-11e6-8eea-9d23b93379be.png">

Does this make sense? Is

[2016-07-09 17:59] tanguyantoine commented on #8
https://github.com/facebook/react-native-fbsdk/issues/21 ?

[2016-07-13 11:04] tanguyantoine commented on #8
???

[2016-07-13 11:04] tanguyantoine commented on #9
@greglump good?

[2016-07-13 13:14] hongri commented on #8
still have this problem, when i add "$(SRCROOT)/../node_modules/react-native-music-control/React/**"

[2016-07-13 14:06] tanguyantoine commented on #8
Sorry the ˋReact` at the end should be removed

[2016-07-13 14:06] tanguyantoine commented on #8
Cause this folder does not exist

[2016-07-13 14:38] hongri commented on #8
It's not work. "RCTBridgeModule.h file not found", when archive my app.

[2016-07-13 16:41] tanguyantoine commented on #8
This file file is not from this package but from react-native. Seems that this issue is not related to react-native-music-control

[2016-07-15 15:42] asommer70 commented on #9
@tanguyantoine I am seeing this error too:

[code]

I have calls similar to what you gave in the example, but still don't see the player on the lock screen.  The player controls on the "button modal" do work though.

[2016-07-15 17:38] tanguyantoine commented on #9
Did you checked in settings allow background playing?

https://developer.apple.com/library/ios/documentation/iPhone/Conceptual/iPhoneOSProgrammingGuide/BackgroundExecution/BackgroundExecution.html

[2016-07-15 18:03] eds101 commented on #8
react-native directories needed to be added to the xcodeproject's header search paths.

I submitted a PR which fixes this: https://github.com/tanguyantoine/react-native-music-control/pull/11

[2016-07-15 18:44] asommer70 commented on #9
@tanguyantoine yes here's my componentDidMount:

[code]

[2016-07-15 19:19] #8 closed

[2016-07-15 19:40] tanguyantoine commented on #9
@fastred any idea?

[2016-07-18 21:23] asommer70 commented on #9
@tanguyantoine quick update.  I updated by Xcode version to 7.3.1 (from 7.2) and the simulator to 9.3 and the error in Xcode went away.  Still not seeing the controls on the lock screen though.

[2016-07-18 22:31] tanguyantoine commented on #9
I need to update the package version and republish the package. Can you try with a local copy ?

[2016-07-19 02:49] asommer70 commented on #9
Not 100% sure what you mean by a "local copy", but removed the *node_modules/react-native-music-control* and re-installed the with:

[code]

Then removed and re-added the library in Xcode.  Same things though... the lower controls work, but nothing shows up on the main lock screen.

[2016-07-19 06:36] tanguyantoine commented on #9
Can you share me your app, or create a new one and then send it to me ?

[2016-07-19 08:47] asommer70 commented on #9
Sure, it's [Audio Pila!](https://github.com/asommer70/audiopila-ios).  A small app to play audio files and sync playback location between devices.

[2016-07-19 08:57] tanguyantoine commented on #9
You never mount, you Audios component so the componentDidMount is never called, rigth?

[2016-07-19 08:59] asommer70 commented on #9
It's mount by react-native-router-flux in the [src/main.js](https://github.com/asommer70/audiopila-ios/blob/master/src/main.js) file.

[2016-07-19 09:44] tanguyantoine commented on #9
sorry ^^ i missed that. Will try asap and will try to figure out what's happening

[2016-07-20 19:51] tanguyantoine commented on #9
i pushed

[2016-07-21 09:12] asommer70 commented on #9
I'm still not getting anything on the lock screen.  Is there something I need to change?

Thanks again @tanguyantoine for all your help.

[2016-07-21 11:10] tanguyantoine commented on #9
https://github.com/asommer70/audiopila-ios/pull/1 can you try this?

[2016-07-21 19:53] asommer70 commented on #9
Still not showing up @tanguyantoine, at least in the simulator. Thanks for the pull request, I get how to enable background now.

I'll try it on hardware this evening.

Thanks again

[2016-08-02 17:41] asommer70 commented on #9
@tanguyantoine I created a new "bare bones" test project [here](https://github.com/asommer70/test_audio) and when using react-native-music-control with [react-native-sound](https://github.com/zmxv/react-native-sound) I still don't have controls on the lock screen.

Is there something I should do different when using react-native-sound?

Thanks again

[2016-08-03 12:20] tanguyantoine commented on #9
Did you tried on a real device?

[2016-08-04 15:19] asommer70 commented on #9
@tanguyantoine apologies forgot I was going to try on hardware.  I tried the **test_audio** project on hardware and it totally worked fine.  I'll try in the **Audio Pila!** project and let you know how it goes.

Thanks again for all your help.

[2016-08-04 17:32] tanguyantoine commented on #9
Great.

For other people : **TRY on physical hardware it does not works on simulator**

[2016-08-04 17:32] #9 closed

[2016-09-01 06:35] cinder92 commented on #1
👍

[2016-09-25 02:19] DClark5218 opened #12 "Local File Artwork"
Hey @tanguyantoine! Great module. 👍

I have tried everything under the sun to get a local file to display as artwork. I have tested on sim real devices, loading things via RNFS, changing the MusicControlManager.m code, and every other possible scenario I can think of.

Do you have an example or even a piece of code that could show me how you intended it being used?

Thanks!

[2016-09-27 18:06] tanguyantoine commented on #12
Are you using an iOS device or Android one ?

Can you share your code ?

[2016-10-11 20:18] pazer001 opened #13 "undefined is not an object (evaluating 'NativeMusicControl.resetNowPlaying')"
# Description

after inserting these lines:

[code]

i get an error:
`undefined is not an object (evaluating 'NativeMusicControl.resetNowPlaying')`

MusicControl shows there are functions there so it was imported. also i tried rebuild android and still...

[2016-10-12 16:37] tanguyantoine commented on #13
Did you follow carefully installation steps?

[2016-10-12 20:21] pazer001 commented on #13
This is my files -
build.gradle:
`dependencies {
    compile fileTree(dir: "libs", include: ["*.jar"])
    compile "com.android.support:appcompat-v7:23.0.1"
    compile "com.facebook.react:react-native:+"  // From node_modules
    compile project(':react-native-audio-toolkit')
    compile project(':react-native-music-control')
}`

MainApplication.java:
`package com.mobile;

import android.app.Appl

[2016-10-12 20:41] tanguyantoine commented on #13
I'am not an Android expert. Sorry

[2016-10-15 00:07] Guichaguri commented on #1
@tanguyantoine Is this project still active? I might work on the Android support doing something similar from what I did in [RemoteControls](https://github.com/shi11/RemoteControls/pull/32)

[2016-10-15 07:15] tanguyantoine commented on #1
Feel free to do has many PR as you want :)

[2016-10-20 08:27] zumaawad opened #14 "cant pause/resume"
# Description

when i pause or resume from app it dosint pause/resume the native

[2016-10-20 08:30] tanguyantoine commented on #14
Please provide more details and/or sample code.

Sent from my iPhone

[2016-10-22 12:10] zumaawad commented on #14
look i made an app streaming mp3 online
and i made a play/pause button
when i play/pause it doesnt change ios music player play/pause button state

[2016-10-24 15:18] tanguyantoine commented on #14
Ok

[2016-10-26 02:18] zumaawad commented on #14
so how to change it ?

[2016-10-26 19:01] tanguyantoine commented on #14
I don't know. If you do not give enough information no one can help you.
* sample code
* project description
* code which do not work
* iOS or android ?
* all information which can be usefull.

A simple : "it does no work" can't be solved without context and details.

[2016-10-29 16:59] zumaawad commented on #13
@pazer001 you should add new MusicControlPackage(new MainActivity()) to getPackages() method

[2016-10-29 18:00] zumaawad commented on #2
I will post a demo app as soon as possible

[2016-11-10 21:34] jasongrishkoff commented on #13
+1 this is missing from documentation but solved my issue

[2016-11-11 08:48] tanguyantoine commented on #13
Can you create a PR for that ?

[2016-11-11 10:50] zumaawad commented on #13
Yes i can, i will this week

[2016-11-14 22:58] XavierColombel opened #15 "Artwork not shown"
I've installed react-native-audio-streaming to play distant files but I don't know how to get your component working together.

Here is my code :
[code]

- [ ]

[2016-11-15 07:21] tanguyantoine commented on #15
Simulator or real device ?

[2016-11-15 07:23] XavierColombel commented on #15
Both.

[2016-11-15 08:03] tanguyantoine commented on #15
No error ?

[2016-11-15 08:04] XavierColombel commented on #15
No error.

[2016-11-15 08:06] tanguyantoine commented on #15
Can you create a sample app on github to let me test ?

[2016-11-15 08:07] XavierColombel commented on #15
Of course, I'll push it later in the day! ;)

[2016-11-15 10:02] XavierColombel commented on #15
Here is my app : [https://github.com/XavierColombel/react-native-radio](url)

[2016-11-15 10:41] XavierColombel opened #16 "Add a callback ?"
It would be interesting to add a callback in order to execute another function after the play function is executed. I think about loading name/artwork song after loading music in player. Today, I use setTimeout.

[2016-11-16 09:44] cinder92 opened #17 "React native compatibility version"
that the question, is not compatible with RN >= 0.38

[2016-11-16 10:35] tanguyantoine commented on #16
Any example of you are expecting ? I think this is not the `react-native-music-control` responsability.

[2016-11-16 10:36] tanguyantoine commented on #17
PR ?

[2016-11-16 10:59] cinder92 commented on #17
i'm trying to set local in artwork, but it seems that even when i'm passing absolute url and returning a bitmap is not recognizing image, even from url is not showing....

[2016-11-16 11:27] tanguyantoine commented on #17
Can you elaborate
* sample code
* platform
* real device ?

[2016-11-16 11:30] tanguyantoine commented on #17
Please create a new issue. I updated the template

[2016-11-16 11:30] #17 closed

[2016-11-16 11:44] XavierColombel commented on #16
Sorry, you're right, wrong repo! ;)

[2016-11-16 11:44] #16 closed

[2016-11-16 22:01] #14 closed

[2016-11-16 22:01] tanguyantoine commented on #13
@zumaawad or @jasongrishkoff can you create a PR for that ?

[2016-11-16 22:02] tanguyantoine commented on #12
No activity

[2016-11-16 22:02] #12 closed

[2016-11-16 22:07] cinder92 commented on #1
@Guichaguri  i just have to implement some function in this merge feel free to collaborate :D

[2016-11-23 21:25] tanguyantoine commented on #15
Looks to be working

<img width="370" alt="screen shot 2016-11-23 at 22 24 43" src="https://cloud.githubusercontent.com/assets/263097/20579195/b1475560-b1cb-11e6-95cd-798c501f5b73.png">

[2016-11-23 21:35] XavierColombel commented on #15
The artwork is not shown.

[2016-11-26 12:20] tanguyantoine commented on #15
Can you try with another url than lorempiwel. sometimes their images fail to load.

[2016-11-26 12:21] tanguyantoine commented on #15
Eventually with a local file

[2016-11-26 13:51] XavierColombel commented on #15
Sorry, I forgot to mention I've tested with other distant files and local files, of course. Did you really get something working on your side?

[2016-11-29 13:53] dininski commented on #1
@cinder92 are you still on this?

[2016-11-29 20:30] cinder92 commented on #1
@dininski i'm on, but sadly i'm not an android expert, i just edit some functionality, it needs to implement the controls on notification... @Guichaguri are you here to help us?

[2016-11-30 15:05] Guichaguri commented on #1
@cinder92 Yes. There are two things that need to be implemented: MediaSession (changes lockscreen background and makes it work with smartwatches and cars), Notification (just a simple notification with media buttons).

For the API, Android supports a lot of options.
Just take a look at the new API implementation I did in [RemoteControls](https://github.com/shi11/RemoteControls/pull/32), it support

[2016-11-30 20:32] cinder92 commented on #1
@Guichaguri  yes that true, i saw that this plugin is not working anymore with api 16... this is about media session that is available since API lvl 21, i'm not an android developer but if you need help i can do somenthing...

[2016-12-02 01:24] Guichaguri commented on #1
@cinder92 Version compatibility is not a problem when we can use the official support library. The notification works in almost every version and MediaSession can be easily replaced.

Above API 21: MediaSession and Notification
Between API 14-21: RemoteControlClient and Notification
Below API 14: Notification only

For the API, here's all the properties that I was thinking to support:
[code]
Obvio

[2016-12-02 09:10] tanguyantoine commented on #1
Awesome

[2016-12-03 17:30] Guichaguri commented on #1
@tanguyantoine What is `enableBackgroundMode` supposed to mean? If it's to make the media buttons work in background, what is the point in disabling this?

[2016-12-04 08:16] tanguyantoine commented on #1
It is used by iOs if I remember well to allow application to run in background mode with capabilities

[2016-12-04 08:24] tanguyantoine commented on #1
@victor36max can I close this one now ?

[2016-12-04 14:11] victor36max commented on #1
I think some more changes to be done based on my commit but it basically supports android now

[2016-12-04 15:09] #1 closed

[2016-12-04 15:41] Guichaguri commented on #1
There are still lots of problems: The MediaSession still doesn't get any metadata, there is no implemented events for it, it is also not properly released. There are loads of commented and useless code and it is using OS icons. Google recommends not to use them, since they can be changed/removed anytime.

I've been working on a commit to fix all the existing problems, I'll send a PR soon

[2016-12-14 16:11] GabeJacobs commented on #15
Also getting this :(

[2016-12-16 10:33] tanguyantoine commented on #15
Sorry, I currently have no time to look to this. Are yo able to provide a fix ?

[2016-12-16 10:44] XavierColombel commented on #15
Personally I tried but I'm not able. I hope someone will have time to fix this because I really need it! 😊

[2016-12-16 10:49] tanguyantoine commented on #13
With the new version, is this issue still relevant ?

[2016-12-20 15:11] jasongrishkoff opened #23 "Toggling "play" also starts the SoundCloud app"
Real Android device (Nexus 5x w/ Android 7.1.1)

If I pause my song using:
`MusicControl.on('pause',` ()=> { this.playPause() })`

Firing the app up again with the following also causes my SoundCloud app to start playing again:
`MusicControl.on('play',` ()=> { this.playPause() })`

I'm wondering if they both use ExoPlayer and it's somehow linked to that?

[2016-12-20 15:40] rikochet commented on #23
I'm experiencing a similar issue..

The first time I play/pause VLC will start playing, and the second time Spotify will start.

Looking through the docs I thought [getSessionToken](https://github.com/tanguyantoine/react-native-music-control/blob/a8d22e324700686d84e78615b292ee136b45e817/android/src/main/java/com/tanguyantoine/react/MusicControlModule.java#L83) was supposed to protect against this.

[2016-12-20 16:32] AshkanValadkhani commented on #23
same issue here ( same as @rikochet  ) and volume button not working

[2016-12-20 16:34] jasongrishkoff commented on #23
Yeah, volume button doesn't work for me, but I had assumed that was related to another issue and was still planning to look into it.  Looks like perhaps it's related to MusicControl.  I'll dig deeper, and if so include it in another open issue :)

[2016-12-20 20:38] jasongrishkoff commented on #23
Update: first resume after pause starts SoundCloud; if I pause and then play a second time, it launches Spotify.

[2016-12-21 09:19] rikochet commented on #23
@AshkanValadkhani

I don't fully understand what `setPlaybackToRemote` does, so I just swapped it out for `setPlaybackToLocal` and used AudioManager, now the audio controls work fine.

Example;
```session.setPlaybackToLocal(AudioManager.STREAM_MUSIC);```

[2016-12-21 10:35] rikochet opened #24 "Android: Notification onClick event does nothing"
When clicking the notification during playback you'd expect the app UI to be presented to the user but instead nothing happens.

I imagine it's something around [here](https://github.com/tanguyantoine/react-native-music-control/blob/master/android/src/main/java/com/tanguyantoine/react/MusicControlNotification.java#L52) that needs modifying.

[2016-12-21 10:41] rikochet opened #25 "Android: Volume buttons unresponsive"
During playback volume buttons are unresponsive.

If I replace `session.setPlaybackToRemote()` with `session.setPlaybackToLocal()` and use Android's `AudioManager` I can circumvent this issue.

If I'm honest don't actually know the purpose of `setPlaybackToRemote()` .. Is it something to do with `MediaRouter`?

[2016-12-21 11:16] tanguyantoine commented on #24
Are you able to do a PR to fix that ?

[2016-12-25 22:53] ahmedlhanafy commented on #23
I have this one as well pressing playing triggers all of music apps to play

[2016-12-27 09:33] #24 closed

[2017-01-11 05:23] George-Jenkins opened #27 "Build errors"
For starters, I don't know much about Xcode so I apologize if I don't do the best job of explain my issue.

I get a number of errors when I perform the build. They all seem to involve the RCTBridge.h file. The first error is next to the following syntax:

**@interface RCTBridge : NSObject <RCTInvalidating>**

and it says **! Duplicate interface definition for class 'RCTBridge'**

There are a numbe

[2017-01-11 05:57] George-Jenkins commented on #27
It looks like downgrading from the newest version of react native to 0.39.2. seems to have solved the problem.

[2017-01-11 07:56] tanguyantoine commented on #27
Do you have a sample project ? I did no follow React-Native upgrade, do we still need link manually libraries ?
Can you retry (from scratch if possible) and skip the step manual install and instead run `react-native link react-native-mucis-control` in you project folder

Same as here : https://github.com/johanneslumpe/react-native-fs#usage-ios

Tell me if it works

[2017-01-11 12:29] dnish opened #28 "Build fails on RN 0.40"
# Description

I'm getting the following error after adding and linking the package:

[code]
I've just run <code>react-native link react-native-music-control</code> and can validate that all links where created (if I compare them with the manual steps).

2. Platform
   - [ ] iOS
   - [ x] Android

3. Device
  - [ ] Simulator
  - [x ] Real device

[2017-01-11 14:13] tanguyantoine commented on #28
Did you add it manually ?

[2017-01-11 14:13] tanguyantoine commented on #28
You should have `import com.tanguyantoine.react.MusicControl; ` instead

[2017-01-11 14:13] tanguyantoine commented on #28
can you check ?

[2017-01-11 14:19] dnish commented on #28
@tanguyantoine Yep, the import path was wrong. I didn't add it manually, It was added by the linking command.

<code>import com.facebook.react.ReactApplication;</code> would be correct.

[2017-01-11 16:25] tanguyantoine commented on #28
Hum weird are you able to do a PR to fix that ?

[2017-01-11 16:32] dnish commented on #28
Uff, I have to admit that I'm really new on React Native and don't know how <code>react-native links</code> internally, the only thing that I saw is in https://github.com/tanguyantoine/react-native-music-control/blob/master/android/src/main/AndroidManifest.xml

I'm just wondering if the package name should be <code>com.tanguyantoine.react.MusicControl</code>

[2017-01-11 16:43] tanguyantoine commented on #28
I updated the manifest and published on npm, can you try with the version `0.2.3`

[2017-01-11 20:34] George-Jenkins commented on #27
What seems to work is downgrading to 0.39.0 and running the automatic react-native-music-control installation.

Maybe this thread (and a thread that a comment in the thread links to) can help explain the issue.
https://github.com/airbnb/react-native-maps/issues/937

[2017-01-13 10:46] szokeptr commented on #27
If you update the following in `MusicControlManager.m` from
[code]

to:

[code]

the problem is solved.

[2017-01-13 20:04] tanguyantoine commented on #27
@szokeptr are you able to create a PR ?

[2017-01-13 22:09] George-Jenkins commented on #27
@szokeptr You're a genius and may you live a thousand lives! That did solve the problem. Would anyone happen to know how I can play remote sound files from the network on both IOS and android? I came across this plugin

https://github.com/tlenclos/react-native-audio-streaming

but I couldn't get it to work with the **react-native-music-control** plugin. It basically overrode the **react-native-mus

[2017-01-14 14:42] jasongrishkoff commented on #23
A bit stumped on this one right now -- anyone else figure it out?

[2017-01-15 14:49] rikochet commented on #23
I wasted most of my christmas holiday trying to figure out what was causing this issue and eventually came to the conclusion that issue is with [session.getController().dispatchMediaButtonEvent(ke);](https://github.com/tanguyantoine/react-native-music-control/blob/master/android/src/main/java/com/tanguyantoine/react/MusicControlReceiver.java#L30)..

I couldn't figure out why other apps were confli

[2017-01-15 16:15] jasongrishkoff commented on #23
Interesting!  Do you know how that effects usage of media buttons on your headphones or whatever else one might use?  Would actually be great to compare notes on what you're building and what I'm building -- I've managed to hook up some background interaction stuff using React Native's HeadlessJS so that folks can continue to use the app while it's in the background. Feel free to email me on jason

[2017-01-15 18:08] tanguyantoine commented on #23
I'm not sure it is a problem with this package.

[2017-01-15 18:25] jasongrishkoff commented on #23
I'm quite confident it is in fact an issue with this package. I also built
my own NotificationCompat service and had no similar issues.

On Jan 15, 2017 8:08 PM, "Tanguy Antoine" <notifications@github.com> wrote:

[2017-01-15 18:29] tanguyantoine commented on #25
Sorry I'm not an Android developer, @Guichaguri any thoughts ?

[2017-01-15 18:29] tanguyantoine commented on #23
Sorry I'm not an Android developer, @Guichaguri any thoughts ?

[2017-01-15 19:47] Guichaguri commented on #23
It doesn't work because I thought using Android media controls keys was a good idea for the notification buttons.
I'll fix it soon, and to not make the same mistake, I'll have to create media keys based on the app name to prevent conflict with other apps using the same package

[2017-01-15 19:50] Guichaguri commented on #25
The reason why I use `setPlaybackToRemote` is to make it work with chromecast and other external devices.
It might be a good idea to also add an option to use `setPlaybackToLocal`...
I'll take a look when I have time :)

[2017-01-15 21:21] jasongrishkoff commented on #23
Cool thank you @Guichaguri!  @rikochet, I tried yours and it does indeed solve the issue, though I notice that for some reason it fixes 5x on each event?

[2017-01-18 06:17] jasongrishkoff opened #30 "Auto-destroy?"
Last night before I went to sleep I paused my music app from the notification.  This morning, when I woke up, it was still there.  I tried interacting with the buttons, but they aren't doing anything.  I plugged into to my Android Device Monitor to check the logs, and clicking the media control buttons (play, skip to next) does absolutely nothing in the logs.

I'm guessing this is because the main

[2017-01-19 00:38] cinder92 commented on #23
same issue here! it starts all my music player apps

[2017-01-19 00:51] cinder92 opened #31 "Can't load image from local path Android"
Guys i just saw that i can't load local images in the artwork, so i just modified the file here are changes.

[code]

[2017-01-19 17:42] tanguyantoine commented on #23
@jasongrishkoff is it something you can add in this repo ?

[2017-01-19 17:48] jasongrishkoff commented on #23
@rikochet's solution worked for me - perhaps we should use that?

[2017-01-19 17:49] tanguyantoine commented on #23
Pull request ? :)

[2017-01-19 17:50] jasongrishkoff commented on #23
I don't know how (eeek, sorry!), but here's his branch: https://github.com/tanguyantoine/react-native-music-control/compare/master...rikochet:alt-media-actions

[2017-01-19 17:54] tanguyantoine commented on #23
@rikochet can I let you do that ?

[2017-01-19 19:39] Guichaguri commented on #30
The service that this package creates is exactly for that, when the app is terminated in any form, the notification is destroyed.

I don't know why it didn't work. Can you check the services if it happens another time?

[2017-01-19 19:46] jasongrishkoff commented on #30
I wonder if it has something to do with doze mode?  I do note that if I'm actively using the phone and close the app, the notification is destroyed.  But if I've got the app running in the background flipping through a playlist, pause it, and go to sleep -- when I wake up, the notification is still there, but it's as if Android has done away with the app?  Because the notification becomes pretty u

[2017-01-19 19:49] Guichaguri commented on #30
A possible solution would be launching the app, and then triggering the event. How about that?

[2017-01-19 19:59] Guichaguri commented on #23
Using `setPlaybackToLocal` should be just a temporary fix, as it also breaks a bunch of other things.
I'm currently testing the fix for this and #25, I'll open a PR soon :)

[2017-01-20 20:10] Guichaguri commented on #25
The remote volume has been fixed and there's a `remoteVolume` option which is disabled by default

[2017-01-20 23:17] shshaw commented on #28
I'm getting the following error with react-native-music-control 0.3.0

[code]

[2017-01-21 13:36] #23 closed

[2017-01-21 13:36] #25 closed

[2017-01-21 13:39] tanguyantoine commented on #13
Closed due to no activity

[2017-01-21 13:39] #13 closed

[2017-01-21 13:39] tanguyantoine commented on #27
should be fixed

[2017-01-21 13:40] tanguyantoine commented on #28
@shshaw any ideas ?

[2017-01-21 14:03] shshaw commented on #28
Actually, scratch that. Sorry. I was attempting to debug on a previous version before updating and was making chances to the `import` statement, and changed the `getPackages` list to try to resolve another error. Changing it back to `new MusicControl()` seems to have worked.

I'm getting some different errors now, but the application does compile and runs in the emulator so I'll be checking my cod

[2017-01-21 14:04] #28 closed

[2017-01-23 17:59] shshaw opened #34 "Android: Error using `setNowPlaying` without `rating`"
# Description

1. Sample code (provide repo url or sample code)

[code]
Produces this error:
![screen shot 2017-01-23 at 11 56 02 am](https://cloud.githubusercontent.com/assets/777155/22216041/1929f6ee-e163-11e6-8ac2-1ca2c01f392b.png)

Adding `rating: 100` to the params makes it work without any trouble, though it seems like that shouldn't be required.

2. Platform ?
   - [ ] iOS
   - [x] Android

[2017-01-24 01:15] Guichaguri commented on #34
Okay, this is a little strange
The source code that comes with the gradle dependency can receive a null value, but the [real code](https://github.com/android/platform_frameworks_support/blob/master/media-compat/java/android/support/v4/media/MediaMetadataCompat.java#L803-L809) actually needs a non-null value for Android KitKat

[2017-01-24 01:19] #34 closed

[2017-01-25 02:19] Guichaguri opened #36 "Add setPlayback to iOS"
Currently, setPlayback is only available in Android. Would be nice to have support this function in iOS devices.
Options that can't be implemented in iOS should be ignored and a note should be included in the README clarifying what is Android-only and what is iOS-only

[code]

[2017-01-26 09:23] tanguyantoine opened #37 "Adding screenshots to readme"
# Description

We need to give a clear/quick overview of what this repository/package is doing.

We should add screenshots for both platform to readme

- [x] iOS (@tanguyantoine)
- [ ] Android (@Guichaguri)

[2017-01-26 10:08] Guichaguri commented on #37
We should use the same data for both devices (same title, artist, artwork, etc). I'll let you choose the track.
We also should leave the code that we used for the screenshots as an example

The Android support also works with other external devices, such as Android TV, Android Auto, Google Cast, Android Wear, and even some other devices that don't use Google software. Unfortunately, those devices

[2017-01-27 11:21] tanguyantoine commented on #37
I let you choose the soundtrack :)

[2017-01-28 06:48] Guichaguri commented on #37
Let's use the one in the README: Billie Jean by Michael Jackson.

[code]

[2017-01-29 22:27] cinder92 commented on #37
done in android!

[2017-01-30 21:25] tanguyantoine commented on #37
@cinder92 can you upload it here ?

FYI, I'm currently trying to create a snapshot but I'm not able to run the app on iOs due to expired membership 😠  Will try asap to upload the picture

[2017-01-30 21:52] tanguyantoine commented on #36
* speed: playbackRate
* elapsedTime: elapsedPlaybackTime
* state: what is that referring to ?
* volume/maxVolume : looks to not be customizable in iOs

[2017-01-30 22:14] Guichaguri commented on #36
Wouldn't it be better to move `playbackRate` and `elapsedPlaybackTime` to match the Android side? I've created the `setPlayback` function is for performance reasons, so you wouldn't have to update the metadata every time you just wanted to update the state.

`state` is whether the player is playing, paused, stopped, buffering, etc. Unfortunately, I don't think it's supported in iOS, I've only foun

[2017-01-30 23:01] tanguyantoine commented on #37
I added an image into doc folder , branch : add-screenshot

I will update the readme once we will have both

[2017-01-30 23:05] tanguyantoine commented on #2
https://github.com/tanguyantoine/react-native-music-control-demo

@Guichaguri can you update with android code ?

[2017-02-06 13:07] szokeptr commented on #27
@tanguyantoine sure, I will make a PR as soon as I have some spare time.

[2017-02-26 08:12] deshiknaves commented on #14
I have a very similar issue. RN version 41 IOS.

The play/pause button works as expected. However, the duration keeps going forward even though the music is stopped. I feel like I'm missing something. Is there a way to update the duration time manually?

[2017-02-26 09:35] deshiknaves opened #40 "Pause does not strop duration"
On RN 41. Everything works as expected. Except when I pause the audio, the duration doesn't pause - it keeps going one. Is there a way to manually pause the duration on iOS?

1. Sample code (provide repo url or sample code)

2. Platform ?
   - [X ] iOS
   - [ ] Android

3. Device
  - [X ] Simulator
  - [ ] Real device

[2017-02-26 09:36] deshiknaves commented on #15
This is probably because you're using a http address. By default iOS will only allow https. And now it's a requirement.

[2017-02-26 12:17] deshiknaves commented on #40
Looked thought the source code and there is nothing currently in there to achieve this. I'll send through a pull request that will allow this.

[2017-02-28 03:27] jman48 opened #42 "Does not show pause icon"
# Description
When using music-control I can not get it to show the pause icon. It will show the play icon but when pressed it will not convert/ change into a pause icon (even though the pause and play events are fired correctly).

I tried enabling/ disabling the pause and play controls with MusicControle.enableControl but it still will not show. Even if I just enable the pause control and nothing

[2017-02-28 04:44] Guichaguri commented on #42
There's a `setPlayback` function for Android, you have to set the state to paused.

[2017-02-28 06:19] tanguyantoine commented on #15
@XavierColombel would you mind trying with a https url ?

[2017-02-28 06:23] tanguyantoine commented on #40
closed by #41

[2017-02-28 06:23] #40 closed

[2017-03-02 21:58] jman48 commented on #42
That works perfect thanks

[2017-03-02 21:58] #42 closed

[2017-03-03 01:02] jman48 opened #43 "Android "require()" image support"
# Description
Android version does not support reactjs style require keyword to pass images as the artwork. If you use the require keyword to load an image it will throw IO error as music-control loads from file paths, not drawables. Will then just show the default play icon.

1. Sample code (provide repo url or sample code)
`MusicControl.setNowPlaying({ artwork: require('../images/album.png') });

[2017-03-03 01:21] Guichaguri commented on #43
That would be definitely useful.
@tanguyantoine does the iOS version already supports it?

[2017-03-03 01:29] Guichaguri commented on #2
Once the iOS version supports `setPlayback`, we can finally unify the code for iOS and Android.
We could add a proper UI, and maybe use the Soundcloud API for playback and metadata. What do you think?

[2017-03-03 05:19] jasongrishkoff commented on #2
As an alternative to SoundCloud API, I've been using this library for playback -- has been quite smooth: https://github.com/indiecastfm/react-native-audio-streamer

[2017-03-03 18:10] jasongrishkoff opened #45 "Preventing Android from memory cleaning the app while playing"
Heyo, have any of you had any experience with Android clearing your app while in the background?  It seems to kill everything associated with React Native Music Control.

For context, my app will hit ~120MB of usage.  If I decide to use another app heavily (eg, Chrome) and background my app, it will often get killed when Android clears up memory for the foreground app.  Anyone else having issues w

[2017-03-03 19:38] XavierColombel commented on #15
@tanguyantoine I will try asap and tell you. Did you try it by your side?

[2017-03-03 19:45] tanguyantoine commented on #15
nope , I did not

[2017-03-03 19:53] tanguyantoine commented on #43
kind of. In the iOS implementation it seems to rely on local path and you do not need to use the require function : https://github.com/tanguyantoine/react-native-music-control/blob/master/ios/MusicControlManager.m#L251

Could be great to abstract that a lil bit more.

How do you want to call this api

[code]
or
[code]

The first one is probably clearer in a sense of if it is a string then it is an

[2017-03-03 21:32] Guichaguri commented on #43
@tanguyantoine I agree, the `require` one fits better with React Native, as other local image resources are also specified with `require`.

[2017-03-03 23:52] Guichaguri commented on #45
Is it clearing just the music controls or the whole app (including other packages or headless tasks)?

[2017-03-04 00:41] tanguyantoine opened #46 "Support local image for artwork"
# Description

Expected api call : `MusicControl.setNowPlaying({ artwork: require('../images/album.png') }); `

same as #44 and #43  but for iOs

1. Platform ?
   - [x] iOS

[2017-03-04 00:42] tanguyantoine commented on #43
created #46

[2017-03-04 01:00] #43 closed

[2017-03-04 01:06] Guichaguri commented on #31
Superseded by #43

[2017-03-04 01:06] #31 closed

[2017-03-04 04:06] deshiknaves commented on #15
I am using it in my app, working exactly as expected. [More about ATS](https://developer.apple.com/news/?id=12212016b)

[2017-03-04 06:32] jasongrishkoff commented on #45
Whole app, including other packages and headless tasks.  I think I'm more
wondering if there are any extra steps that can be taken in this module to
convince Android not to kill anything because it's playing music.

On Sat, Mar 4, 2017 at 1:52 AM, Guichaguri <notifications@github.com> wrote:

--
Jason Grishkoff
Founder of Indie Shuffle <https://www.indieshuffle.com/> and SubmitHub
<https://www.sub

[2017-03-04 13:32] Guichaguri commented on #45
What package are you using for playing music? It's their job to prioritize the app while music is playing. I don't think the issue is related to this package. I might be wrong though, I'll take a look and update you with what I've found.

[2017-03-04 13:38] tanguyantoine commented on #15
Can we close ?

[2017-03-04 14:18] jasongrishkoff commented on #45
Hey hey, using this one:
https://github.com/jasongrishkoff/react-native-audio-streamer

It does use Audio Focus, which I think prioritizes things. I actually find that if the main activity is closed by memory cleanup, the React Native Music Control keeps open, but automatically stops playing. I'm going to try monitor the logs a bit closer and see what I can come up with.

[2017-03-05 16:13] Guichaguri commented on #36
Added by #47

[2017-03-05 16:13] #36 closed

[2017-03-06 17:33] XavierColombel commented on #15
@tanguyantoine you can close it, I'll reopen it in case @deshiknaves's solution is not working.

[2017-03-06 21:59] #15 closed

[2017-03-07 09:27] jasongrishkoff commented on #45
Here's a logcat dump at the time of crash.  The RNMusicControl module stays open but the controls become unresponsive.

[code]

[2017-03-07 17:50] Guichaguri commented on #45
It's definitely related to react-native-audio-streamer. It seems to crash the app, including the services

This is the only line that says anything about the music controls:
[code]
The app crashed and Android tries to restart all services, and as the initial state of the music control service is lost, it doesn't remove the Notification and the MediaSession properly.

I think this line is what poin

[2017-03-07 17:50] #45 closed

[2017-03-07 17:51] Guichaguri commented on #30
Does this problem still happens?

[2017-03-07 17:53] jasongrishkoff commented on #30
I think it's related to #45

[2017-03-07 17:56] jasongrishkoff commented on #45
I'm pretty sure it's *not* related to react-native-audio-streamer.  I'm *quite sure* it's related to Android doing a memory clean and killing the *main* activity (the React Native app).  This renders react-native-music-control unresponsive -- the controls don't do anything anymore because the app that start it has been memory cleared.

There's no real way to stop Android from doing a memory sweep.

[2017-03-07 18:54] Guichaguri commented on #45
The problem here seems to be a crash, the music control is removed when the app is terminated even for memory sweeps.
The only thing I can do is to remove the music control when the system has moderate or critical levels of low memory, so it should remove the controls before the app crashes. Is this fine by you?

[2017-03-07 19:19] Guichaguri commented on #45
I implemented it. I don't know how frequent it asks to clear memory in moderate levels, please, let me know if it's too frequent. It should log a message when it is asked to clear memory that looks like this: `Control resources are being removed due to system's low memory`.

[2017-03-07 19:19] jasongrishkoff commented on #45
Sounds like we're on the same page!  The problem here is indeed the crash related to memory sweeps while the app is backgrounded.  I reckon this is going to be a fairly common issue for people with music applications.  The goal would be to keep the music playing + the notification responsive, even when the main parent application has been swept -- and somehow get the main parent to boot back up wh

[2017-03-07 20:03] jasongrishkoff commented on #45
Update: tried your new code and it creates even more issues -- just from using infinite scroll in my FlatList (the new ListView) and taking my app up to ~130MB of memory usage, the MusicPlayer notification closes.

[2017-03-07 20:26] jasongrishkoff opened #48 "undefined function updatePlayback"
# Description
Just updated to the new code and switched my setPlayback functions to updatePlayback, only to be met with the following.

`Alert
TypeError: undefined is not a function (evaluating '_reactNativeMusicControl2.default.updatePlayback({state:_reactNativeMusicControl2.default.STATE_PLAYING,elapsedTime:100})')`

1. Sample code (provide repo url or sample code)

[code]

2. Platform ?
   - [

[2017-03-07 22:22] Guichaguri commented on #45
That's what I expected. It's too frequent, right?
I'll remove the music controls from being removed in moderate levels of low memory, now they will only remove in critical levels or just before they were going to be killed

Also, what size of artworks are you using? Currently, it doesn't resize them. That should be changed too at some point, but for now it uses the original size.

[2017-03-07 22:52] Guichaguri commented on #48
I've just tested and it works fine for me. Can you try to reinstall the package?

[2017-03-08 00:55] #30 closed

[2017-03-08 02:24] Guichaguri opened #49 "Support for rating types"
Currently, this package only supports percentage ratings, while Android actually supports hearts, thumbs up/down, 5 stars, 4 stars, 3 stars and percentage.

The idea is to add an property in `updatePlayback` for the rating type.
Each type comes with a different way to send/receive ratings:
* Heart and Thumbs up/down: Boolean
* 5-3 Stars: Number of stars
* Percentage: Number from 0 to 100

[code]

[2017-03-08 02:24] Guichaguri commented on #49
I'll be working on this tomorrow

[2017-03-08 04:09] natashache opened #50 "Cannot get lockscreen play control to show up"
# Description
Not sure which part I'm not getting about this library. I followed the demo project, but couldn't get any music control to show up on the lock screen.

Here's some of the code. I'm using react-native-sound. The actual playing/pausing are fired by `this.props.resumePlaying` and `this.props.pauseSession`, which are not included below.

[code]
The player itself, handled by react-native-

[2017-03-08 05:01] jasongrishkoff commented on #45
Definitely too frequent -- I think it should only disappear when the parent
app disappears.  But that's still a hack to a bigger problem -- namely,
Android killing background music apps when they do a memory sweep.  If it's
unavoidable that they clean up React Native apps when doing a memory sweep,
I'll need to figure out another way to keep the music playing -- even when
the memory sweep occurs.

[2017-03-08 05:17] jasongrishkoff commented on #48
100% clean install of package results in the attached.
![screenshot_1488950210](https://cloud.githubusercontent.com/assets/375379/23691121/437793dc-03cf-11e7-9185-24430b930454.png)
![screenshot_1488950200](https://cloud.githubusercontent.com/assets/375379/23691122/4378423c-03cf-11e7-9d7d-ed08e933b42d.png)

[2017-03-08 12:16] tanguyantoine commented on #50
would you mind sharing you repo ?

[2017-03-08 12:17] tanguyantoine commented on #50
btw, I updated the library beacause lot of things have change since 2 weeks. Is the problem still present with the new version `0.4.0` ?

[2017-03-08 12:21] tanguyantoine commented on #48
I bumped the new version. would you mind upgrade and retry  ?

[2017-03-08 12:40] jasongrishkoff commented on #48
Yup, that resolved.

[2017-03-08 12:40] #48 closed

[2017-03-08 12:49] jasongrishkoff opened #51 "Artwork from URL not showing up"
# Description
Just updated to the new version and artwork no longer showing up in the notification widget or as a background of lockscreen.

1. Sample code (provide repo url or sample code)

[code]

2. Platform ?
   - [ ] iOS
   - [X ] Android

3. Device
  - [ X] Simulator
  - [X ] Real device

[2017-03-08 15:49] natashache commented on #50
@tanguyantoine I just downloaded the lib from npm the day before yesterday. It says version 0.3.4. Just did a npm update. It didn't change. And [here's the component](https://github.com/natashache/soundwise/blob/master/src/containers/Player.js) where the library is used.

[2017-03-08 17:05] Guichaguri commented on #45
You're right. If you figure out how to keep the music playing, just reopen this issue and let me know and we can try something different

[2017-03-08 17:55] #49 closed

[2017-03-08 17:59] Guichaguri commented on #51
It's definitely caused by #44. I'll investigate it.

[2017-03-08 18:05] #51 closed

[2017-03-08 18:07] Guichaguri commented on #51
It's a really small change which was leaving URL artworks as null values.
It's fixed now, you might want to make this change manually over reinstalling it completely, it's pretty simple

[2017-03-08 18:24] Guichaguri commented on #46
I'll leave here some information which might help you for iOS support for this.

First of all, you need to resolve the require, RN has a function for this which is located at `react-native/Libraries/Image/resolveAssetSource`. [Here](https://github.com/tanguyantoine/react-native-music-control/blob/master/index.android.js#L34-L36) is the JS code used in the Android side, you might want to copy it to

[2017-03-08 19:55] jasongrishkoff commented on #51
Made the change manually in node_modules/react-native-music-control/index.android.js,, did a gradle clean, ran react-native run-android and... it's still not showing artwork?

[2017-03-08 22:25] Guichaguri commented on #51
It's showing for me. The [changes](https://github.com/tanguyantoine/react-native-music-control/compare/eedfb1cc90aa76b532a342b20f17e33028a38b37...master) after last npm publish didn't change anything else related to artworks.

Can you check if npm removed the code to match the published version?

[2017-03-09 00:16] tanguyantoine commented on #50
Can you try by forcing 0.4.0 in `package.json` ?

[2017-03-09 00:27] tanguyantoine commented on #50
I tried to launched your app but not succeeded. extra step to do ?

[2017-03-09 01:04] natashache commented on #50
@tanguyantoine What error message did you get when you tried to launch the app?

One reason can be because it's missing the firebase config file, which I gitignore-d. I can send it to you by email. What's your email address?

I tried force installing 0.4.0. I got an error:
![screenshot 2017-03-08 20 02 17](https://cloud.githubusercontent.com/assets/19754530/23731246/72ced562-043a-11e7-9c2c-005ae33

[2017-03-09 14:58] jasongrishkoff commented on #51
Can confirm, this issue has been resolved.

[2017-03-09 15:00] jasongrishkoff commented on #45
I see in the latest version that you've got it set up to clear the notification bar if the main app gets swept / closed by a memory cleanup.  In an ideal case, it'd keep running and the music would continue to play.

Two questions:
1) Which music library are you using for your testing?
2) Would it make sense to try and get audio playback to occur through this module as well, so that it's part of t

[2017-03-09 15:14] Guichaguri commented on #45
1. I'm using `react-native-sound`, but as the Android side doesn't need anything playing to actually display the controls, I'm mostly testing in silence. The problem is that the notification fires events in Javascript, if the JS code is not running anymore, I can't keep the notification open...

2. It's not a bad idea. I've been thinking about this for sometime now. In my music app, I've been usin

[2017-03-09 17:31] jasongrishkoff commented on #45
I'm down to help as much as I can as well from the Android side.  For reference, the app I'm building is for www.indieshuffle.com -- has nearly 500k installs on Android, so I can't roll out this React Native app until it's functioning quite nicely :)

Right now I'm using react-native-audio-streamer, which does fairly well.  The main things I needed to accomplish were:

1) A working notification wi

[2017-03-09 20:29] jasongrishkoff commented on #45
I don't think this should be destroyed when memory is critical.  Just tested it on a production variant release and it's way too sensitive -- it gets killed before my main app gets killed.

[2017-03-09 21:06] Guichaguri commented on #45
That's the objetive of the critical level: it's fired when the app is about to be killed, so it's your chance to clear resources to prevent the app from being killed. I'll see if I can fire the events in a headless task even when the app is closed

[2017-03-09 21:36] tanguyantoine commented on #45
@Guichaguri

Do you mean a new package ?

@jasongrishkoff sorry for these memory issues but I think this is not the purpose this package, IMHO

[2017-03-09 22:38] Guichaguri commented on #45
Changing this package to play audio is too harmful, most people is already using it with other packages, they are not going to update their code and, instead, use an older version of this package.
We should keep this package the way it is because some people might use external players, such as `react-native-youtube`, also, the API would have to change a lot.

Creating a new package, we can rethink

[2017-03-09 23:32] tanguyantoine commented on #45
@Guichaguri sorry but I do not have enough time to start a new project for the moment. sorry for that.

[2017-03-09 23:45] Guichaguri commented on #45
@tanguyantoine that's fine, I don't have time either at the moment. If I do create the project, I will do when I get back into developing my own music app

[2017-03-10 08:00] jasongrishkoff commented on #45
I'd love to be involved in the development of that, and can probably budget
some funds to help prioritize and cover some of the development costs?
SoundCloud is breathing down my back to get this new version of the app
out, and this is a bit of a breaking point for me :)

My email is jason@indieshuffle.com if you're keen to chat!

On Fri, Mar 10, 2017 at 1:45 AM, Guichaguri <notifications@github.c

[2017-03-14 11:13] deshiknaves opened #52 "Item details not updated on Lock Screen."
When a new item is set with `setPlayback` (as in if you press next from the lock screen), the image is updated, but the title or the time does not update.

This is on iOS on a Real device.

I'll see if I can find out why. Do you know about this at all?

[2017-03-14 11:25] deshiknaves commented on #52
Looks like it's on the control center too. When it's in the background the new name and time not being updated.

Weirdly enough - works fine when it is airplayed. Interesting bug :). I'll do some debugging tomorrow.

[2017-03-14 13:20] deshiknaves commented on #52
This has to do with something completely different. Please ignore.

[2017-03-14 13:20] #52 closed

[2017-03-15 00:53] tanguyantoine commented on #50
can you retry to update again ? it looks  to be published

[2017-03-15 03:00] natashache commented on #50
@tanguyantoine ok, will try it and let you know. Thanks.

[2017-03-29 12:36] nhoclove9x opened #53 "iOS Real device not working"
# Description

1. Sample code (provide repo url or sample code)
 i using sample like readme file. great works on simulator but not working on iPhone 7 iOS 10.
help me.

sorry bad english!

2. Platform ?
   -  iOS

3. Device
  - Real device

[2017-03-29 18:00] SteffeyDev opened #54 "Android changing State not reflected in music control"
Using this code works perfectly on iOS, but on Android when the audio is played, the button in the pull down music controller does not change to pause, the seeker bar does not reflect progress (or anything for that matter), and the artwork is just a large play icon:

`MusicControl.enableControl('play', true);`
`MusicControl.enableControl('pause', true);`
`MusicControl.enableControl('seek', true);`

[2017-03-30 03:35] SteffeyDev opened #55 "Album Artwork not working on iOS"
Using local album artwork on iOS is causing the application to crash, because the javascript require() appears to be returning a number or something other than a string, so when the native module calls hasPrefix on it to check if it begins with "http://" the application crashes, saying that NSNumber does not have a function called hasPrefix.  I am not quite sure how require() works or if calling i

[2017-03-30 17:09] Guichaguri commented on #55
Local artworks using require are not supported on iOS yet. See #46 for details.
I think can specify the path as a string instead of using the require. I'm not an iOS dev though.

[2017-03-30 17:09] #55 closed

[2017-03-30 17:19] Guichaguri commented on #54
Your code should work, I've tested states before and they work as expected.
Can you send screenshots and logcat logs?

[2017-03-30 18:48] SteffeyDev commented on #54
![android music screenshot](https://cloud.githubusercontent.com/assets/10255587/24520744/8b9fbace-1557-11e7-8ef5-b55bd09d3324.png)

I have attached a screenshot, and blocked out large portions for privacy's sake.  The title, artist, and album do work, though I did block them as well.  What is not working is the album artwork (I used require, no errors in the logs generated), the play button here s

[2017-03-30 19:02] SteffeyDev commented on #46
It appears that the android fix would work on iOS as well, because using

`MusicControl.setNowPlaying({artwork: resolveAssetSource(require('path/to/image.png')).uri});`

fixed it for me on iOS.

[2017-03-30 19:48] Guichaguri commented on #46
@SteffeyDev It works but it's not the proper solution to this problem. Currently, the iOS side detects when the artwork starts with "http", if it does, it loads a remove artwork, if not, it loads a local one.
In Android, it always loads strings as remote artworks and `require` objects as local artworks. This is better because we can have remote URLs with other protocols, such as ftp.

[2017-03-31 04:05] SteffeyDev commented on #46
I am only guessing here, but you could just pass the result of resolveAssetSource || the string to the native code like in index.android.js, then in objective c test if you get a dictionary object.  If yes, use the dictionary["uri"], otherwise load the string as remote.

[2017-04-03 18:06] tanguyantoine commented on #53
Could you share your repo ?

[2017-04-04 18:18] tanguyantoine commented on #46
Does that work to display local image ? would be pretty straight forward to make it work on iOs this way :)

[2017-04-04 20:39] SteffeyDev commented on #46
That would certainly work, but for consistancy between iOS and Android you should just do in index.ios.js what you did in index.android.js, and then modify the iOS native module to do the detection and switching. I'll be working on the android native code to figure out why it's not working, so I can test this out as well and throw in a pull request if it works.

[2017-04-09 04:08] deshiknaves opened #58 "Android clicking notification item open new version of the app"
Having some weird behavior with the android version of the music control. Clicking on the tack in the notification brings up a second version of the app instead of the current version that is playing.

![image](https://cloud.githubusercontent.com/assets/862834/24834596/e811ef7e-1d2d-11e7-9b6c-3d14af0bebf4.png)

1. Sample code (provide repo url or sample code)

2. Platform
   - [ x] Android

3. Dev

[2017-04-09 04:30] deshiknaves commented on #58
My lack of understanding on how Android works

`android:launchMode="singleInstance"` takes care of it.

[2017-04-09 04:30] #58 closed

[2017-04-09 04:51] deshiknaves opened #59 "Artwork does not display for Android"
`setNowPlaying` with artwork does not work on Android. However if I use the `setNowPlaying` from the ios version, then the artwork does display. I'm guessing ti has to do with:

`if(info.artwork) {
        info.artwork = resolveAssetSource(info.artwork) || info.artwork;
    }`

When ios version is used:
![image](https://cloud.githubusercontent.com/assets/862834/24834851/e49ea48a-1d33-11e7-8bd4-a08

[2017-04-09 05:09] deshiknaves commented on #59
I had to clean the cache. But it started working after. Also updated the repo.

[2017-04-09 05:09] #59 closed

[2017-04-09 15:52] darbaoui opened #60 "issue with your famous library"
# Description
im using for playing audio this library [react-native-audio-streaming](https://github.com/tlenclos/react-native-audio-streaming)
but if i import only your library in my code in the top of javascript file
i have this error

![screenshot_1491752247](https://cloud.githubusercontent.com/assets/6907747/24838687/ec30d14e-1d44-11e7-86de-c13ff117c69f.png)

2. Platform ?

   - [ ] Android

3.

[2017-04-09 17:14] Guichaguri commented on #60
Did you follow the installation instructions?

[2017-04-09 17:27] darbaoui commented on #60
yes
![capture d ecran 2017-04-09 a 18 26 04](https://cloud.githubusercontent.com/assets/6907747/24839434/117ab782-1d52-11e7-97a8-b9c3203d1353.png)
ve

[2017-04-10 17:02] tanguyantoine commented on #60
@darbaoui woudl you mind sharing your code ?

[2017-04-11 02:23] menan commented on #53
I am having this issue as well.

[2017-04-11 13:38] darbaoui commented on #60
@tanguyantoine
I resolved this issue by using this library [react-native-video](https://github.com/react-native-community/react-native-video), with your library
thanks @tanguyantoine

[2017-04-11 13:39] #60 closed

[2017-04-11 15:19] darbaoui commented on #42
@jman48
please can you share the code for using function **setPlayback** to toggle button in notification (Android)
i have the same issue

[2017-04-15 11:13] tanguyantoine commented on #53
Would you mind explaining precisely what is nor working ?

[2017-04-17 03:10] menan commented on #53
It just won't show anything I set, in the Control Centre or Lock Screen on my device. It works fine in Android device and iOS simulators. Only in devices I see nothing.

[2017-04-20 09:26] deshiknaves opened #62 "App crashing when killed from tabs"
# Description
When an app is killed from the from the background tabs, I get this issue.

java.lang.NullPointerException: Attempt to invoke virtual method 'void com.tanguyantoine.react.MusicControlNotification.hide()' on a null object reference
04-20 19:21:59.103  3394  3394 E AndroidRuntime: 	at android.app.ActivityThread.handleServiceArgs(ActivityThread.java:3343)
04-20 19:21:59.103  3394  3394

[2017-04-20 17:04] #62 closed

[2017-04-20 17:16] Guichaguri commented on #62
This was caused because the service is trying to clear the resources of the module, but they were cleared before because of low memory. I've added a fix that checks if it was already destroyed before trying to destroy.

[2017-04-23 05:55] deshiknaves commented on #62
Awesome cheers.

[2017-05-02 00:04] jman48 commented on #42
@darbaoui Use updatePlayback function like so:

To set play icon
[code]
 or to set pause icon
[code]

[2017-05-09 07:56] valinaga opened #63 "Android: updatePlayback does not update title, artist and album."
# Description
Title, artist, album, description not updated when using `MusicControl.updatePlayback`.

1. Sample code (provide repo url or sample code)
`MusicControl.updatePlayback({`
`    album: 'Capitolul 3',`
`    title: 'title',`
`    artist: 'artist',`
`    elapsedTime: 1,`
`    duration: 100,`
`});`

2. Platform ?
   - [- ] iOS
   - [X] Android

3. Device
  - [X] Simulator
  - [ ] Real devic

[2017-05-09 10:49] tanguyantoine commented on #63
you should use `setNowPlaying`, @Guichaguri can you confirm ?

[2017-05-09 16:52] Guichaguri commented on #63
That's right. `setNowPlaying` is for information about the track, `updatePlayback` is for information about the player. It's all documented in the [readme](https://github.com/tanguyantoine/react-native-music-control/blob/master/README.md#use)

[2017-05-09 17:10] valinaga commented on #63
@tanguyantoine, @Guichaguri Thanks!

[2017-05-09 18:40] #63 closed

[2017-05-17 09:03] zdol commented on #53
Any news on this? Any ideas?

[2017-05-17 20:11] wschurman opened #64 "Higher-resolution android notification icons"
## Description

I'm working with @mylafay (designer) to re-generate all icon sizes for android notifications.
Probably need to add at least xxhdpi, hdpi, mdpi, but will just generate all of the sizes and put up a pull request.

I saw @SteffeyDev did it in https://github.com/SteffeyDev/react-native-music-control/commit/3c6cf729072c143fd524a4eb8e19950da57fefb6 but it looks like different padding was

[2017-05-17 20:21] tanguyantoine commented on #53
@zdol do you have the same issue ?

[2017-05-17 20:22] #27 closed

[2017-05-17 20:23] tanguyantoine commented on #2
demo link : https://github.com/tanguyantoine/react-native-music-control-demo

would be great if someone can push the part for Android

[2017-05-17 20:24] #2 closed

[2017-05-17 20:25] tanguyantoine commented on #50
did that worked ?

[2017-05-17 20:44] wschurman commented on #64
Figma file: https://www.figma.com/file/WgbgGWeUWqJRNWWlaYyFgvz5/Control-Icons

[2017-05-17 21:00] zdol commented on #53
Yes, on iOS simulator it mostly works, but on real device nothing happens.

[2017-05-17 21:18] #64 closed

[2017-05-18 11:45] tanguyantoine commented on #53
would you mind sharing your app ?

[2017-05-18 12:27] zdol commented on #53
Sorry, I cannot share full code right now. For all it matters, I essentially just tried the 'Michael Jackson' example code found here. The app's functionality is like a remote control.

I found what the problem is, though. If there is no sound playback initiated (like in your demo app using react-native-sound) the controls will not change. I put a 10 sec. silent track to play. although this might

[2017-05-18 17:37] tanguyantoine commented on #53
any chance to made a PR on the demo app ?

[2017-05-18 19:55] natashache commented on #50
@tanguyantoine sorry I set this project aside for a while. Going to pick it up again this month. Will try it and let you know. Thank you so much!

[2017-05-19 09:47] zdol commented on #53
I made a pull request on the demo app.

I added a couple of buttons to showcase this bug
If you press "PLAY NO AUDIO" or "UPDATE INFO":
- on the iOS simulator, control center info will change
- on iOS device, nothing happens

If you press "PLAY SONG" (nothing really changed there) playback starts and afterwards the other two buttons function properly in both cases (simulator/device)

I'm on iOS 10

[2017-05-19 14:13] dnish opened #67 "Notification is minimized"
Hey,
I'm having an issue with your great plugin. While playing music, the notification is minimized on lock screen. I have to click on it to show up the music controls. If I start f.e. Spotify, the music controls are visible the whole time and I'm able to control the playback without any further click on the lock screen. Any idea which setting is missing?

Platform ?
   - [ ] iOS
   - [x] Android

[2017-05-19 21:06] dnish opened #68 "java.lang.RuntimeException Unable to start service"
Hey,
within our production app, I've received the following crash report:

[code]

Both devices are on Android 6.0 and 7.0. Any idea what's causing this?

[2017-05-19 21:44] dnish commented on #68
This one is also related to this issue:

[code]

[2017-05-20 09:44] dnish opened #69 "Exception Bad notification posted from package"
Hey,
we getting the following exception message from Bugsnag:

[code]

Platform ?
   - [ ] iOS
   - [x] Android

 Device
  - [ ] Simulator
  - [x] Real device (Android 5.0)

It seems only to happen on Android versions below 6.0.

[2017-05-20 12:15] tanguyantoine commented on #50
I close this issue. feel free to ping here if you encounter the same problem

[2017-05-20 12:15] #50 closed

[2017-05-20 13:45] tanguyantoine commented on #37
@Guichaguri are you able to provide a scrrenshot for android ?
btw I updated the demo app : https://github.com/tanguyantoine/react-native-music-control-demo

[2017-05-20 13:46] tanguyantoine commented on #37
It would be awesome to have the Android demo version ;-)

[2017-05-20 13:47] tanguyantoine commented on #53
could you re-test with the new version published 0.4.4 ?

[2017-05-22 14:45] menan commented on #53
Tried it with `0.4.4` still not working.

[2017-05-22 22:12] dnish opened #70 "Getting java.util.ConcurrentModificationException"
# Description
Today we've received another exception within our bug tracker, caused by the plugin:

[code]

2. Platform ?
   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device (Android 5.0.1)

[2017-05-29 05:19] vennassafir opened #71 "Could not invoke MusicControlManager.setNowPlaying"
Hi, I'm doing a music player. When ı call a song, app crashed and this error appear. Please help me?
Thanks..

onLoad(params) {
     this.setState({toggleFull:false});
     SongCaught = false;
    if(FirstDispatch){
        FirstDispatch = false;
    }
    else{
        this.setState({playing:true})
    }

     MusicControl.setNowPlaying({
        title: this.props.realSong.title,
        artwork:

[2017-05-29 09:57] tanguyantoine commented on #71
Can you provide error logs and/or application repository/code ?

[2017-05-29 16:04] vennassafir commented on #71
I can send app code to your email address

E/unknown:React( 6916): Exception in native call
E/unknown:React( 6916): java.lang.RuntimeException: Could not invoke MusicControlManager.setNowPlaying
E/unknown:React( 6916): 	at com.facebook.react.bridge.BaseJavaModule$JavaMethod.invoke(BaseJavaModule.java:382)
E/unknown:React( 6916): 	at com.facebook.react.cxxbridge.JavaModuleWrapper.invoke(JavaModuleW

[2017-05-30 08:50] tanguyantoine commented on #71
@vennassafir did you well follow setup instruction ? @Guichaguri any thoughts ?

[2017-05-30 09:17] vennassafir commented on #71
it is working before updated react native version.. Now react native version 44. it was working 42.

[2017-05-30 13:13] Guichaguri commented on #71
It seems to be a problem with the support library.
Which Android version are you using?
Can you try running it after executing this command: `gradle build --refresh-dependencies`?

[2017-05-30 14:18] zoranmarjanovic commented on #53
+1, any updates on this one

[2017-05-30 18:40] tanguyantoine commented on #53
which RN version do you have ?

[2017-05-31 04:41] bestseob93 commented on #53
it works on my device (iphone 6s, ios 10.3)

[2017-05-31 07:07] zoranmarjanovic commented on #53
@tanguyantoine RN version: 0.42.3
It is interesting, it works in android and simulator but it doesn't work on iphone SE and iphone 5s

[2017-05-31 11:59] vennassafir commented on #71
I using Android version 25.
After which process I will run this command?

[2017-05-31 13:16] zdol commented on #53
Developing with the iPhone SE as well here. Still got the issues I described above. Maybe it's an iOS bug. I read elsewhere that the simulator is not to be trusted always, especially when it has to do with control center.

To people with larger phones, does the module work without any actual audio playing? That seems to be the culprit.

[2017-05-31 14:13] Guichaguri commented on #71
Run it before building the app.
You mean API level 25, right? Which would be Android Nougat (7.1)
That's really strange, a lollipop+ device shouldn't use `RemoteControlClient`

[2017-05-31 16:48] vennassafir commented on #71
When  I run the app  on the android api version 23, the plugin was running fine. But, when I update the application I got the errors below and couldnt get apk release build.

To solve the error below, I updated to android api 25, I got the release build but the plugin gave the errors that I got in the first place.@Guichaguri I tried your solution above, but id wouldnt work.

Hope you can help out

[2017-05-31 18:54] Guichaguri commented on #71
You have to, not only update the API version, but also update the support library version. If you don't really need to update, please, keep using API level 23, which is the one that React Native is built on and tested on.

[2017-06-03 12:47] vennassafir commented on #71
Thank you your answers,  but still plugin doesn't working on Android 4.4

Do you think to update plugin soon?

[2017-06-04 17:16] gaodeng commented on #53
RN version:0.42.3.When run in  the simulator it is working as expected, but Iphone SE real Device not working, not show any thing in control center.

[2017-06-18 14:02] QQizi commented on #53
Same problem here, Simulator is ok, with or without any sound playing.
Iphone 6, IOS 10.3.2, nothing in the control center

[2017-06-19 01:24] tanguyantoine commented on #53
Yes, sorry I had no time to handle this issue. I will try to give it a try during the week, hopefully

[2017-06-19 01:27] tanguyantoine commented on #53
@QQizi do you have a public repo where I can see what you did ?

[2017-06-20 17:19] #68 closed

[2017-06-23 01:17] tanguyantoine commented on #53
@QQizi  ?

[2017-06-26 11:10] DanNi0130 commented on #67
I am having this issue as well, Android Version 5.0.1 on a Samsung Galaxy S4.

[2017-06-30 18:59] gmverdon commented on #67
+1

[2017-07-12 17:00] skleest commented on #69
Seeing the same error as well!

[2017-07-25 15:49] natashache commented on #53
@tanguyantoine any update on this? I'm having the same issue. It's not showing on real iphone.

[2017-07-25 16:01] tanguyantoine commented on #53
Can you post your device configuration?

On 25 Jul 2017, 17:58 +0200, Natasha Che <notifications@github.com>, wrote:

[2017-07-25 16:03] QQizi commented on #53
@tanguyantoine & @natashache sorry for the late answer.
I'v managed to fixe it, it was a mistake from my side for sure since it's working now.

@tanguyantoine does
`<key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
    </array>`
ring any bell to you ? I think that's what i needed to add to my plist.

[2017-07-25 16:19] natashache commented on #53
@QQizi How did you fix it? By adding that line of code to your plist?

[2017-07-25 16:30] tanguyantoine commented on #53
@QQizi any chance to get a PR adding this step to the documentation if it is not present ?

:+1:

On 25 Jul 2017, 18:23 +0200, Natasha Che <notifications@github.com>, wrote:

[2017-07-25 16:38] QQizi commented on #53
@natashache Try it and let me know if that fixed your problem.

[2017-07-25 16:50] QQizi commented on #53
@natashache BTW, did you had those lines :
`MusicControl.enableControl('play', true)
MusicControl.enableControl('pause', true)
MusicControl.enableControl('stop', true)`

Before using :

`MusicControl.setNowPlaying({})`

It is not clearly explained in the documentation that you need to enable the controls before using the setNowPlaying method

[2017-07-25 20:52] natashache commented on #53
@QQizi I have

[2017-07-26 15:57] tanguyantoine commented on #53
@natashache can you test by enabling background mode setting in XCode too ?
<img width="1146" alt="screen shot 2017-07-26 at 17 55 45" src="https://user-images.githubusercontent.com/263097/28630866-beb84094-722b-11e7-8ed2-b495c9f37956.png">

If it works please respond here in order to close the issue. I will update the README accordingly

[2017-07-27 03:05] natashache commented on #53
@tanguyantoine will test it this weekend. Thanks!

[2017-07-29 22:43] tanguyantoine commented on #53
I updated the README : https://github.com/tanguyantoine/react-native-music-control/pull/74

when you confirm it fixes your problem @natashache I close this issue

[2017-07-31 03:05] natashache commented on #53
@tanguyantoine I tried again. Still didn't work. No lock screen control showing up on real device. I tried 1) adding `<key>UIBackgroundModes</key> <array> <string>audio</string> </array>` to info.plist; 2) enabled background mode in XCode; 3) added `MusicControl.enableControl('play', true) MusicControl.enableControl('pause', true) MusicControl.enableControl('stop', true)` before `setNowPlaying`.

[2017-08-14 21:29] menan commented on #53
It still doesn't work @tanguyantoine

[2017-08-14 22:55] tanguyantoine commented on #53
can you , both of you, send us the link to your repo and step reproduce it ?
do you hame the same issue with the demo app https://github.com/tanguyantoine/react-native-music-control-demo ?

[2017-08-17 12:26] theinvensi opened #82 "[Android 6.0 or 7.0] Crashing when load external image"
# Description

1. Sample code (provide repo url or sample code)
![image](https://user-images.githubusercontent.com/4583856/29412254-eed39fac-8325-11e7-8be1-53d57f32b05e.png)

![image](https://user-images.githubusercontent.com/4583856/29412259-f5eb34da-8325-11e7-9dcc-15be011e5bba.png)

2. Platform ?
- [x] Android

3. Device
  - [x] Real device

This error appears on Play Store ARN Errors:

![image]

[2017-08-17 17:37] Guichaguri commented on #82
Can you send the full error logs?

[2017-08-21 07:38] anderslemke opened #83 "putBitmap on a null object reference"
# Description

I get the following error from Crashlytics:

[code]

It has occurred on Android 5, 6 and 7 and a plethora of devices.

1. Sample code (provide repo url or sample code)

https://github.com/tanguyantoine/react-native-music-control/blob/196b3f89cf16a3718ddb0e29ec954a12faec87b1/android/src/main/java/com/tanguyantoine/react/MusicControlModule.java#L224

2. Platform ?
   - [ ] iOS
   - [x

[2017-08-21 22:22] Guichaguri commented on #83
Strange... The only way this can happen is when the module is destroyed, but when it destroys, it also stops the artwork thread

[2017-08-21 22:25] #83 closed

[2017-08-21 22:25] Guichaguri commented on #83
Anyway, here is a quick fix

[2017-08-23 11:27] anderslemke commented on #83
Thanks a lot @Guichaguri (You're here as well... 👍  )

[2017-08-31 03:34] SteffeyDev commented on #54
OBE, closing, see !78

[2017-08-31 03:34] #54 closed

[2017-08-31 03:35] SteffeyDev commented on #46
@tanguyantoine  This support was added in #78, so this issue can probably be closed now

[2017-08-31 13:02] #46 closed

[2017-09-01 14:27] gvenk commented on #53
Looks like I ran into the same problem :-( iOS simulator is working perfect, but on a real device (iPhone 6/iOS10) it's not working.

Demo app is also not working (can't even hear the audio play, have to look why)

[2017-09-01 15:23] gvenk commented on #53
Looks like I found my problem. I'm using react-native-sound and was using `Sound.setCategory('Playback', true)`, so mixWithOthers = true. If I set this to false, the MusicControl shows the correct info, even on a Real device :-)

[2017-09-01 16:49] tanguyantoine commented on #53
any chance you detail this in the readme ?

[2017-09-01 22:26] gvenk commented on #53
@tanguyantoine I'll try to add some info to the readme and submit a PR

[2017-09-02 00:00] tanguyantoine commented on #53
@nhoclove9x @menan @natashache @zoranmarjanovic @zdol could this react-native-sound's trick solve the issue ?

[2017-09-05 20:03] Jeremaiha opened #87 "Can't Load Image From Project"
# Description
Hi, I'm trying to require a simple image from my project and I get a crash.
Can anyone help me ?

1. Sample code:
MusicControl.setNowPlaying({
      title: this.title,
      artwork: require('Images/someImage'), // URL or RN's image require()
      artist: "",
      album: "",
      genre: "",
      duration: parseInt(this.player.duration / 1000) // (Seconds)
    });

2. Platform ?

[2017-09-05 20:39] tanguyantoine commented on #87
logs ?

[2017-09-06 08:34] Jeremaiha commented on #87
Basically now I'm using `file-url` module so it doesn't get crashed.
But I'm still receiving an empty image.
* What is the proper way to load the image's path: `Project/App/Images/myImage.png`

[2017-09-06 11:33] tanguyantoine commented on #87
Can you make sure you followed these steps https://facebook.github.io/react-native/docs/images.html

[2017-09-06 12:39] Jeremaiha commented on #87
@tanguyantoine
Everything from your url seems ok, from what I saw in xcode, is it doesn't find the image.

[2017-09-06 19:54] tanguyantoine commented on #87
If it does not show up in Xcode then this you should solve this issue before

[2017-09-07 12:04] Jeremaiha commented on #87
@tanguyantoine
It does show in Xcode, the problem is when trying to use `fileExistsAtPath`
When I disabled the if statement, and just gave the UIImageView to create the image from the path it worked.
Is it possible to remove that if-statement? not having it won't crash the app, the image will just be nil and nothing will show if the `path` is wrong.
Also, from what I read in stackoverflow they men

[2017-09-07 13:06] tanguyantoine commented on #87
Which if statement are you talking about ?

[2017-09-07 13:11] Jeremaiha commented on #87
1. Open Xcode
2. Go to file named `MusicControlManager.m` lines 249-252.
3. Code can be rewritten to just `image = [UIImage imageNamed:url];`

Give me your thoughts about it.

[2017-09-07 14:45] tanguyantoine commented on #87
any chance you create a pull request for this ?

[2017-09-07 14:47] Jeremaiha commented on #87
Yes I'll try.
Will let you know if something goes wrong

[2017-09-10 07:24] Jeremaiha commented on #87
Apparently it says I need permissions to publish a pull request.
This is the change I suggest:
![screen shot 2017-09-10 at 10 22 53](https://user-images.githubusercontent.com/7548074/30246997-1454f63c-9612-11e7-9752-0a784a984ff8.png)

[2017-09-10 13:01] tanguyantoine commented on #87
In order to create a PR you need your own fork.
https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2017-09-12 08:25] Jeremaiha commented on #87
@tanguyantoine
Hi again,
Please revert my latest PR, my fixes work on version 0.4.4, since I didn't update the repository I was working on, my changes were working.
Now that I've upgraded the package in the repository, it doesn't work, not sure at the moment to say why, I believe it has something to do with the 'artwork bug fixes' which were lately uploaded.
I will give a more in depth look later

[2017-09-12 10:35] tanguyantoine commented on #87
closed by #89

[2017-09-12 10:35] #87 closed

[2017-09-12 10:38] tanguyantoine commented on #87
reverted

[2017-09-14 09:22] ngrj opened #91 "won't work in android when compileSdkVersion is 25"
# My react native project requires minimum comileSdkversion to be 25, when I update the build.gradle file accordingly the package does not work and it raised error when I try setNowPlaying

1. Sample code (provide repo url or sample code)
I changed the build.gradle file like this:
`android {
    compileSdkVersion 25
    buildToolsVersion "25.0.0"
}
`

2. Platform ?
   - [ ] Android

3. Device
  -

[2017-09-14 12:03] jdemangeon commented on #91
:+1:

[2017-09-14 22:50] Guichaguri commented on #91
It was a crash introduced by @mzmiric5's PR. Fixed in https://github.com/tanguyantoine/react-native-music-control/commit/761813acf0d7290b8bf7bca8f885115a41736485

[2017-09-14 22:50] #91 closed

[2017-09-14 23:22] tanguyantoine commented on #82
@theinvensi do you still have the issue ?

[2017-09-14 23:22] tanguyantoine commented on #91
Version bump ?

[2017-09-14 23:33] Guichaguri commented on #91
Done.

[2017-09-14 23:35] tanguyantoine commented on #91
faster than flash

[2017-09-15 05:41] jdemangeon commented on #91
Thanks =) It's maybe the right moment to introduce unit tests to avoid regressions ?

[2017-09-15 07:35] ngrj commented on #91
Hi really thanks for the awesome work,
I've updated the package now I'm receiving this error:

`Exception in native call
E/unknown:React(16859): java.lang.RuntimeException: Could not invoke MusicControlManager.setNowPlaying
E/unknown:React(16859):     at com.facebook.react.bridge.BaseJavaModule$JavaMethod.invoke(BaseJavaModule.java:382)
E/unknown:React(16859):     at com.facebook.react.cxxbridge.J

[2017-09-15 09:15] tanguyantoine commented on #91
@jdemangeon your pr is welcome ;-)

[2017-09-15 10:28] tiendn opened #92 "Different time when pause and re-playing audio"
# Play audio in background - iOS
  Current time is showed not right:
  * When **lock screen**, it begins from 0.
  * And then, when click **pause**, it returns the real time of audio
  * But next, **play again** this is reset to 0. ( I didn't find any method for updating playing time ).

![issue](https://user-images.githubusercontent.com/15717476/30478490-6fea850c-9a3b-11e7-851d-d6927901f31a.gif)

[2017-09-15 12:54] Guichaguri commented on #91
@ngrj This looks like an issue with the support library, not with this module. Can you refresh the dependencies and try again, please?

[2017-09-15 13:13] ngrj commented on #91
okay will do that, thanks

[2017-09-16 03:06] tanguyantoine commented on #92
Why do you set `elapsedTime`when you pause the song ? On the second play if you set `elapsedTime` does it work ?

[2017-09-16 14:23] tiendn commented on #92
I set ```elapsedTime``` because I want to show the currentTime playing.
And if didn't, the **currentTime** will be returned 0.
"On the second play if you set elapsedTime does it work ?" --> I don't know what you mean.
Is that when play again, use method setNowPlaying() ?

[2017-09-16 15:31] tiendn commented on #92
I set ```elapsedTime`` for saving the **currentTime** playing.
Ahha, thank you for your suggesting. I have defined wrong way when playing again.
Here is my code:
[code]

[2017-09-16 16:11] tanguyantoine commented on #92
👍

[2017-09-16 17:08] tiendn commented on #92
Ah, By the way.
I have a question, about ```setNowPlaying()```, when set artwork from url online.
But the request is **async**, it makes my ```artwork``` show late 2-second after **lock screen**.
--> That's why my **current time** is less than **real current time**.
- So, can you update any options for that, such as load image before set ```artwork```?

[2017-09-16 17:27] Guichaguri commented on #92
@tiendn You can download the image and setting from a path instead of an URL

[2017-09-17 02:45] tiendn commented on #92
@Guichaguri , If I download, what happens with the dynamic image?
But I have another solution before I play audio, I have loaded the image before. So that the next time I call that image, it'll be rendered fastly.
But I didn't know why 😅

[2017-09-17 03:30] #92 closed

[2017-09-17 03:33] tanguyantoine commented on #82
closing because of no response

[2017-09-17 03:33] #82 closed

[2017-09-17 03:34] tanguyantoine commented on #71
@vennassafir we have release multiple time the public, is you issue still present ?
@Guichaguri is Android 4.4 an old version ?

[2017-09-17 03:35] tanguyantoine commented on #70
I don't know if the package support android 5. @Guichaguri ?

[2017-09-17 03:36] tanguyantoine commented on #69
same as #70

[2017-09-17 03:37] tanguyantoine commented on #53
no response, no error anymore 😁

[2017-09-17 03:37] #53 closed

[2017-09-17 03:37] tanguyantoine commented on #37
up

[2017-09-17 13:38] Guichaguri commented on #69
This seems to be a bug with the support library. It should handle the notification controls on versions below 6.0. Can you refresh the dependencies and try again?

[2017-09-17 13:39] Guichaguri commented on #92
@tiendn It's OkHttp's caching.

[2017-09-17 13:55] Guichaguri commented on #71
@tanguyantoine Pretty much, it was released in October, 2013 and there are still 15% of active devices running it, according to Google

@vennassafir It might be a problem with your player, not with this package. On versions below 5.0, the support library uses an older deprecated feature for lockscreen controls. That feature has a lot of requirements: audio focus, the media metadata has to be updat

[2017-09-17 14:03] #70 closed

[2017-09-20 00:24] Monte47 opened #94 "Missing file extension for 'react-native-music-control'"
2. Platform ?
   - [x] iOS
   - [ ] Android

3. Device
  - [x] Simulator
  - [ ] Real device

So this package is not working at all for me and my linter is giving me the error stated in the title.

[code]

[code]

I cleaned and relinked everything to no avail.

[2017-09-20 01:29] tanguyantoine commented on #94
if it is your linter then it is not linked to the package. Do you have a repo you can share ?

[2017-09-20 17:59] Monte47 commented on #94
I unfortunately can't share repo at this time since it is Private.

On device it actually works for the most part but now i'm having a separate issue with the lock screen not working when audio is paused. I will investigate further and make a separate issue if I can't figure it out.

[2017-09-20 17:59] #94 closed

[2017-09-20 18:26] Monte47 opened #95 "IOS lock screen functionality not working when paused."
# Description
The lock screen controls do not appear when the audio source is paused. They work fine when playing, but as soon as I press pause the controls go away.

Control center controls work fine. In fact when using them on the lock screen, I can see the lock screen controls coming in and out.

1. Sample code (provide repo url or sample code)
[code]

2. Platform ?
   - [x] iOS
   - [ ] Androi

[2017-09-20 22:37] #95 closed

[2017-09-25 01:10] flarocca opened #96 "Custom Now Playing theme"
Hey!! Firstly I wanted to say Thanks for your contribution!!! It is a great Lib!.
**This is more like a question rather than an issue**, I just wanted to know if there is a way to customise (Controls' position, icons, colors, etc) the theme of the NowPlaying control. Perhaps you guys can give me a clue on how to do it using ReactNative or Android Studio.

Thanks

2. Platform ?
   - [ ] iOS
   - [x

[2017-09-25 12:06] lossen opened #97 "artwork size"
Hello.
What are the minimum and maximum sizes should be in artwork?

[2017-09-25 22:09] Guichaguri commented on #96
You can replace the resource files for the icons. The color can be customized through the `color` option in `setNowPlaying`. The position of the buttons can not be changed unless you modify the code.

[2017-09-26 06:44] tanguyantoine commented on #97
iOS or android?

[2017-09-27 14:05] natashache opened #98 "Artwork from url not showing"
# Description
Music control is not showing the album artwork from url.

![img_4128](https://user-images.githubusercontent.com/19754530/30918040-64d52382-a36b-11e7-8566-3256e421d93d.PNG)
1. Sample code
[code]

2. Platform ?
   - [x ] iOS

3. Device
  - [x ] Real device

3. Modules
[code]

[2017-09-28 10:49] martinlockett commented on #98
Works for me on iOS10 (looks like you're using iOS10)

[code]

[2017-10-02 08:48] lossen commented on #97
iOS and android

[2017-10-02 20:56] Guichaguri commented on #97
For Android, just don't use huge artworks as they would end up using a lot of RAM

[2017-10-04 20:54] tanguyantoine commented on #97
no restriction on ios

[2017-10-04 20:54] #97 closed

[2017-10-13 20:40] polp6880 opened #99 "iOS 11 supported?"
Does this work on iOS 11 please? I've tried the example, can get it to work but control centre details are not updated. Thanks.

1. Sample code (provide repo url or sample code)
n/a

2. Platform ?
   - [x] iOS
   - [ ] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2017-10-17 08:41] jankarres commented on #67
I had the same issue and I have solved it. I have the following control settings in my JS code:

[code]

In the "hacked" solution you'll find the method setShowActionsInCompactView, which expects an index array of via builder.addAction() hooked actions. I am not a Java developer, so I cannot figure out a clean implantation of this feature. Actually @tanguyantoine could help out here? I think this

[2017-10-17 15:49] natashache commented on #99
It stopped working after I installed iOS11. But it's working now after I restarted the phone.

[2017-10-17 16:27] jankarres opened #101 "Headphones unplugged trigger for Android"
# Description

The package is able to trigger "pause" on headphones unplugged for iOS. This would be a nice feature for Android, too. I this feature should not be complicated to implement think for Android developer in Java. Actually you could help out, @tanguyantoine? Thanks so much for the great work!

Example code: https://twigstechtips.blogspot.de/2013/06/android-detect-when-headsetheadphones.

[2017-10-19 13:20] mrsydster opened #102 "Change Titel in Music Control"
I am looking to change the titel in music control. It currently only displays the app name at the top of music control and I want to add the slogan behind it. Is this possible??

[2017-10-20 01:37] tanguyantoine commented on #99
@polp6880 did the restart fix the issue ?

[2017-10-20 01:38] tanguyantoine commented on #101
@Guichaguri any idea ?

[2017-10-20 01:39] tanguyantoine commented on #67
@Guichaguri is the android expert ;-)

[2017-10-20 01:40] tanguyantoine commented on #102
which platform ? Can you provide sample code ?

[2017-10-21 00:11] Guichaguri commented on #101
Yeah, pretty easy to implement, I can work on it when I have time

[2017-10-21 00:16] Guichaguri commented on #67
Yes, `setShowActionsInCompactView` is the proper way to do it. I can work on it when I have more time

[2017-10-21 14:32] mrsydster commented on #102
<img width="413" alt="screen shot 2017-10-21 at 16 30 39" src="https://user-images.githubusercontent.com/21159289/31852741-62f73ef4-b67d-11e7-9017-ffdf91c6151f.png">

I want to change the title highlighted in the screenshot. Can you help me where in the code to do this?

[2017-10-21 19:44] Guichaguri commented on #102
@mrsydster That's the name of your app.

[2017-10-23 14:36] #102 closed

[2017-10-29 08:05] polp6880 commented on #99
@tanguyantoine no, it did not fix for me.

[2017-10-29 16:02] mrsydster opened #103 "[Android] Always show controls MC"
How can I make sure that music control will always show the controls on the notifications?

I want to have the same as the app above on the screenshot. Not having to expand the notification.
![screenshot_20171029-165916](https://user-images.githubusercontent.com/21159289/32145538-c9958de8-bcca-11e7-97c0-437059c05b17.png)

[2017-10-29 18:36] Guichaguri commented on #103
Duplicate of #67

[2017-10-29 18:36] #103 closed

[2017-11-01 15:35] frankros91 commented on #101
I don't normally code in Android, but I took a try at this yesterday and it seems to be working.  Might not be the ideal way to do this.  But set up the listener to fire the same PAUSE KeyEvent that is fired when the pause button is pressed in the notification try.

[2017-11-03 16:00] #101 closed

[2017-11-03 16:01] #96 closed

[2017-11-03 16:03] Guichaguri commented on #71
I'll be closing this for inactivity. Feel free to reopen if the problem persists.

[2017-11-03 16:03] #71 closed

[2017-11-03 16:06] Guichaguri commented on #69
I'll be closing this issue for inactivity. Feel free to reopen it if the problem persists.

[2017-11-03 16:06] #69 closed

[2017-11-06 23:32] Stormcore commented on #99
Just update to XCode 9 Beta 2 and it will be fixed

[2017-11-07 11:33] rajeshpanwar007 opened #105 "'React/RCTBridgeModule.h' file not found on iso"
I am using react-native
react-native-cli: 2.0.1
react-native: 0.49.3

But I am getting following error in MusicControlManager.h file:

../projects/node_modules/react-native-music-control/ios/MusicControlManager.h:1:9: 'React/RCTBridgeModule.h' file not found

How can I resolve it ?

[2017-11-08 01:54] tanguyantoine commented on #98
do you have a source code we look at?

[2017-11-08 16:11] xuananpham93 commented on #58
@deshiknaves  Where can I put it, bro?

[2017-11-09 20:06] egorkhmelev commented on #98
I have experienced the same issue and looks like I have found the cause.

1. I call `MusicControl.setNowPlaying` with `artwork` url in it. It gonna reset artwork here https://github.com/tanguyantoine/react-native-music-control/blob/master/ios/MusicControlManager.m#L96 and will try to load remote image in background to update artwork to later.
2. Then I will call `MusicControl.updatePlayback` from

[2017-11-10 18:32] kesha-antonov opened #107 "[ios] Seek to position"
Hello guys!

Is it possible seek by tapping and moving progress bar of Music Control on iOS?

If it is not implemented yet can you give some advices? I'll provide PR later

Thanks

1. Platform ?
   - [x] iOS
   - [ ] Android

@tanguyantoine

[2017-11-10 22:46] Ayc0 commented on #107
It's not working on my phone either

[2017-11-12 22:49] tanguyantoine commented on #98
Any chance you create a PR for this :-) ?

[2017-11-12 22:53] tanguyantoine commented on #107
I'm not sure to understand what you are expecting. Can you elaborate?

[2017-11-13 06:49] kesha-antonov commented on #107
On iPhone on lock screen you can tap-and-hold progress bar and move to right/left to desired position in seconds. It's not responding now

@tanguyantoine

[2017-11-14 06:02] simonjking commented on #99
I am also experiencing problems in ios11. The playback bar does not update in the media player on the lock screen. It does update in control center (which I can only see by force touching the smaller audio widget).

[2017-11-14 06:05] simonjking commented on #99
Never mind. Rebooting the phone did solve this for me.

[2017-11-15 12:31] tanguyantoine commented on #107
Should be fixed. I’ll push a new version soon

[2017-11-15 12:31] #107 closed

[2017-11-15 19:06] kesha-antonov commented on #107
Awesome! Thanks! @tanguyantoine

[2017-11-16 00:02] tanguyantoine commented on #107
thanks to @DanNi0130

[2017-11-16 21:37] danielmilner commented on #99
I'm also experiencing this issue on iOS 11. Rebooting did not fix it. I even tried manually setting the elapsedTime, but it is not updating.

[2017-11-17 10:04] preciousgeorge opened #112 "undefined is not an object NativeMusicControl.STATE_PLAYING"
# Description
   The subject is the error i get. i have updated the code i have still no change.
  react-native-cli: 2.0.1
  react-native: 0.48.4
1. Sample code (provide repo url or sample code)

       import MusicControl from 'react-native-music-control'

       export const playCurrentSong = () => {
                       return function (dispatch, getState) {
                        const { so

[2017-12-01 06:41] kesha-antonov commented on #71
I do have this problem
Not sure what's the cause

[2017-12-01 06:43] kesha-antonov commented on #98
Actually it's fixed by my PR https://github.com/tanguyantoine/react-native-music-control/pull/106 @tanguyantoine

[2017-12-01 07:02] kesha-antonov opened #113 "[android] NoSuchMethodError: android.media.RemoteControlClient$MetadataEditor.putObject"
Hello! I have crashes in production. Could not reproduce locally.

Here's the log:

[code]

# Description

1. Sample code (provide repo url or sample code)

2. Platform ?
   - [ ] iOS
   - [x ] Android

3. Device
  - [ ] Simulator
  - [ x] Real device

**Please give some hints how to fix it.**

[2017-12-01 08:06] Guichaguri commented on #113
I believe this is a issue with the support library. You can update it to a new version in your app.

[2017-12-01 08:59] kesha-antonov commented on #113
@Guichaguri Thanks! I will try that.

[2017-12-01 11:01] kesha-antonov commented on #113
I see that we use
```android.support.v7.app.NotificationCompat```which was deprecated in API 26 https://developer.android.com/reference/android/support/v7/app/NotificationCompat.Builder.html

https://github.com/tanguyantoine/react-native-music-control/blob/master/android/src/main/java/com/tanguyantoine/react/MusicControlModule.java#L19

[2017-12-01 11:26] kesha-antonov commented on #113
Which of ```com.android.support:appcompat-v7``` versions do you use in production? @Guichaguri

[2017-12-01 11:27] kesha-antonov commented on #113
I'll leave ```compile "com.android.support:appcompat-v7:25.4.0"``` for now and see how it goes

[2017-12-02 13:37] kesha-antonov commented on #113
Still same error:
[code]

[2017-12-02 13:51] Guichaguri commented on #113
I'm not using this module in production anymore. I'm using [react-native-track-player](https://github.com/react-native-kit/react-native-track-player) instead.

I'll take a look when I have time.

[2017-12-03 08:07] kesha-antonov commented on #113
Thank you! @Guichaguri

[2017-12-06 18:32] Ayc0 opened #114 "Add a stopControl function"
# This is a request a *feature*

Currently `MusicControl.resetNowPlaying()` is just disable the display of the control panel, but you can still interact with it.

Is it possible to add a `MusicControl.stopControl()`function that calls `MusicControl.resetNowPlaying()` and remove every controls and if it is possible, that displays the previous control panel (for instance, you were listening some mus

[2017-12-07 07:59] Nikhil-Curefit opened #116 "support lib v7 update"
# Description
After updating android support lib to 27.0.2, NotificationCompat becomes deprecated and moved to v4. In v4 the issue is that NotificationCompat.MediaStyle() no longer exists.
The correct fix is to use v4 notification compat and user media style from
import android.support.v4.media.app.NotificationCompat.MediaStyle;

1. Sample code (provide repo url or sample code)
[code]
2. Platform

[2017-12-09 17:11] tanguyantoine commented on #105
did you solve it?

[2017-12-09 17:43] rajeshpanwar007 commented on #105
Hi tanguyantoine,

Yes, I solved it by setting header path.
https://forums.expo.io/t/how-do-i-manually-add-pods-headers-public-to-the-header-search-paths-configuration/2427/6

It worked for me.

[2017-12-09 22:41] tanguyantoine commented on #105
any chance you update the README with that?

[2017-12-09 22:41] #105 closed

[2017-12-12 15:16] #114 closed

[2017-12-12 17:06] deafkittten commented on #116
I've been trying to fix this locally but I have to say that it isn't that easy. MediaStyle is not in the v4 support library. It throws all kinds of errors.

[2017-12-12 17:10] Nikhil-Curefit commented on #116
Works fine for me

[2017-12-13 10:04] deafkittten commented on #116
Do I need to add any specific support library to the dependencies?

[2017-12-13 13:15] Nekith commented on #116
Hello,

I have the same problem.

I tried adding the import, changing the setStyle call, adding "com.android.support:support-v4" dependency in react-native-music-control/android/build.gradle, and I got these errors while running gradle (via "react-native run-android"):

[code]

I hope it helps somehow.
Thank you.

[2017-12-13 13:23] Nikhil-Curefit commented on #116
@deafkittten Just the support lib v4 27.0.2

[2017-12-13 13:25] Nikhil-Curefit commented on #116
@Nekith not sure why I didn't face this error. I wrote a simple script if it helps you upgrade. Just run the commands in your project folder

sed -i '' 's/android.support.v7.app.NotificationCompat;/android.support.v4.app.NotificationCompat;import android.support.v4.media.app.NotificationCompat.MediaStyle;/g' node_modules/react-native-music-control/android/src/main/java/com/tanguyantoine/react/Musi

[2017-12-13 17:19] deafkittten commented on #116
Ok, got it to work. Main issue was that I imported the support-library wrong. This one worked for me: `compile "com.android.support:support-v4:27.0.2"`

[2017-12-13 17:21] tanguyantoine commented on #116
May I ash you to create a PR to add a Troubleshoot section to the README ? :-)

[2017-12-14 15:10] Nekith commented on #116
@Nikhil-Curefit
Thank you, it works.

@tanguyantoine
I could do it but I have to ask: shouldn't we do a PR for the code instead, to update it to be compatible with the Support Lib changes?

[2017-12-18 11:39] deafkittten opened #121 "Switching setNowPlaying really fast crashes app"
# Description
I have an app with two players and they set setNowPlaying when switching between them. If I change view really fast the app crashes. I tried setting resetNowPlaying first but it seems like the artwork thread get's decoupled somehow and confuses everything anyway.

1. Sample code (provide repo url or sample code)
Nothing special.

2. Platform ?
   - [ ] iOS
   - [X] Android

3. Device

[2017-12-18 11:58] Guichaguri commented on #121
Crash logs?

[2017-12-18 12:04] deafkittten commented on #121
`Fatal Exception: java.lang.ArrayIndexOutOfBoundsException: length=8192; index=8192
       at com.android.okhttp.okio.Buffer.writeUtf8(Buffer.java:818)
       at com.android.okhttp.okio.Buffer.writeUtf8(Buffer.java:793)
       at com.android.okhttp.okio.RealBufferedSink.writeUtf8(RealBufferedSink.java:57)
       at com.android.okhttp.internal.http.Http1xStream.writeRequest(Http1xStream.java:167)

[2017-12-25 17:09] hudashot commented on #69
I am seeing the same message with a fresh build from `master`:

[code]

@Guichaguri, could you please clarify which support library are you referring to?

[2017-12-28 18:13] hoangtubatu123 opened #122 "setPlaying not working on Android real device but working Android simulator API 25. Please conplain"
# Description

1. Sample code (provide repo url or sample code)

2. Platform ?
   - [ ] iOS
   - [ * ] Android

3. Device
  - [ ] Simulator
  - [ *] Real device

[2017-12-28 18:17] hoangtubatu123 commented on #122
playTheSong(index) {
         this.setState({paused: false});
         MusicControl.updatePlayback({
             state: MusicControl.STATE_PLAYING
         });
         MusicControl.setNowPlaying({
             title: this.state.data[index].name,
             artwork: this.state.data[index].image_url, // URL or RN's image require()
             artist: 'Michael Jackson',
             album: 'Thri

[2018-01-04 09:54] jcliang1212 opened #123 "How to detect the "pause"|"play" button in headphone"
# Description

1. Sample code (provide repo url or sample code)

2. Platform ?
   - [ ] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2018-01-05 06:16] jcliang1212 commented on #123
Ib iOS, we can  detect the "pause"|"play" button in headphone by   MusicControl. on("togglePlayPause",()=>{});
How to use the same function in Android.Can you help me? @tanguyantoine

[2018-01-05 06:21] Guichaguri commented on #123
It should work right off the bat with the existing play/pause events.

[2018-01-05 06:56] jcliang1212 commented on #123
It works! Thank you!!

[2018-01-05 07:17] jcliang1212 commented on #123
Another question: I just want to use the remote control via headphone in Android, and I do not want the remote control showed in Notification. How to realize this? @Guichaguri  Thank you, very much!

[2018-01-05 08:11] jcliang1212 opened #124 "How to hide the notification in Android without using resetNowPlaying?"
# Description

1. Sample code (provide repo url or sample code)

2. Platform ?
   - [ ] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [x] Real device

I just want to use the remote control via headphone in Android, and I do not want the remote control showed in Notification. How to realize this? @Guichaguri Thank you, very much!

[2018-01-09 11:23] pixelvitamina commented on #112
in my project, created via create-react-native-app and ejected to expokit, I had to add the following line to the HEADER_SEARCH_PATHS within the linked MusicControl.xcodeproj

`$(SRCROOT)/../../../ios/Pods/Headers/Public`

now everything is working

[2018-01-09 14:46] tanguyantoine commented on #112
@preciousgeorge could this do the tricks ?

[2018-01-09 17:25] Ayc0 opened #125 "requiresMainQueueSetup error with RN 0.51"
# Description
Got the error:
[code]

1. Platform ?
   - [x] iOS
   - [ ] Android

2. Device
  - [x] Simulator
  - [x] Real device

3. RN version
0.51.0

[2018-01-09 17:27] Ayc0 commented on #125
How to fix it:
https://github.com/wix/react-native-navigation/pull/1983/files#diff-b8c48202d12fa78c4c377e5a3225c298

[2018-01-10 08:43] tanguyantoine commented on #125
fix by #126

[2018-01-10 08:43] #125 closed

[2018-01-10 16:03] Ayc0 opened #127 "Flow error"
As types are defined in `index.d.ts`, the `@flow` at the beginning of `index.js` is useless

Or we can also add types in the file `index.js` (and if we don't want to add a flow-parser, we can use [comment types](https://flow.org/en/docs/types/comments/))

But currently, I've got plenty of flow errors because nothing is typed in the `index.js` file

[2018-01-10 16:22] Ayc0 opened #128 "Documentation"
Add support for `off` and `stopControl` in README.md

- [ ] off
- [x] stopControl

[2018-01-10 20:51] abrown1982 commented on #71
There is a bug I found in this, only happens on Android 4.4 when using this plugin.  Is resolved by changing MusicControlModule.java line 231 to not send the rating in the metadata if using an Android API less than 19.  So changing from:

`md.putRating(MediaMetadataCompat.METADATA_KEY_RATING, rating);`
to
`if (android.os.Build.VERSION.SDK_INT > 19) {
    md.putRating(MediaMetadataCompat.METADATA_K

[2018-01-11 07:53] kesha-antonov commented on #71
@abrown1982 Hello! Nice. Please submit PR

[2018-01-14 09:10] tanguyantoine commented on #98
published as 0.5.3

[2018-01-14 09:10] #98 closed

[2018-01-14 09:12] tanguyantoine commented on #128
PR ? :-)

[2018-01-15 21:11] Ayc0 commented on #128
I've done the one for stopControl, but the other one because I haven't implement it and I don't want to write mistakes

[2018-01-16 08:14] tanguyantoine commented on #128
closed by #134

[2018-01-16 09:53] jcliang1212 opened #135 "resetNowPlaying does not hide the "remote control" in "iOS""
# Description
I want to hide the "remote control" when the user press "home" button in "iOS", but the MusicControl.resetNowPlaying() does not work

1. Sample code (provide repo url or sample code)

none

2. Platform ?
- [x] iOS
- [ ] Android

3. Device
- [x] Simulator
- [x] Real device

[2018-01-16 17:37] Ayc0 commented on #128
as the doc for `off` isn't in the readme yet, don't close the issue please

[2018-01-17 14:51] Andrfas commented on #123
@jcliang1212 @Guichaguri For some reason not working for me. I'm using the latest version of lib.
Do you know what is required for this to be working?

[2018-01-18 11:36] Andrfas commented on #123
On Android, only resuming play is working, but pausing not working. On iOS both pausing and resuming are not working

[2018-01-18 15:58] tanguyantoine commented on #123
@Andrfas any source?

[2018-01-21 05:04] juangarcia-ts opened #136 "[ERROR] Thumbs up/down rating"
Hello,

I'm trying to set up the thumbs up/down rating but I'm a little bit confused and the docs aren't clear enough...

Everything works perfect, but when I try to put `rating` as true in` setNowPlaying` method, I get this error:

![image](https://user-images.githubusercontent.com/20177101/35191016-69a2c530-fe57-11e7-9073-b985720aa7e4.png)

If I've made another kind of mistake, please tell me to

[2018-01-25 19:43] santiripper commented on #135
Same here on ios 11.2.5 iphone x, i'll test on other versions and devices.
Also you can`t update the nowplaying data

[2018-01-26 07:48] tanguyantoine commented on #135
Could you share your repo ?

[2018-01-26 19:06] flarocca opened #137 "Opening the app from MusicControl creates a new intent"
# Description

When the app is minimized and is opened through the music control, It seems to launch a new intent which cause the app opens as it had been closed, instead of opening the app as it was before going minimized.
What I would like to accomplish is to replicate the default behaviour that Android already has, which when the app is minimized and relaunched from the icon, it opens as it was

[2018-01-29 08:57] phil-andrews opened #138 "Update to Enable/disable controls README: Necessary to have listener methods inplemented before controls will work"
When I have the methods inside each of these listeners commented out the controls are greyed out on the lockscreen. Of course that's fine, but it's not mentioned in the README that it is a requirement to have controls inside. Would save some debugging time.

1. Sample code (provide repo url or sample code)
[code]

Want to make sure that this is the intended behavior before I file a PR.

2. Platfor

[2018-01-29 18:49] tanguyantoine commented on #138
PR ? :-)

On 29 Jan 2018 at 09:57 +0100, Phil Andrews <notifications@github.com>, wrote:

[2018-01-30 03:31] phil-andrews commented on #138
I mean, if you'd prefer to write it up... :)

[2018-01-30 06:33] tanguyantoine commented on #138
The more contributors we have the better the project is

[2018-02-01 14:03] frenkie commented on #137
@flarocca Yes, this is the same as issue https://github.com/tanguyantoine/react-native-music-control/issues/58, you need to set an 'android:launchMode="..."' in your Android manifest file to make sure the app won't restart. But depending on your needs there are different launchModes to choose from so I suggest reading https://inthecheesefactory.com/blog/understand-android-activity-launchmode/en to

[2018-02-01 19:46] #138 closed

[2018-02-01 19:47] #112 closed

[2018-02-03 14:18] marf opened #140 "Error while linking library to iOS Xcode project"
Hello,
I recently added this package to my project and use the command react-native link to link it to Xcode.
The problem is that when I try to compile I get this error:

'React/RCTBridgeModule.h' file not found

I also tried to link manually the library to my project (following the guide in the README) but the problem persists.

I have also tried to remove my node_modules folder and reinstall eve

[2018-02-03 16:29] #136 closed

[2018-02-04 18:53] machester4 commented on #137
You need to `android:launchMode="singleInstance"` in the **activity tag** with the name `.MainActivity` that is in the file `AndroidManifest.xml` **(android / app / src / main / AndroidManifest.xml)**

[2018-02-04 21:22] flarocca commented on #137
@frenkie , @machester4 Thanks guys, that really did the trick.

[2018-02-04 21:22] #137 closed

[2018-02-05 08:12] tanguyantoine commented on #140
Any chance you share your repository code ? Or reproduce it in a public repo?

[2018-02-16 17:03] geroale opened #141 "Error using MusicControls.setNowPlaying()"
Hello,
I have a problem using the function setNowPlaying, that I call when I start the listening of a new song in my app.
The first time I call it everything is fine, but when i set the data again, at the second time, it seems update only the artwork.

This is the basic form of the call I am using:

[code]

I am calling it when I start a new song within a method and also in a callback of the React

[2018-02-20 08:50] tanguyantoine commented on #140
Any chance you create a PR from your repo ?

[2018-02-20 09:00] tanguyantoine commented on #141
Any chance you share your repo ?

[2018-02-21 19:13] geroale commented on #141
Yes, sure. Can you give me your email or any contact so I can send you the project?

[2018-03-01 10:26] Salehjarad opened #143 "Problem on iOS locked screen, Controls Closed After 2 min"
# Description
* On Locked Screen, after 2 min , the control closed and music stopped.
* On iOS 11, Locked Screen Controls "Play & Pause" button on pressing it , it's turning to gray and not clickable, and the problem is showing "Yellow Box" <= "**RNMusicControlEvent" with no listeners registered.**

![img_0003](https://user-images.githubusercontent.com/17119284/36899717-6d8a222a-1e31-11e8-85be-c91

[2018-03-12 10:51] marf commented on #99
I have the same problem, with iOS 11 the control center details (song metadata) are not updated.

[2018-03-12 10:57] marf opened #144 "The metadata is not updated (only the thumb is updated) in iOS 11"
# Description
Using the example in iOS the song metadata in the background is not updated, only the thumbnail is updated when I skip and try to listen a new song.

1. Sample code (provide repo url or sample code)
N/A

2. Platform ?
   - [x] iOS
   - [ ] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2018-03-12 14:04] pixelvitamina commented on #144
same here 👍

[2018-03-12 20:56] geroale commented on #144
I have the same problem. Not updating the controls on iOS 11.

[2018-03-12 20:58] geroale commented on #99
Same problem on iOS 11. Please fix 😫 Rebooting is not working.

[2018-03-15 22:18] ryanmeisters commented on #99
I had the same (or similar issue) and my problem was that I misread this part of the readme

and had `mixWithOthers ` set to true.

[2018-03-16 07:20] pixelvitamina commented on #144
@tanguyantoine any ideas? easy to fix? thank you!!!

[2018-03-16 09:05] tanguyantoine commented on #144
Sorry did not dive into this issue yet.

Do you have this issue on you own repository or only on the demo one ? May I ask you to give me some information :

* Did you try another iOS version  ?
* did you follow readme setup instructions ?
* sample code to share ?
* information you think is useful

[2018-03-17 09:41] geroale commented on #144
Hi @tanguyantoine ,

We can't try another iOS version by now. We followed carefully the readme and, since it did not work, we have tried to do some fix by ourselves but nothing worked.

Anyway, we can share with you our project to find a fix togheter.
Please contact us on Skype at marco.fontana95 or send us an email at fontana.marco@hotmail.com .

Thank you in advance for the help!

[2018-03-17 13:24] marf commented on #99
Unfortunately we don't use `react-native-sound`, but we use `react-native-video`

[2018-03-22 18:51] SteffeyDev opened #146 "Local Artwork Broken on iOS"
# Description

Here I am again, with an identical issue that I had a while ago: Local artwork is broken on iOS using RN 0.52.

I've tracked the issue down to `MusicControlManager.m` at line 303, where it checks `BOOL fileExists = [[NSFileManager defaultManager] fileExistsAtPath:localArtworkUrl];`.  This always returns FALSE for local images, because the `uri` that RN creates is in the form `file:/

[2018-03-24 18:38] anker2000 opened #147 "Lockscreen controls disappear when music is paused"
On iOS, when I have music running in the background the lock screen controls work as expected, even when I pause and play from the lock screen, however when I pause from within my app and then go to the lock screen the controls are no longer there. How do I make sure it stays even when my music is paused?

[2018-03-24 21:44] marf commented on #113
Same problem, you can't use this package with for example react-native-fbsdk since they use different versions of the com.android.support:appcompat-v7 and in particular this package uses an older (and deprecated) version of it while react-native-fbsdk uses a new version which you can't downgrade.

[2018-04-04 22:31] jamsch opened #148 "(Android) Couldn't expand RemoteViews for: StatusBarNotification"
# Description

I'm running this on a production app and two Huawei devices running Android 5.1 both seem to crash when this is used. Not sure if anything can be done about this but just thought I'd post the crash log.

[code]

1. Sample code (provide repo url or sample code)

Will post later

2. Platform ?
   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

Device: HUAW

[2018-04-10 19:51] ButuzGOL opened #149 "Is it possible to follow position of currently playing ?"
To save last played place

[2018-04-10 22:54] Guichaguri commented on #149
This module has nothing to do with the actual position of the current track. It should be the job of your music module to provide you the position from the player.

[2018-04-11 08:44] ButuzGOL commented on #149
i am new in this area could you pls share some link with example

[2018-04-11 10:14] moonstruck commented on #149
@ButuzGOL Which module you are using to play audio?

[2018-04-11 12:01] ButuzGOL commented on #149
I did more digging in apps and understand all !! thanks

[2018-04-19 13:05] #149 closed

[2018-05-01 15:59] bondanherumurti opened #150 "it works for android but not iOS"
# Description
this is quite frustrate me on iOS until i tried on android, and it still not working for iOS right now, no iOS Control showed up

1. Sample code (provide repo url or sample code)
My Music Initialization when player is mounted
[code]

my action on setCurrentlyPlaySong
[code]
pardon me some of the params still hardcoded, since i'm still on the debugging process

2. Platform ?
   - [x]

[2018-05-02 07:36] anker2000 commented on #147
Only happened on the simulator - so this questions isn't really relevant.

[2018-05-02 07:36] #147 closed

[2018-05-02 07:58] tanguyantoine commented on #147
Is everything working on iOS ? What version are you using ? Which device ?

[2018-05-03 12:26] anker2000 commented on #147
Yeah pretty much (I'm sometimes get some odd intermittent issues). I'm using the latest version of react-native-music-control and it's running on both iPhone 8 and iPhone X.

[2018-05-06 07:29] #146 closed

[2018-05-08 02:08] letminin commented on #150
There is a bug on Xcode 9 with background features and notification with simulator ios 11.0, update xcode to 9.3 and ios next version will fix the issue.

[2018-05-08 10:34] YudizVinay opened #152 "Java exception in 'NativeModules' error"
# getting error when run the app
[code]

1. I have just import MusicControl like this in main.js
import { MusicControl } from 'react-native-music-control';

2. Platform ?
   - [ ] iOS
   - [x] Android

3. Device
   - [ ] Simulator
   - [x] Real device

"react-native": "^0.51.1",
"react-native-music-control": "^0.5.4",

[2018-05-13 15:23] jh3141 opened #153 "Build failure on Android with SDK v27"
Building per instructions in a project with `compileSdkVersion 27` set gives a large number of unresolved class/package errors during build.  I was able to resolve some of these issues by adding the following line to my `app/build.gradle` file's dependencies section:

[code]

however this leaves a number of remaining errors relating to classes in the `android.support.v4.media.session` and `android

[2018-05-15 08:49] schumannd opened #154 "First few seconds skipped when using react-native-sound"
bug occurrs on iOS real device.

When I start the sound with react-native-sound like so:

[code]

When commenting out the lines
[code]

The file starts correctly from the beginning. but the Music controls are not displayed either.
When leaving them commented in, the skip bug appears, and the controls are displayed.
Has anyone encountered a similar issue?

[2018-05-15 11:27] lenglengiOS opened #155 "Lockscreen controls disappear when music is paused"
# Description

1. Sample code (provide repo url or sample code)
![image](https://user-images.githubusercontent.com/21171262/40053965-c5411f90-5875-11e8-9364-b7a7b7ebdb13.png)

2. Platform ?
   - [ √] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [√ ] Real device

[2018-05-16 03:50] #155 closed

[2018-05-16 09:57] tanguyantoine commented on #155
@lenglengiOS what was the issue ?

[2018-05-31 06:11] cinder92 commented on #153
There are a pull request to update build tools to 26+ please check it

[2018-05-31 07:06] tanguyantoine commented on #153
@cinder92 @Guichaguri  is #133  ok ?

[2018-06-01 12:49] Shazam14 opened #156 "NativeMusicControl.STATE_PLAYING ISSUE when testing using EXPO APP"
# Description

1. Sample code (provide repo url or sample code)

2. Platform ?
   - [x] iOS
   - [ ] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2018-06-01 12:55] Shazam14 commented on #156
Hi,

I am getting an undefined is not an object (evaluating NativeMusicControl.STATE_PLAYING)
i checked and it doesn't have POD installed, could that be the reason? because as previous recommendation, we should change something inside headers public... could that be the reason?

Thank you,

[2018-06-09 11:05] MoonFMBot opened #158 "Option to remove android notification dots"
#### Maybe remove  the notification unread dots is better because it's actually a control panel for music not a notification.

1. Sample code (provide repo url or sample code)
https://developer.android.com/training/notify-user/badges

2. Platform ?
   - [ ] iOS
   - [x] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2018-06-11 16:15] #158 closed

[2018-06-11 17:21] MoonFMBot opened #159 "0.7.0 ANR Reason: Context.startForegroundService() did not then call Service.startForeground()"
# Description

1. Sample code (provide repo url or sample code)
https://stackoverflow.com/questions/44425584/context-startforegroundservice-did-not-then-call-service-startforeground

2. Platform ?
   - [ ] iOS
   - [x] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2018-06-12 07:47] parveen-lukha commented on #135
Facing same issue with resetNowPlaying() in IOS
It works perfect on Android but controls does not hide in IOS

[2018-06-12 10:06] parveen-lukha commented on #135
I am using it with react-native-audio-toolkit and found that it does not hide control if my player is in playing state. So pausing it before reset helped in my case

[2018-06-12 11:00] tanguyantoine commented on #135
any chance you provide an example?

[2018-06-12 11:17] parveen-lukha commented on #135
@tanguyantoine
My problem was that When I changed audio file I was always using
MusicControl.setNowPlaying() //With metadata like title,artist of AudioFile
So on audio file change my player was preparing(Which takes time as its streaming)  the controls were irrelavent as player was not ready yet. Also it was showing data of previous audio file till player is prepared and setNowPlaying is called ag

[2018-06-13 15:54] renatoalencar commented on #159
I am facing the same problem. Actually, I think that this is my fault, on the #157 I forgot to call `startForeground` after showing the notification. But this is throwing a `cannot find symbol startForeground` error.

@tanguyantoine, have you any ideas why this is happening?

[2018-06-13 19:02] bhram commented on #159
replace this

` ContextCompat.startForegroundService(context, new Intent(context, MusicControlNotification.NotificationService.class));
`
 into file

by this
`
context.startService(new Intent(context, MusicControlNotification.NotificationService.class));
`

and fixed

[2018-06-17 09:02] livelyjp opened #161 "Lastest Release Version?"
Hi, Been using this package for a while now and just noticed that there are newer releases (0.5.1 >) than what is set as the latest version (v.0.5.0) in the releases tab here on Github https://github.com/tanguyantoine/react-native-music-control/releases.

Is there any reason why [v.0.7.0](https://github.com/tanguyantoine/react-native-music-control/releases/tag/v0.7.0) is not set with the `latest v

[2018-06-18 08:43] tanguyantoine commented on #161
yep, I was doing it manually. I'm looking for a way to manage it automatically. any recommendations ?

[2018-06-19 20:17] renatoalencar commented on #161
I think you could use a Git Hook in order to do that. Maybe a `pre-push` hook, the script would check for the current `latest` tag and the actual latest tag on the repo, and then the script would set the `latest` tag to the current latest tag.

[2018-06-21 16:27] kesha-antonov opened #163 "Android: no control buttons"
Hello!

I use this lib for ios + android. For ios it works OK. On lock-screen I see control buttons and can press them.
On android I see only bare notification with image and titles. Where should be buttons?

As I remember there were buttons nearly half of year ago. And after OS update they're gone. Does anybody have this problem - no buttons?

Phone: Xiaomi Redmi 4X

![img_8565 copy](https://user

[2018-06-24 22:28] renatoalencar commented on #161
This is good

[2018-06-25 19:07] tanguyantoine commented on #161
tagged the new version

[2018-06-25 19:07] #161 closed

[2018-06-25 19:08] tanguyantoine commented on #159
#162 should have fixed this in version 0.7.3

[2018-06-25 19:08] #159 closed

[2018-06-25 19:10] tanguyantoine commented on #156
Did you eject the app? React native music control is not part of expo sdk and that means you cannot use it without ejecting.

[2018-06-25 19:10] #156 closed

[2018-06-25 19:10] tanguyantoine commented on #154
Did you solved your issue?

[2018-06-25 19:10] tanguyantoine commented on #153
solved by #157

[2018-06-25 19:10] #153 closed

[2018-06-25 19:11] tanguyantoine commented on #152
0.7.3 should have fixed it. feel free to ping if it is not the case

[2018-06-25 19:11] #152 closed

[2018-06-25 19:13] tanguyantoine commented on #150
closing due to inactivity

[2018-06-25 19:13] #150 closed

[2018-06-25 19:13] tanguyantoine commented on #143
can you share some code?

[2018-06-25 19:14] #37 closed

[2018-06-25 19:14] #116 closed

[2018-06-25 19:15] tanguyantoine commented on #121
still crashing?

[2018-06-25 19:15] #121 closed

[2018-06-25 19:15] #123 closed

[2018-06-25 19:15] tanguyantoine commented on #128
closing due to inativity

[2018-06-25 19:15] #128 closed

[2018-06-25 19:16] #127 closed

[2018-06-25 19:16] tanguyantoine commented on #140
@marf ?

[2018-06-26 09:49] schumannd commented on #154
No, I stopped using this package.

[2018-06-26 10:11] Shazam14 commented on #156
Ok thank you for your response @tanguyantoine apologies for the late response.

[2018-06-26 11:18] tanguyantoine commented on #154
Ok

[2018-06-26 11:18] #154 closed

[2018-06-26 11:42] schumannd commented on #154
Why did you close this issue? Was it resolved?

[2018-06-26 17:39] andtos90 opened #165 "Android build: Multiple dex files define Landroid/support/v4/accessibilityservice/AccessibilityServiceInfoCompat"
After the last release (v0.7.3) I found this error while compiling my Android application:

`com.android.dex.DexException: Multiple dex files define Landroid/support/v4/accessibilityservice/AccessibilityServiceInfoCompat`

I think that the problem is caused by this line inside the library build.gradle:
`compile 'com.android.support:support-media-compat:26.+`

To be able to solve the problem I simp

[2018-06-27 10:28] tanguyantoine commented on #165
Any chance you provide a PR for that ?

[2018-06-27 12:13] andtos90 commented on #165
I can only send a PR to edit the README because the new gradle configuration should be used inside the RN final application. I'm still looking for a better solution to avoid a configuration specific to this library

[2018-06-27 12:33] tanguyantoine commented on #165
That's a better than nothing :-)

[2018-06-29 02:06] ramos-lucas opened #167 "Undefined is not an object (NativeMusicControl.STATE_PLAYING)"
![image](https://user-images.githubusercontent.com/18932708/42069136-6f253f82-7b26-11e8-8375-46621d1ef9e9.png)

I've created a new project just to test this package along with 'react-native-sound'.
This is just an example "copy and paste", but only with (`import MusicControl from 'react-native-music-control';`), the error already occurs.

What is wrong?

1. Sample code (provide repo url or sample

[2018-06-29 20:45] Guichaguri commented on #167
This issue usually comes up when you don't link the module properly

[2018-06-30 16:25] dominicsavb opened #168 "not working on iOS"
I didn't see anything show at my iOS simulator or iOS real device? but works well at android.

I use iOS 11.4 and xcode 9.4.1

1. Sample code (provide repo url or sample code)

2. Platform ?
   - [x] iOS
   - [ ] Android

3. Device
  - [X] Simulator
  - [X] Real device

[2018-06-30 20:16] ramos-lucas commented on #167
I've linked using `react-native link` and confirmed using the manual steps.

[2018-06-30 20:50] ramos-lucas commented on #167
I've tried again:
- `yarn add react-native-music-control && yarn add react-native-sound`
- `react-native link`
- `react-native run-android`

The result was:
![image](https://user-images.githubusercontent.com/18932708/42128982-ee492f7c-7c8d-11e8-9504-2f73c1976b7f.png)

[2018-07-02 11:36] tanguyantoine commented on #168
Would you mind giving more detail

[2018-07-02 12:42] Kyba1985 commented on #148
This issue is related on Android with huawei devices , these devices don't support custom style notification. On my android app i added a check for version android and device to remove style in notification when i create it if is a huawei device and is under android 6.0.

[2018-07-02 13:12] moonstruck commented on #148
@Kyba1985 If you share you build procedure / exclusion guide  that'll help others.
Thanks.

[2018-07-02 13:19] Kyba1985 commented on #148
@moonstruck i fixed this issue on a native android application. In the creation of the notification with the last sdk (27) :

`
if (Build.MANUFACTURER.toLowerCase(Locale.getDefault()).contains("huawei") && Build.VERSION.SDK_INT < Build.VERSION_CODES.M) {           notificationBuilder.setColor(mNotificationColor).setSmallIcon(R.drawable.ic_notification).setContentIntent(createContentIntent()).setDe

[2018-07-02 17:33] moonstruck commented on #148
@Kyba1985 Thanks a lot.
I'll try this on my app's next version.

[2018-07-03 09:57] parveen-lukha opened #170 "Audio interruption handling not implemented for Android"
# Description
Audio interruption on Android are not handled. Can anyone help with this?
1. Sample code (provide repo url or sample code)

2. Platform?
   - [ ] Android

3. Device
  - [ ] Simulator
  - [ ] Real device

[2018-07-03 10:27] danielmcmillan opened #171 "Controls not shown after displaying video (iOS)"
After presenting AVPlayerViewController (with react-native-video), then dismissing the controller, now playing info set by react-native-music-control is no longer displayed.

AVPlayerViewController sets the now playing info itself while playing, and clears it when dismissed.
Terminating and relaunching the app is required to get the controls set by this library to display again.

1. Sample code

[

[2018-07-03 11:49] schumannd commented on #154
Ok, I will try the new version and report back

[2018-07-03 22:06] Guichaguri commented on #170
Audio interruption must be implemented by the module that plays the audio on Android, there's nothing we can do

[2018-07-03 22:06] #170 closed

[2018-07-04 02:47] jamsch commented on #163
On my Xiaomi Mi Max 2, react-native-music-control only displays controls when the notification is expanded.

It probably needs a redesign because other apps don't do this.

[2018-07-04 04:38] parveen-lukha commented on #170
Hi Guichaguri
Please refer to handleAudioInterruptions function of this module
https://github.com/tanguyantoine/react-native-music-control/blob/master/index.js

It binds NativeMusicControl.observeAudioInterruptions(enable); in case of IOS but in case of Android it just log a console
if (IS_ANDROID) {
      console.log("Audio interruption handling not implemented for Android");
}

[2018-07-05 03:16] Guichaguri commented on #170
Yes, that's because the audio interruption events in Android MUST be directly bound to a music player. As this module only implements media buttons, there's nothing we can do.

You should request this to the module that plays the audio, or use another alternative such as `react-native-track-player` which already implements it.

[2018-07-07 19:18] ramos-lucas commented on #167
Someone can help me? Is the last thing to finish my project.
In `constants.android.js` there isn't a property called MusicControlManager on imported object NativeModules.

I'm using react-native v0.55.4 and react-native-music-control v0.7.3

[2018-07-07 21:44] ramos-lucas commented on #167
I had to install the version ^0.4.13 that I already had tested.

[2018-07-07 22:33] ramos-lucas opened #173 "Is there some event when pressing the notification?"
# Description
Is there some event to prevent my component to be remounted?

I'm using `react-native-sound` and when I press the notification my component is remounted, playing a new song and I don't have the sound instance anymore.

I'm beginning with react native, how i should proceed?

1. Sample code (provide repo url or sample code)

2. Platform
   - [ ] iOS
   - [x] Android

3. Device
   - [x]

[2018-07-09 07:04] tanguyantoine commented on #167
using 0.4.13 fixed the issue?

[2018-07-09 07:06] tanguyantoine commented on #173
Could you share some code?

[2018-07-09 08:03] holospeed commented on #168
I faced with the same issue.

**OS**: macOS High Sierra (10.13.5)

**Xcode** : Version 9.4.1 (9F2000)
**iOS Deployment Target**: 9.0
**Capabilities**: Background Modes/ Audio, AirPlay, and Picture in Picture

**device**: iPhone 6s (Real device)
**device OS Version**: 11.4

**react-native**: 0.56.0
**yarn**: 1.5.1

**Steps**:
* react-native init myProject
* cd myProject
* yarn add react-native-musi

[2018-07-09 11:37] tanguyantoine commented on #168
https://github.com/tanguyantoine/react-native-music-control#enabledisable-controls have you enable controls ?

[2018-07-09 15:38] ramos-lucas commented on #173
I've created an issue on `react-native-sound` too to find a better solution to manage sound instances, but for now my only problem is when pressing the notification.

[code]

[2018-07-10 17:34] holospeed commented on #168
Okay! 😁
It was not clear to me from the documentation that I have to play sound / music if I want to test/use the music control. Whitout music the media control won't show up. The issue was in my head not in the code...  sorry 😊

[2018-07-10 20:15] #168 closed

[2018-07-12 19:13] marf commented on #123
With iOS 11 the `togglePlayPause `is not called when the play/pause button of the headphones is clicked!

[2018-07-12 19:17] marf opened #174 "iOS 11 - togglePlayPause event is not called when the play/pause button of the headphones is clicked"
# Description

With iOS 11 the `togglePlayPause ` event is not called when the play/pause button of the headphones is clicked!
You can check it in a blank project by simply printing a `console.log()` like this:

[code]

The console.log() is never called when clicking the physical button of the headphones.

1. Sample code (provide repo url or sample code)
none

2. Platform ?
   - [x] iOS
   - [ ] A

[2018-07-12 19:18] geroale commented on #174
Same problem here. Tried everything...

[2018-07-16 23:09] ramos-lucas commented on #167
Yes, using 0.4.3 is working fine.

[2018-07-23 14:00] Wasseing opened #175 "Error: constructor Builder in class Builder cannot be applied to given types"
# Description
I wanted to install react-native-music-control into my project and stumbled onto this issue

`MusicControlModule.java:134: error: constructor Builder in class Builder cannot be applied to given types: nb = new NotificationCompat.Builder(context, CHANNEL_ID);
    required: Context
    found: ReactApplicationContext,String
    reason: actual and formal argument lists differ in length
1

[2018-07-23 15:14] marf commented on #174
Any news?

[2018-07-23 20:22] tanguyantoine commented on #175
What was the issue?

[2018-07-23 20:23] tanguyantoine commented on #174
Sorry, I did not had time to dig into this issue. Do you have some iOS knowledges?

[2018-07-24 04:59] appaaaa opened #176 "Can't build on android target sdk 27"
I have a problem.. anyone has problem?

target sdk 27
classpath 'com.android.tools.build:gradle:3.1.0'
distributionUrl=https\://services.gradle.org/distributions/gradle-4.4-all.zip

![1](https://user-images.githubusercontent.com/26356032/43117879-19817e6e-8f4a-11e8-92b6-94f32df8cae4.PNG)

[2018-07-24 05:02] appaaaa commented on #176
./gradlew clean has same problem

[2018-07-24 22:02] Guichaguri commented on #176
It's a conflict between your target SDK and the support lib.
The support lib has to match the same version as the target SDK

[2018-07-25 00:41] appaaaa commented on #176
`dependencies {
    compile project(':react-native-sound')
    compile project(':react-native-vector-icons')
    compile project(':react-native-push-notification')
    compile project(':react-native-music-control')
    compile fileTree(dir: "libs", include: ["*.jar"])
    compile "com.android.support:appcompat-v7:+"
    compile "com.facebook.react:react-native:+"  // From node_modules
}`

I'm usin

[2018-07-25 05:16] appaaaa commented on #176
I solve build errors

appcompat-v7:+ -> appcompat-v7:27.0.1 // explicit version

and add
maven { url 'https://maven.google.com' } // over the jcenter() in 'android/build.gradle'

and react-native link doesn't add compile project(':react-native-music-control') to app/build.gradle
so add it manually.

[2018-07-25 07:12] tanguyantoine commented on #176
@appaaaa any chance you create a PR to update the README accordingly? 🙏

[2018-07-25 07:15] tanguyantoine commented on #173
Sorry, I'm not sure to understand correctly what you try to achieve. What you wrote looks good. Which notification are you talking about?

[2018-07-26 01:45] Guichaguri commented on #176
@tanguyantioine It's not a common react-native-music-control issue nor it's a react-native issue, it's actually a common Android issue. I don't see a reason to add it to our README since it only happens to who changes a specific library in their `build.gradle`, most of the people using this module never mess around with their Android setup anyway. There is also plenty of StackOverflow questions ab

[2018-07-26 01:45] #176 closed

[2018-07-26 22:06] marf commented on #174
I have searched something but without the correct documentation of the code I cannot know how to proceed

[2018-07-26 22:47] ramos-lucas commented on #173
The notification card in the notification bar (not the buttons play/stop). When I press it my app is remounted, starting a new sound because of `ComponentDidMount`.

[2018-07-28 17:07] ramos-lucas commented on #173
@moonstruck That's it! Thanks

[2018-07-28 17:07] #173 closed

[2018-08-01 14:21] jdrorrer opened #177 "Duplicate music controls on android"
I'm using Android 8.1.0 on a Google Pixel. Whenever I play a song, two media players appear in the notification bar/lock screen. One of them has the correct album artwork, and it seems the other one is correctly tracking the state of my music player.

On a side note: for iOS is there a way to reliably test it in the simulator? I'm using an iPhone 6 with iOS 11.2 and haven't been able to view music

[2018-08-02 07:50] #177 closed

[2018-08-03 17:30] seque1990 opened #178 "Error: MusicControl is not abstract and does not override abstract method createJSModules() in ReactPackage"
# Description

I wanted to install react-native-music-control into my project and stumbled onto the following issues

[code]

Here my app/builde.gradle sdk settings:

compileSdkVersion : 26
buildToolsVersion : 26.0.1
minSdkVersion 16
targetSdkVersion 26

2. Platform ?
   - [ ] iOS
   - [X] Android

3. Device
  - [ ] Simulator
  - [X] Real device

[2018-08-06 20:39] #178 closed

[2018-08-07 07:06] tanguyantoine commented on #178
did you solved the issue?

[2018-08-07 23:26] seque1990 opened #179 "Music Control not working with Android Oreo (8.0.0)"
# Description

I've been using this library and it works like a charm with my Android Phone (Android 7.1.1), however, I was testing today the same feature with some devices using Android Oreo (version > 8.0.0) and the Music Control doesn't appear. I don't know if anyone has experienced this odd behavior.

I did some minor changes to this library to get it working (https://github.com/seque1990/reac

[2018-08-08 18:54] seque1990 commented on #179
Changing the targetSdkVersion in `app/build.gradle` to 25 fixes the issue.

[2018-08-08 18:54] #179 closed

[2018-08-13 20:00] hellogerard commented on #171
@danielmcmillan You would have to call `setNowPlaying` or otherwise re-initialize everything again after the video. Does that not work?

[2018-08-13 22:29] The0racle opened #180 "Unable to build"
# Description

1. Sample code (provide repo url or sample code)
<img width="933" alt="screen shot 2018-08-13 at 3 10 50 pm" src="https://user-images.githubusercontent.com/4213174/44060913-22dc666a-9f0b-11e8-8c97-90bbea8ea776.png">

2. Platform ?
   - [ ] iOS
   - [X] Android

3. Device
  - [X] Simulator
  - [ ] Real device

Gradle project failing to sync. Followed instructions from Read.me.

`"rea

[2018-08-14 00:13] danielmcmillan commented on #171
@hellogerard No it doesn't seem to. You can see the function attempting to initialise the controls in the linked Gist.The only way I was able to get the controls to display again is by killing and relaunching the app (reloading JavaScript has no effect).

[2018-08-14 09:48] QuietListener opened #181 "crashed app on ios 8.x"
# Description
2018-08-14 17:44:15.422 ireading_rn[93273:2062647] -[MPRemoteCommandCenter enableLanguageOptionCommand]: unrecognized selector sent to instance 0x7fccb5b67760
2018-08-14 17:44:16.448 ireading_rn[93273:2062445] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[MPRemoteCommandCenter enableLanguageOptionCommand]: unrecognized selector sent to instanc

[2018-08-14 16:30] The0racle commented on #180
Fixed by manually removing gradle cache folder and syncing again.

[2018-08-14 18:10] #180 closed

[2018-08-14 21:30] The0racle commented on #163
Same thing happening to me. Nexus 5X, Android version: 6.0.

[2018-08-20 06:41] tanguyantoine commented on #170
Agree :-)
On 20 Aug 2018 at 04:24 +0200, Guilherme Chaguri <notifications@github.com>, wrote:

[2018-08-20 07:13] #165 closed

[2018-08-21 15:25] ithustle opened #182 "Controls doesn't work when I minimize/close app"
# Description

I followed the documentation and react-native-youtube-player implementation as example and when I minimize or close my app, controls on notification doesn't work.

2. Platform ?
   - [ ] iOS
   - [X ] Android

3. Device
  - [ ] Simulator
  - [X ] Real device

RN version: 0.56.0

[2018-08-24 16:35] taliseen opened #183 "clicking notification banner re-opens app and re-starts stream (Android)"
# Description
While playing an audio stream, When I click the notification banner on a Galaxy S8 Plus it doesnt just go to the open app, it re-opens the app, showing the splash screen again and proceeds to restart the stream, over top the existing stream.

This continues to happen indefeinitely, like the amount of times I click the notification is the amount of concurrent, conflicting streams.   W

[2018-08-24 17:31] moonstruck commented on #183
@taliseen use `android:launchMode="singleTop"` in AndroidManifest.

[2018-08-24 17:35] taliseen commented on #183
I have that twice in AndroidManifest.xml (see below) . Any ideas?

`
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kvan3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_nam

[2018-08-26 11:12] danielmcmillan commented on #183
@taliseen Using `android:launchMode="singleTask"` for MainActivity fixed the issue for me.

I guess MainActivity is not at the top when the notification is opened since it starts the launch intent (which launches SplashActivity), so a new MainActivity is created even with "singleTop" launch mode.

[2018-08-26 19:54] smkhalsa commented on #144
@geroale were you able to get this working?

[2018-08-26 20:13] geroale commented on #144
Yes, by not using the method updatePlayback to update the song progress (I use it only a few times, to update maybe the status) and by using setNowPlaying really a just one time each song.
Furthermore, be sure to setup everything correctly like controls.

[2018-08-27 07:02] taliseen commented on #183
Ahh thanks @danielmcmillan this worked perfectly!  i replaced singleTop the two places it was and we are in business!

[2018-08-27 20:09] taliseen commented on #183
Sure sorry for the dumb question but do I need to create a new branch and then push to that tracking branch to do a pull request?

What are the exact steps to do a proper pull request?

[2018-08-28 07:13] tanguyantoine commented on #183
https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/ I can't explain it in a better way :-)

[2018-09-05 17:44] taliseen opened #184 "ios audio stream starts unexpectedly upon recieving text message, music controls dont always reflect state of app, and restart shoutcast stream with no user input at times"
# Description
When streaming audio using https://github.com/react-native-community/react-native-video from a shoutcast audio stream endpoint, and then hitting pause, sometimes the stream comes on unexpectedly upon recieving a text message.  This can be startling as the user does not want the stream to start at that time.

Is there anything specific that we need to do to handle audio streams as opp

[2018-09-05 17:47] taliseen opened #185 "android audio stream plays through phone call"
# Description
Is there a way to make the stream stop during a phone call and restart again afterwards, as in ios?

Perhaps this is an issue with https://github.com/react-native-community/react-native-video and not this library?

1. Sample code (provide repo url or sample code)

2. Platform ?
   - [ ] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [ ] Real device

[2018-09-05 19:41] tanguyantoine commented on #185
You are correct, this has nothin to do with this library. sorry

[2018-09-05 19:41] #185 closed

[2018-09-18 12:42] natashache opened #186 "Title of audio track does not change when skipping forward or back"
# Description
When using the music control to control a playlist, tapping on the 'forward' button starts the next track in the list. But the track title being displayed still remains the previous track. @tanguyantoine Any idea why it is the case?
![forward](https://user-images.githubusercontent.com/19754530/45688194-be3ecd80-bb1e-11e8-892b-ee2d75de618f.png)

# Platform ?
   - [x ] iOS
   - [ ] And

[2018-09-21 10:26] ArtemKosiakevych opened #187 "Pause doesn't work on Android"
# Description

Headphone pause/stop button doesn't trigger any action

1. Sample code (provide repo url or sample code)
[code]

`this.onPlay` didn't call

2. Platform ?
   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2018-09-21 16:20] tanguyantoine commented on #187
Any chance you share your code?

[2018-09-24 12:19] RageOfJustice commented on #186
@tanguyantoine Hi! I work on this project. I use [react-native-video](https://github.com/react-native-community/react-native-video) as player
Here is the function that sets MusicControl:

[code]

I call it from my saga on corresponding action:

[code]

Here is method enabling the controls (I call it in componentDidMount):

[code]

Ive tried to call *MusicControl.resetNowPlaying()* before *MusicCon

[2018-09-26 14:33] john-hu commented on #187
I got a similar issue. The pause at notification bar works. But the media button which triggers pause doesn't work.

I am working on an open source project, you may find it at https://github.com/Vosie/QianLiYan. I am using version 0.5.0. The issue also happens to my experiment branch for upgrading to RN 0.57, https://github.com/Vosie/QianLiYan/tree/rn0-57.

[2018-10-10 23:06] taliseen commented on #183
Thanks for the help

[2018-10-10 23:06] #183 closed

[2018-10-10 23:09] taliseen opened #188 "Music Controls do not update when app is in background."
# Description
We are connecting to a shoutcast stream for a radio station stream.  When the song changes the music controls dont change the metadata until i reopen the app, even though its playing in the background.

Do I need to use something like this?  https://github.com/jamesisaac/react-native-background-task

Unfortunately it would only allow updating every 15 minutes on android.

Is there an

[2018-10-11 06:03] Tejas-narola opened #189 "Overlap title and artist name on iOS lock screen"
React-native verison: 0.54.0
react-native-music-control@0.5.5
https://trello-attachments.s3.amazonaws.com/5b5f0e42b99a6bbb70ae3bc4/5babf34a4bf09d44d4f346a5/22414a4f6d1fd52a1d8467b543fafb40/image.png

2. Platform ?
   - [x] iOS

3. Device
   - [x] Real device

[2018-10-11 06:50] tanguyantoine commented on #188
solved?

[2018-10-15 11:01] Tejas-narola commented on #95
@Monte47 Would you please describe here how to solve this issue.

[2018-10-15 11:06] Tejas-narola commented on #52
@deshiknaves  I have faced same issue duration time not updated when a user clicks to play/pause button. otherwise working fine.
would you please describe here what was an issue exactly and how to resolve it.

[2018-10-16 13:52] holospeed commented on #171
Hi! Same issue :/  Is there any workaround ?

[2018-11-01 14:14] hellogerard commented on #174
It works for me. Maybe you have to enable it?

[code]

[2018-11-01 14:22] hellogerard opened #190 "Possible to show live indicator instead of progress scrubber?"
### Description

1. Hi! This package works great.  I noticed the below in my radio app. Note the `((( LIVE )))` indicator.

    <img width="400" src="https://user-images.githubusercontent.com/200488/47857284-9dc18e80-ddbf-11e8-98b0-43f2bdc60382.PNG">

    For controlling a livestream (e.g. `m3u8`), is it possible to show the live indicator instead of the progress bar / scrubber? If not, this could

[2018-11-04 11:15] ReDetection commented on #186
Hi there. I had same issue and I was able to resolve it by always using the `setNowPlaying` and supply all the parameters un there (even those intended to update through `updatePlayback`. Since that all worked like a charm.

Reason why I tried this lays in the fact that [both `setNowPlaying` and `updatePlayback` replace `MPNowPlayingInfoCenter.nowPlayingInfo`](https://github.com/tanguyantoine/reac

[2018-11-07 07:58] tanguyantoine commented on #190
That sounds like a perfect enhancement. ANy doc we can refer to? Is it something you can implement?

[2018-11-10 00:20] jeffmon opened #191 "Crashing on Android 8.0+: Fatal Exception: java.lang.IllegalStateException: Not allowed to start service Intent"
# Description
Getting crash reports from Firebase Crashlytics:
[code]

More specifically with `MusicControlModule.java line 150`

This might be a possible solution? https://stackoverflow.com/questions/49961273/java-lang-illegalstateexception-not-allowed-to-start-service-intent-while-try

1. Sample code (provide repo url or sample code)
N/A

2. Platform ?
   - [ ] iOS
   - [x] Android

3. Device

[2018-11-10 10:49] ithustle opened #192 "Controls hide on lock screen (Android)"
Hi
Its not a issue but do you have an intention to update it to show music controls on lock screen if I set notification hide on screen?

I think will be a good asset on your good work.

Cheers

Célio Garcia

2. Platform ?
   - [ ] iOS
   - [X ] Android

3. Device
  - [ ] Simulator
  - [X ] Real device

[2018-11-11 11:49] marf commented on #191
Same problem here

[2018-11-12 08:18] tanguyantoine commented on #192
If you have any skills and want to contribute, this is something we definitely can merge.

[2018-11-12 08:20] tanguyantoine commented on #191
What android version are you using?

[2018-11-12 08:42] tanguyantoine commented on #192
You rock 👍

[2018-11-12 09:12] marf commented on #191
From Android 8.0+ it gives this error since you have to use startForegroundService and not startService and also display a notification of the fact that the up is running a service.

I have made a fix in my repo: https://github.com/marf/react-native-music-control/

In function init of MusicControlModule.java:

[code]

In MusicControlNotification.java (NotificationService):

[code]

Also in MusicCo

[2018-11-12 09:32] moonstruck commented on #191
@marf You may fork the repo and send a pull request.

[2018-11-12 09:46] marf commented on #191
@moonstruck I don't know if this is the best solution

[2018-11-13 12:14] tanguyantoine commented on #191
thank you marf, I'll publish it as soon as it is merged 👍

[2018-11-14 15:23] marf commented on #191
I have cleaned up the code, I think you can merge

[2018-11-14 15:42] tanguyantoine opened #194 "Convert to typescript"
# Description

Consider migrating all js files to Typescript

[2018-11-14 15:43] tanguyantoine opened #195 "Automate release process"
# Description

Automate release process using semantic-release: https://github.com/semantic-release/semantic-release

[2018-11-14 15:45] tanguyantoine opened #196 "Clean package.json"
# Description

Clean package.json

* use files key
* use main key
* use typing key
* use repository
* ...

[2018-11-17 21:17] webfalcon commented on #167
Still getting this issue starting 0.4.0 version.

Is there anyone who solved the problem?

[2018-11-19 11:59] tanguyantoine commented on #167
please try with 0.4.13

[2018-11-19 12:02] webfalcon commented on #167
0.4.13 also has same issue

[2018-11-19 12:06] moonstruck commented on #167
@webfalcon have you linked the library?
`react-native link react-native-music-control`

[2018-11-19 12:09] webfalcon commented on #167
Yes!I also tried manual linking. But it's looks like not linked.

[2018-11-19 12:14] moonstruck commented on #167
I'm using this library for almost a year. No major issues so far.
Share `react-native info` output.

You may try a clean installation first.

[2018-11-21 11:18] marioot opened #199 "Control settings don't work"
# Description

The music controls seem to look like default and don't appear to be affected to my settings.
The controls themselves (pause, play, skip forward, skip backward) do work.

The rest of the code follows the documentation.

Also, there appears to be no time displayed, is this intentional?

<img width="330" alt="screen shot 2018-11-21 at 12 10 06" src="https://user-images.githubuserconten

[2018-11-22 08:39] marioot commented on #163
Same thing happens Samsung Galaxy S5, Android version: 6.0

[2018-11-23 22:29] #196 closed

[2018-11-23 22:30] tanguyantoine commented on #195
done : https://github.com/tanguyantoine/react-native-music-control/commit/490ace564ef2432ad08388de93121d7a8e6b8d5d

[2018-11-23 22:30] #195 closed

[2018-11-23 22:31] tanguyantoine commented on #194
done in version 0.9.0

[2018-11-23 22:31] #194 closed

[2018-11-23 22:32] tanguyantoine commented on #99
@cinder92 are you using a real device?

[2018-11-26 14:40] marioot commented on #8
Still happening.
Re-adding those header search paths doesn't seem to solve the issue.

[2018-11-30 05:51] #191 closed

[2018-12-02 12:16] mojtaba-hajishah opened #200 "package android.support.v4.media.app.NotificationCompat does not exist"
1. Description
I get this error when I run react-native run-android:

...\node_modules\react-native-music-control\android\src\main\java\com\tanguyantoine\react\MusicControlModule.java:27: error: package android.support.v4.media.app.NotificationCompat does not exist
import android.support.v4.media.app.NotificationCompat.MediaStyle;

...\node_modules\react-native-music-control\android\src\main\java\

[2018-12-04 04:07] cattuan opened #201 "No podspec found for `react-native-music-control` in `../node_modules/react-native-music-control"
# Description
I'm missing error `No podspec found for `react-native-music-control` in `../node_modules/react-native-music-control` when I upgrade version from 0.7.3 to 0.9.0 and  type pod `pod update`.

[2018-12-04 08:30] #201 closed

[2018-12-04 08:37] tanguyantoine commented on #201
I'll publish a new version tonight I'll keep you in touch

[2018-12-04 20:12] tanguyantoine opened #203 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-12-04 20:17] #203 closed

[2018-12-04 20:17] tanguyantoine opened #204 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-12-04 20:38] tanguyantoine commented on #201
released as `0.9.2`

[2018-12-05 01:20] cattuan commented on #201
@tanguyantoine thanks you!

[2018-12-06 09:29] pengcao1 opened #206 "Could Android lockscreen support seekbar?"
# Description

1. Sample code (provide repo url or sample code)
like IOS style ,so we can seek the duration to any time

2. Platform ?

   - [x] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2018-12-06 09:44] pengcao1 commented on #200
add below require
`implementation "com.android.support:support-media-compat:26.1.0"`

[2018-12-06 11:53] tanguyantoine opened #207 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-12-06 11:58] #207 closed

[2018-12-10 10:03] PromitRai commented on #192
did anyone manage to solve this ?

[2018-12-10 12:13] kesha-antonov opened #208 "[ios] artwork broken again"
Hey!

# Description

[code]

[code]
shows artwork

[code]
hides artwork

2. Platform ?
   - [x] iOS

3. Device
  - [x] Real device

[2018-12-10 12:14] kesha-antonov commented on #208
It was fixed. But now it's not working again
https://github.com/tanguyantoine/react-native-music-control/issues/98

[2018-12-10 13:56] kesha-antonov commented on #208
I think it's because I'm using webview

[2018-12-10 16:57] kesha-antonov commented on #208
@tanguyantoine in my app in webview I use audio player. Then I call RNMC. When play/pause/seek happens in webview it automatically resets data on lock screen. And I need to call RNMC again. But artwork is missing since it was reset (as I think) when some event happened in the webview

[2018-12-10 16:58] kesha-antonov commented on #208
@tanguyantoine I added PR with check that artwork is present in control center on lock screen

[2018-12-11 09:51] kesha-antonov commented on #208
@tanguyantoine
https://drive.google.com/open?id=1523d_v3cof6RWpQJWyhJDuCH5ax8oFPj

[2018-12-19 06:48] #208 closed

[2018-12-19 15:09] illestrater commented on #206
I'd love to see this feature supported as well!

Also even with iOS, I'm unable to seek. @pengcao1, is iOS seeking working for you? The scrubbing thumb button is not appearing for me on iOS, so I can't seem to enable seeking functionality for neither iOS or Android.

[2018-12-28 07:01] anubansal92 commented on #148
@tanguyantoine https://github.com/tanguyantoine/react-native-music-control/pull/212

[2018-12-29 09:11] #148 closed

[2018-12-30 08:47] tanguyantoine commented on #189
I don't thin this issue is related to this package.
What iOs version are you running?
Does this issue still appear with the last package version?

[2018-12-30 08:48] tanguyantoine commented on #181
You are right, this package does not deal with older version of iOS

[2018-12-30 08:48] #181 closed

[2018-12-30 08:49] tanguyantoine commented on #187
Can you try upgrading to the latest version, 0.9.5 ?

[2018-12-31 21:34] tleewu commented on #206
@illestrater I think what you're looking for is:

[code]

I was running into the same issue, and I couldn't find this in the documentation. When I dug into the source code, I found it here: https://github.com/tanguyantoine/react-native-music-control/blob/master/ios/MusicControlManager.m#L127L129

@tanguyantoine could we add this in the README? Happy to submit a PR if it helps.

[2019-01-01 09:53] tanguyantoine commented on #206
Please do :-)
Le 31 déc. 2018 à 22:34 +0100, Theodore Wu <notifications@github.com>, a écrit :

[2019-01-02 06:15] pengcao1 commented on #206
how about Android?

[2019-01-02 07:34] tanguyantoine commented on #206
What do you mean? It works the same way.
When the event is triggered then you must update your player accordingly.
This package is about displaying information not controlling the playing status

[2019-01-02 07:37] tanguyantoine commented on #122
can you try with the new version please?

[2019-01-02 07:38] tanguyantoine commented on #192
@ithustle we are waiting your PR :-P

[2019-01-02 09:04] pengcao1 commented on #206
well,
I mean that: `MusicControl.enableControl('changePlaybackPosition', true)` work fine under IOS platform. and we can touch the seek bar to change the playback position.

I don't find a prop or method in Android to enable the same function .

[2019-01-02 10:19] Guichaguri commented on #206
There's no way to implement a seek bar inside a notification, Android doesn't allow that, it's pretty restricted. Probably because the official Android design guidelines say it's not suitable to add anything other than regular buttons to the notification.

And also, why do you want to replicate the native iOS behavior on Android? Android users will expect your app to behave like any other Android

[2019-01-02 10:19] #206 closed

[2019-01-02 10:37] pengcao1 opened #216 "why the are difference UI between notification and Lockscreen"
- [x] Android

  - [x] Notification
![1](https://user-images.githubusercontent.com/40621240/50588424-e29b9b80-0ebc-11e9-88da-f943e0fd295d.jpeg)
- [x] LockScreen
<img width="376" alt="2" src="https://user-images.githubusercontent.com/40621240/50588425-e29b9b80-0ebc-11e9-942b-409ff2f34caa.png">

my question is:
**why the are difference UI between notification and Lockscreen**

[2019-01-02 10:58] Guichaguri commented on #216
It's probably your OS identifying a media session and showing what it wants to show. It doesn't happen on stock Android.

[2019-01-02 14:12] kesha-antonov opened #217 "[ios] Not working with WKWebView"
Hey!

When playing audio in wkwebview the RNMusicControl is not changing behaviour of notification center on lock screen. No image, title and buttons not working.

Please provide some advice!

Seems like this guy have a similar problem. But it was 3 years ago
https://stackoverflow.com/questions/30029338/overriding-mpnowplayinginfocenter-while-using-wkwebview

2. Platform ?

   - [x] iOS
   - [ ] A

[2019-01-03 07:54] tanguyantoine commented on #192
haha good luck ^^

[2019-01-03 07:55] tanguyantoine commented on #217
[code]

Have you tried this? From the answer we can't do that

[2019-01-03 09:02] ithustle commented on #192
hehehe great incentive

[2019-01-03 09:16] tanguyantoine commented on #192
sorry, I'm not an android expert ... at all

[2019-01-03 10:06] kesha-antonov commented on #217
@tanguyantoine Hey!
Yeah, that's kind of progress. But I need a whole control other Info Center - buttons, title, subtitle, image and so on.

[2019-01-03 11:48] tanguyantoine commented on #217
can you share a piece of code? you want to retrieve data from the WKWebView view?

WKWebView can't control the now playing info. if you want to do that, you need to a way to communicate with the content of you web view then, from RN, update playing center.

[2019-01-03 12:38] PromitRai commented on #216
@pengcao1  how did you manage to render controller on locksreen on android ?? Mine only shows the title. Can you give me your code ?

[2019-01-03 12:56] PromitRai commented on #187
i have same issue. Pause button doesn't show up. I did update to 0.9.5 but still have same issue.

[2019-01-03 13:04] john-hu commented on #187
@tanguyantoine I had tested the 0.9.5. It doesn't work. I found the following things:

- The `closeNotification` doesn't work at both `0.9.5` or `0.7.3` versions.
- The `pause` through headset doesn't work at both `0.9.5` or `0.7.3` versions.
- The `lock screen` music control doesn't show up at both `0.9.5` or `0.7.3` versions.

But it works correctly at the old version, IIRC.

[2019-01-03 13:52] john-hu commented on #187
Ok. good news. I found the music control at lock screen works at my Android 9 device.

[2019-01-03 16:48] kesha-antonov commented on #217
@tanguyantoine

WKWebView playing html5 audio.
From RN I try to set playing info with RNMusicControl.
It worked with UIWebView. I’ve read that WKWV works in separate process. Maybe that’s why it overrides playing info?

Yeah, I’ll share code, but I think it’s not my code problem.

[2019-01-03 16:50] kesha-antonov commented on #217
I’m doing exactly as you say. App communicates from RN with WKVW with onMessage/postMessage. And from RN I try to set playing info.

[2019-01-03 16:54] kesha-antonov commented on #217
On lock screen I only see host as title and active play/pause button.
So I think it’s WKWV setting this. And I didn’t find how to prevent WKWV from doing this in Apple documentation.

[2019-01-03 17:01] tanguyantoine commented on #217
sorry, I can't help you

[2019-01-04 07:09] yasheshkt commented on #178
@seque1990 - Thats really good work you did for compatibility in RN 0.44. Thanks for the work mate. I just had a question, the Android Oreo Problem is solved as off your last commit "Try placing stop first" commit?

[2019-01-04 08:35] tanguyantoine commented on #178
any chance you create a PR here with your changes?

[2019-01-04 09:30] kesha-antonov commented on #217
@tanguyantoine no worries! Thanks!
We will see maybe somebody could bring the solution

[2019-01-04 09:34] #217 closed

[2019-01-04 14:02] tleewu opened #218 "Airpods support?"
currently, I have my music controller working on the lock screen, but I'd like to be able to skip/rewind 10 seconds using my airpods - does this repo support this?

[2019-01-04 14:21] tleewu commented on #218
ah it turns out that you need to enable `nextTrack` and `previousTrack` because that's what the airpods were looking for

[2019-01-04 14:21] #218 closed

[2019-01-04 15:04] tanguyantoine commented on #218
Pull Request to update the doc maybe? :-)

with a special section for airpods?

[2019-01-04 15:14] tleewu commented on #218
👍

[2019-01-06 17:51] hoangtubatu123 commented on #122
yeah. let me try

[2019-01-09 05:21] bradleyflood commented on #188
Hi @taliseen are you referring to Android only? I can confirm that these lock screen controls DO work correctly for me on iOS when app is in background mode. My app plays a queue of songs so this is essential functionality that I have tested.
I have not tested Android yet however. Do you mean just Android?

[2019-01-10 00:30] Guichaguri commented on #188
It's an issue due to this library not being tied to the directly to the player running in background. To solve the issue, I created [react-native-track-player](https://github.com/react-native-kit/react-native-track-player), a module that runs the music controls in the same service as the player.

[2019-01-16 10:19] Guichaguri commented on #188
It might be possible to try a workaround, but it'll probably be very buggy and unstable. Running the player with music controls side-by-side is the easier and proper solution.

[2019-01-17 01:49] pengcao1 commented on #199
Could u try this code snippnt
[code]

[2019-01-19 12:02] mojtaba-hajishah opened #223 "iOS lock screen controls issues"
# Description

1. Sample code (provide repo url or sample code)
I can't share my repo because of NDA stuff.
I'm using react native video for my player, and this repo for music controls.
Music controls are working on android. but on iOS, I have multiple issues.

**on simulator**
1) music controls do not appear on simulator lock screen at all

**on real device**
1) music controls appear, but elapsed

[2019-01-21 12:11] tanguyantoine commented on #223
That's normal, simulator is a special snowflake not working exactly the same way as a real device.

What your `pause` method looks like?

[2019-01-22 16:54] obzc commented on #167
`pod 'react-native-music-control', :path => '../node_modules/react-native-music-control'`
after run `pod install`

[2019-01-22 22:35] tanguyantoine commented on #167
@obzc could you update the README?

[2019-01-24 13:16] tanguyantoine commented on #188
Definitely ^^. You should move this discussion to the `react-native-track-player`'s repository

[2019-01-24 13:17] #188 closed

[2019-01-24 13:47] Adam3306 commented on #163
anybody?

[2019-01-24 13:47] Adam3306 commented on #192
pls guys help

[2019-01-24 13:47] Adam3306 commented on #187
up!

[2019-01-25 17:00] tanguyantoine commented on #187
@Adam3306 what is your issue?
@john-hu What did you do to fix it?

[2019-01-30 18:39] 13ArturBruno opened #226 "How to jump to the next track automatically on the ios lock screen?"
# Description

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [x] Real device

------------------

...
MusicControl.on('nextTrack', this.next)
...
MusicControl.enableControl('nextTrack', true)
...
next = () => {
        this.pause()
        this.otherAudio(item)    //item i take inside this code
        }
};
...

!!

[2019-01-30 21:43] tanguyantoine commented on #226
please elaborate (whatever your language is)

[2019-01-31 13:51] tanguyantoine commented on #167
di you run pod install ?

[2019-02-01 14:31] #226 closed

[2019-02-01 15:23] tanguyantoine commented on #226
@13ArturBruno what was the issue?

[2019-02-01 16:17] 13ArturBruno opened #228 "How to hide Slider time in lock screen on IOS ??"
# Description

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2019-02-02 17:50] ithustle commented on #192
@lufinkey , I think you saved my ass 😆

[2019-02-04 12:44] kesha-antonov commented on #174
@hellogerard yeah. We should run ```MusicControl.enableControl('togglePlayPause', true)```
thanks

[2019-02-04 12:45] kesha-antonov commented on #174
@tanguyantoine I think this can be closed

[2019-02-04 13:47] #174 closed

[2019-02-05 17:59] 13ArturBruno commented on #200
Is there a version to use with sdk 27??

[2019-02-05 18:00] 13ArturBruno commented on #200
i use:

buildToolsVersion = 27.0.3
compileSdkVersion = 27
targetSdkVersion = 27

But dont work to me ;( can say me a solution ?

[2019-02-06 05:34] #200 closed

[2019-02-07 11:50] gazedash commented on #167
Can reproduce this. Installed this library, linked, installed pods. Version 0.9.8

[2019-02-07 12:18] 13ArturBruno opened #229 "when I build in the android studio of a project ejected from the Expo, on the screen where I use the lib makes a hard reset and restarts the build. Can help with it ?"
# Description

1. Sample code (provide repo url or sample code)

--- app/build.gradle

[code]
--- ...music-control/build.gradle

[code]
------

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2019-02-08 07:35] vortgo opened #230 "Error: setShowActionsInCompactView"
Hello.
I try to use this package for my project but every time I catch error:
**`setShowActionsInCompactView: action 0 out of bounds (max -1)`**

My code is from demo app:
[code]

I have reduced the code to simple invoke:
[code]
But the error is still throwing.
Then I have tried run demo project `https://github.com/tanguyantoine/react-native-music-control-demo` as it is and again I failed with the

[2019-02-08 09:51] Guichaguri commented on #230
This was caused by #227. That's what happens when you merge a commit without reviewing it or at least testing it properly.

[2019-02-08 17:10] tanguyantoine commented on #230
Can you elaborate on the reasons of this issue?

[2019-02-08 17:47] 13ArturBruno commented on #216
It's also different for me, Android 8.0. in addition, the play/pause function have a bug.

[2019-02-08 19:10] 13ArturBruno commented on #226
Just use MusicControl.enableControl('changePlaybackPosition', true) kk resolve my problem

[2019-02-08 20:04] Guichaguri commented on #230
Basically, you can use `setShowActionsInCompactView` to specify which actions will be visible when the notification is collapsed. The commit in #227 hardcodes the first three actions, if you have less than those three buttons enabled, it will crash.

I don't know how a hardcoded array such as the `new int[]{0,1,2}` passes a code review.

[2019-02-09 06:11] vortgo commented on #230
I just use the previous version. Thanks for the explanation.

[2019-02-09 09:44] tanguyantoine commented on #230
Maybe because I have no knowledges on Android ;-)
I’ll revert it
Le 9 févr. 2019 à 07:11 +0100, vortgo <notifications@github.com>, a écrit :

[2019-02-09 19:40] #230 closed

[2019-02-11 01:35] lufinkey commented on #192
This issue should be re-opened since that PR crashed in some instances. I think I know a better way to implement it that doesn't hardcode the actions. I'll take another crack at it sometime this week

[2019-02-12 13:26] #229 closed

[2019-02-12 13:27] 13ArturBruno commented on #229
Any error in the code causes this.

[2019-02-12 15:03] gazedash opened #232 "Doesn't show artwork, title, artist and album on Apple TV"
# Description
Using sample code from readme, now playing shows info and artwork on device, but not on Apple TV

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2019-02-12 16:57] gazedash opened #233 "Add support for remote play/pause event listener"
# Description

It would be really useful to add listeners for remote play/pause actions
E.g. bluetooth headphones / Apple TV

https://github.com/tanguyantoine/react-native-music-control/issues/123

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2019-02-12 23:42] tanguyantoine commented on #233
Can you elaborate? Can you provide any links to help make this feature move forward?

[2019-02-13 08:57] gazedash commented on #233
@tanguyantoine it seems like it is related to togglePlayPauseCommand
https://stackoverflow.com/a/32373337/7318811

I have enabled togglePlayPause and I have also registered togglePlayPause:

[code]

But it doesn't work. Other events work though, e.g. if I press play / pause button in my app, it is called.

For more info, I am using react-native-video library

[2019-02-13 10:18] tanguyantoine commented on #233
well, it looks like the package is doing exactly the same thing. Are you able to share your codebase?

[2019-02-13 22:03] chiaberry commented on #223
I'm having a similar issue, but in my case the elapsed time counts how long the music controls have been up, but when I hit pause the elapsed time jumps to the correct time.
@mojtaba-hajishah  were you able to fix it?

[2019-02-16 06:52] mojtaba-hajishah commented on #223
@chiaberry Nope, still waiting for a fix or sth from @tanguyantoine .

[2019-02-18 17:30] chiaberry commented on #223
I tried setting `elapsedTime` in `setNowPlaying` and it (so far) appears to help

https://github.com/tanguyantoine/react-native-music-control/issues/186#issuecomment-435660865

[2019-02-18 21:21] jamsch opened #235 "Crash on Android 9: java.lang.SecurityException MusicControlNotification$NotificationService.onCreate"
# Description

Ran a deploy using the latest version of this library and it seems to crash while starting the app on Android 9 devices. So far the past hour I've received a large number of these reports so I'm having a look in to the cause now.

2. Platform

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

![selection_023](https://user-images.githubusercontent.com/12

[2019-02-18 21:28] jamsch commented on #235
Looks like `android.permission.FOREGROUND_SERVICE` may need to be added to the AndroidManifest for apps that target Android 9

https://developer.android.com/guide/components/services#Foreground

[2019-02-19 08:32] mojtaba-hajishah commented on #223
@chiaberry thanks a lot.
Always using setNowPlaying() instead of updatePlayback() fixed the issue for me.
But I think it should be resolved in the next versions of this library.

[2019-02-19 13:49] andrewazevedo commented on #235
Adding `android.permission.FOREGROUND_SERVICE` works fine for me too.

[2019-02-19 19:54] gfpacheco opened #236 "closeNotification not working"
# Description

I'm unable to dismiss the notification at all. I tried enabling it `always` and `paused`, but neither options work.

1. Sample code (provide repo url or sample code)

I don't think there's anything special about my code, I added a listener for when the notification is closed:

[code]

And enabled it:

[code]

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device

   - [x] Simulato

[2019-02-21 08:48] tanguyantoine commented on #235
Mays ask one of you (@andrewazevedo or @jamsch) to create a PR to add either documentation or update the code if needed?

[2019-02-21 08:48] #235 closed

[2019-02-21 21:26] Faisal-Manzer commented on #236
Facing same issue.
![screenshot 2019-02-22 at 2 55 14 am](https://user-images.githubusercontent.com/18066439/53202749-52bcd700-364d-11e9-9d21-ec068a9cf116.png)

[code]

Can't remove notification.

[2019-02-26 06:23] GH974 opened #239 "MusicControl enableControl stop"
# Description
hi, how it works function MusicControl.enable Control It doesn't show on the lock screen
1. Sample code (provide repo url or sample code)
MusicControl.enableControl('stop', true);

2. Platform ?

   - [X ] iOS
   - [X ] Android

3. Device
  - [ X] Simulator
  - [ X] Real device

[2019-02-26 08:51] tanguyantoine commented on #239
Please add more details. Feel free to use your native language

[2019-02-26 09:01] GH974 commented on #239
How its works MusicControl.enableControl('stop', true);
is not appear in lock screen.
In lockscreen i have next/prev and play/pause button and not stop button ?

[2019-02-26 10:37] ali-pedram opened #241 "Closing app on Android 8.0 (Possibly only Huawei phones) when setNowPlaying is called"
when set the code provided below is called after the sound is loaded and starts to play (using react-native-sound) the app closes. the affected devices are all running android 8.0 and manufactured by Huwawei.

1. Sample code (provide repo url or sample code)

                            MusicControl.enableControl('play', true)
                            MusicControl.enableControl('pause', true)

[2019-02-26 16:11] RocKhalil opened #242 "Working on iOS 12 ?"
# Description

1. Sample code (provide repo url or sample code)
[code]

2. Platform ?

   - [X] iOS
   - [ ] Android

3. Device
  - [X] Simulator
  - [X] Real device

I'm trying to test it on iOS 12; I'm getting the `alert` and the music is playing, however, the controls aren't showing on the lock screen.

I've cloned the demo project, and it's not working there too.

Is there any issue on iOS 12

[2019-02-27 07:24] tanguyantoine commented on #239
on both platform?

[2019-02-27 07:25] tanguyantoine commented on #241
do you have crash logs you could share?

[2019-02-27 07:33] GH974 commented on #239
in ios

[2019-02-27 07:34] GH974 commented on #239
i have not tested for android sorry.

[2019-02-27 07:49] tanguyantoine commented on #242
duplicate of #239 ?

[2019-02-27 07:49] #239 closed

[2019-02-27 09:10] RocKhalil commented on #242
@tanguyantoine maybe.. not sure what the guy there did.
Any idea how that can be solved ?

I think there's an issue in the `MPRemoteCommandCenter` on iOS 12 cause it's only reading data when we open/use an `AVPlayerViewController`.

If you try playing music with an `AVPlayer` without integrating it in the  `AVPlayerViewController` and presenting it on the app, the controls are not showing (this is

[2019-02-27 12:59] ali-pedram commented on #241
The app doesn't actually crash. so it produces no error on react native debugger console. but here's the error shown on my app analytics:
Bad notification posted from package com.app: Couldn''t expand RemoteViews for: StatusBarNotification(pkg=ir.sabketoplus.app user=UserHandle{0} id=100 tag=null key=0|com.app|100|null|10143: Notification(channel=react-native-music-control pri=0 contentView=null v

[2019-02-27 18:46] 13ArturBruno commented on #241
Mine also happened to close, I discovered that any error or library depreciated forced to close. check it.

[2019-02-28 04:20] GH974 commented on #242
Hi, it work for me, except this command not work for me in IOS.
`MusicControl.enableControl('stop', true);`

Thanks.

[2019-03-04 13:26] gollkn opened #243 "Use for detect headphone buttons event"
# Description
Hello, I am trying to detect when user click play/pause button from headphone, I only have this code. I don't want start some music or media and then detect, if there are some way to listen headphone events without playing media ?

1. Sample code (provide repo url or sample code)
`componentDidMount() {
    MusicControl.enableBackgroundMode(true);

        // on iOS, pause playback du

[2019-03-18 21:37] jamsch opened #244 "(Android 9 / Samsung S9) Unable to create service com.tanguyantoine.react.MusicControlNotification$NotificationService:"
# Description

App crashes with the following devices in a production app:

- SM-G960U
- SM-G960F
- SM-G960W

All devices listed above are running Android 9

2. Platform ?
    - [ ] iOS
    - [x] Android

3. Device
    - [ ] Simulator
    - [x] Real device

## Stack trace

![Selection_029](https://user-images.githubusercontent.com/12927717/54565340-d9898780-4a32-11e9-900d-6a3f0ca410cb.png)

[code]

[2019-03-19 05:56] appaaaa commented on #244
You should register foreground service in manifest permission on api 28
Just add below code to android/app/src/AndroidManifest.xml
<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

[2019-03-19 07:36] tanguyantoine commented on #244
@appaaaa any chance you update the readme? :-)

[2019-03-29 05:37] nishiltamboli commented on #243
I have the same issue. On iOS, the Pause and Play events are not called when the headphone button for play pause is pressed. Also I couldn't receive callback in togglePlayPause listener as well. Seems that the event is not going through somehow!

[2019-04-02 15:13] brennan-pilcher opened #245 "Pause button does not show up after being enabled on Android"
# Description

The pause button does not show up in the Music Control notification on Android after calling MusicControl.enableControl('pause', true).

I noticed this in my main project and then created a pared down version based on [the demo project](https://github.com/tanguyantoine/react-native-music-control-demo) in order to validate that it was an issue with this repo instead of my own code.

[2019-04-06 09:01] ammoradi opened #246 "custom notification bar onPress event"
# Description

Is there any way to create a custom onPress event on notification bar?
for example, I need to navigate to a dynamic route based on current playing sound when I tap on the notification bar.

1. Sample code
needed: `MusicControl.setBarOnPress(this.props.navigation.navigate(' somewhere '))`

2. Platform
   - [x] iOS
   - [x] Android

3. Device
   - [x] Simulator
   - [x] Real device

[2019-04-06 19:53] The0racle opened #247 "Android - Fatal Exception: java.lang.RuntimeException: Unable to create service com.tanguyantoine.react.MusicControlNotification$NotificationService: java.util.ConcurrentModificationException"
# Description

Getting this crash after updating to v0.99. It seems related to #221  which #220 supposedly fixed it. Here is the Stack trace:
![image](https://user-images.githubusercontent.com/4213174/55674468-067ace80-586a-11e9-90d8-a86e774982c0.png)

Looking at actions user took before the crash, makes me think the controls were not actually removed when app last terminated(or device locked), si

[2019-04-08 07:12] tanguyantoine commented on #246
What do you mean by notification? I think it is you app responsibility to handle notifications.
You'll have to add extra information into the notification and then register the correct handler.
Sorry, it's not the intent of this library

[2019-04-08 07:12] tanguyantoine commented on #247
Can you share some code?

[2019-04-08 13:29] ammoradi commented on #246
notification bar = music player bar on top

[2019-04-08 16:45] The0racle commented on #247
@tanguyantoine here is the component that handles the controls:
[code]

[2019-04-08 22:00] The0racle commented on #247
Just to give more context, our app supports background audio.

[2019-04-08 22:38] The0racle commented on #244
I'm still seeing this crash on our production builds. Am I missing something?

[2019-04-09 07:09] tanguyantoine commented on #247
if `componentWillUnmount` is not called then it's an issue with React not this library.

can you trye to render something else than `null` ?

[2019-04-09 18:50] The0racle commented on #247
@tanguyantoine `componentWillUnmount` is never called when the app is terminated but that is just a shortcoming on React's side, not a bug. However, the native side does know when the application is terminated and I believe it's the responsibility of the native library to stop any running tasks related to it; otherwise, killing the app would always cause bugs with `react-native-music-control`.

[2019-04-10 16:19] brennan-pilcher commented on #245
We were able to figure out the issue. It appears that you need to call MusicControl.updatePlayback and set the state to MusicControl.STATE_PLAYING, at which point the play icon automatically turns into a pause icon. It would be great if this could be detailed in the documentation! I can open a PR explaining this flow if that would be helpful.

[2019-04-10 16:19] #245 closed

[2019-04-11 09:42] tanguyantoine commented on #245
please do 🙏

[2019-04-15 03:28] jayeshanandani commented on #247
I am getting same crash in reports in play store.

[2019-04-18 14:55] brennan-pilcher commented on #236
I'm able to swipe to dismiss the notification, but only if it is in the paused state, regardless of if I call enableControl with `{when: 'always'}` or `{when: 'paused'}`. Also, the event listener for closeNotification does not appear to trigger when swiping to dismiss the notification.

[2019-04-22 11:53] #223 closed

[2019-04-22 15:22] cinder92 commented on #247
im getting same issue but only with Android 9

[2019-04-23 06:42] tanguyantoine commented on #223
Update playback should definitely be updated to the correct behavior ^^

[2019-04-23 08:51] tanguyantoine commented on #247
sorry I have absolutely no knowledge on Android 🤷‍♂️

[2019-04-25 14:56] vinnyjth opened #252 "Release Android updates to NPM?"
# Description

As of this commit, https://github.com/tanguyantoine/react-native-music-control/commit/3528a5bfeb3b281a842ccc1d464adb15dc4a3119 my app will build on Android with the latest version of `react-native`. Would it be possible to release this change to `npm` so I don't have to copy over your `build.gradle`?

Thanks much!

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [x] Simu

[2019-04-25 15:40] #252 closed

[2019-04-25 15:41] vinnyjth commented on #252
Thanks much!

[2019-04-25 20:57] vinnyjth commented on #252
@tanguyantoine It looks like 0.10.0 is missing the `lib` folder :/

![image](https://user-images.githubusercontent.com/1637694/56767993-c1fc9780-6772-11e9-95c1-b570dc73345f.png)

[2019-04-25 23:51] timmywil opened #253 "lib folder not included in release 0.10.0"
Should be a simple fix. The lib folder is not available in npm, but `main` points to `lib/index.js`.

[code]

[2019-04-26 05:56] tanguyantoine commented on #253
Solved in 0.10.1 ( permission issue)

[2019-04-26 05:56] #253 closed

[2019-04-26 12:12] roffelund commented on #247
@The0racle What do you think about this. No android expert so last time i tried to fix this bug i thought onTaskRemoved was triggered more often then it seems to be. I think however onDestroy() might be the key.

[2019-04-26 14:42] #242 closed

[2019-04-26 14:46] timmywil commented on #144
I think this is fixed by b2b1acc293a3a477948176a4a9b7208660827d76

[2019-04-26 14:48] timmywil commented on #99
I think this is also fixed by b2b1acc293a3a477948176a4a9b7208660827d76

[2019-04-29 09:14] GH974 commented on #239
Hi, in android this bug is present.
I tested in version api 28

has bug if add ligne commande
`   MusicControl.enableControl('play', true);
`

ADB LOGCAT RESULT

[code]

[2019-04-30 10:27] marf commented on #244
Same problem here

[2019-05-13 15:33] GH974 commented on #239
Finally i found this bug. In version api 28 of android, is needed to add permission FOREGROUND_SERVICE in androidManifest.xml

[2019-05-13 16:00] GH974 opened #256 "bug event stop function"
# Description
I found a bug if i add enableControl('stop').
Function event MusicControl.on('stop') is called once on play music.
but I not called MusicControl.setNoPlaying or MusicControl.updatePlayback function.
 After this, I just play music in react native video

1. Sample code (provide repo url or sample code)
no code exemple

2. Platform ?

   - [ ] iOS
   - [x] Android 9 api 28

3. Device

[2019-05-13 16:25] tanguyantoine commented on #239
Could you update the reader?

[2019-05-13 16:28] GH974 commented on #239
Sorry i don't understand

[2019-05-13 21:24] tanguyantoine commented on #239
Is, what you said previously in the readme of the repository? If not then I’ll appreciate your contribution :-)

[2019-05-14 04:00] GH974 commented on #239
No i found in https://developer.android.com/about/versions/pie/android-9.0-changes-28

[2019-05-14 20:53] nisheetsun commented on #246
I have the same question. By default on click of react-native-music-control notification redirects to the home page of the app.

[2019-05-17 03:23] SwiftyWang commented on #256
Same issue found in Android device

[2019-05-17 10:13] redpandatronicsuk opened #257 "Resuming play after pausing not working with expo-av"
# Description
I'm experiencing an issue with `react-native-music-control` and `expo-av`. I have already created an issue on the `expo` repository (https://github.com/expo/expo/issues/4171). I have made a reproducible demo here: https://github.com/redpandatronicsuk/expoavtest

When `staysActiveInBackground` is set to `true`, in the `expo-av` configuration, the audio keeps playing even when in backg

[2019-05-21 09:56] GH974 opened #258 "use redux on event"
# Description
In android, on the lockscreen, the button action, play, pause,  does not work. It work if app is opened and i use button action in notification screens.

1. Sample code (provide repo url or sample code)
I use redux in my app, and MusicControl.event code is in app.js and get redux action in my another component VideoPlayer.js
[code]

2. Platform ?

   - [ ] iOS
   - [x] Android

3. De

[2019-05-22 12:55] matinzd commented on #236
I have the same issue on android tested with all actions and devices !

[2019-05-23 05:38] GH974 commented on #258
I found this bug. i use setTimeout function, and it doesn't work in background mode. Why ?

[2019-05-23 07:18] #236 closed

[2019-05-23 12:04] matinzd opened #260 "Illegal null AudioFocusRequest exception"
# Description
When audio is not initialized and request user request pause native
` Illegal null AudioFocusRequest `
   Exception appears

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2019-05-24 15:22] #260 closed

[2019-05-25 20:51] nisheetsun opened #262 "A new instance of app is getting created on click of push notification."
Every time I click on the notification, it launches a new instance of App and navigates to the first/splash screen instead of navigating to the last visited screen. The issue that it causes is that the old component has not yet been unmounted and a new one gets created on top of that. I am using react-native-video(with playInBackground as true), every time I click in notification it launches the a

[2019-05-28 06:16] arondn2 commented on #247
Hi, guys.

I had the same issue and I resolved it adding the permission `<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />` in the AndroidManifest.xml.

Regards.

[2019-05-28 06:17] arondn2 commented on #241
Hi, guys.

I had the same issue and I resolved it adding the permission `<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />` in the AndroidManifest.xml.

Regards.

[2019-05-28 06:19] arondn2 commented on #141
Hi, guys.

I had the same issue and I resolved it adding the permission `<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />` in the AndroidManifest.xml.

Regards.

[2019-05-28 06:19] arondn2 commented on #122
Hi, guys.

I had the same issue and I resolved it adding the permission `<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />` in the AndroidManifest.xml.

Regards.

[2019-05-28 06:19] arondn2 commented on #121
Hi, guys.

I had the same issue and I resolved it adding the permission `<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />` in the AndroidManifest.xml.

Regards.

[2019-05-28 06:20] arondn2 commented on #68
Hi, guys.

I had the same issue and I resolved it adding the permission `<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />` in the AndroidManifest.xml.

Regards.

[2019-05-28 07:09] tanguyantoine commented on #121
@arondn2 would you mind creating a pull request to update the README? :-) 🙏

[2019-05-28 07:09] #122 closed

[2019-05-28 07:09] #141 closed

[2019-05-28 07:10] #241 closed

[2019-05-28 07:13] tanguyantoine commented on #244
did you try this ` <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />` ?

[2019-05-28 08:41] arondn2 commented on #121
@tanguyantoine sure. I'll work on that

[2019-05-28 11:20] MykolaSauliak commented on #141
Did you find a solution?

[2019-05-28 12:09] roffelund commented on #247
@arondn2 Should be added to readme.md https://github.com/tanguyantoine/react-native-music-control/pull/263

[2019-05-28 15:23] arondn2 commented on #247
@roffelund  I'm on it

[2019-05-28 18:51] rreiser-auti opened #264 "Handle Audio Interruptions with instagram app [Android]"
# Description
When the app is opened and the state is paused, i touch play button in a video on instagram app, then i pause the instagram video, my app starts to play by itself.

1. Sample code (provide repo url or sample code)
MusicControl.handleAudioInterruptions(true);

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2019-05-28 20:53] The0racle commented on #244
@tanguyantoine yes.

[2019-05-28 20:57] The0racle commented on #247
@arondn2 I have that permission already. App still crashes.

[2019-05-28 22:15] arondn2 commented on #247
@The0racle Do you have the logs?

[2019-05-29 21:19] redpandatronicsuk commented on #257
I just updated the dependencies the the repo with the sample code for this issue (https://github.com/redpandatronicsuk/expoavtest) now using `expo-av: 5.0.0` and `react-native-music-control: 0.10.4` and the issue persists.

[2019-05-30 19:30] Raghukamc commented on #262
Same here

[2019-05-30 19:46] Raghukamc commented on #262
Add this code in AndroidManifest.xml. It works for me
<activity
  android:name=".MainActivity"
  android:launchMode="singleTask">

https://facebook.github.io/react-native/docs/linking

[2019-05-31 05:05] ouabing commented on #244
Same issue here, only Android 9 devices are impacted.

[2019-05-31 05:09] ouabing commented on #247
Still facing this issue after adding permission to AndroidManifest.xml.

Seems like only Android 8.1 devices are impacted, logs below:

[code]

[2019-05-31 05:43] arondn2 commented on #247
@ouabing I am using android 8.1. Maybe you can try cleaning de android project and rebuilding. You can try with `react-native link` or specific `react-native link react-native-music-control` to be sure that everything is ok. Sorry for being of little help

[2019-05-31 06:55] ouabing commented on #247
Thanks, @arondn2 . Our app has already released several build versions, the release script will clean the build cache before assembleRelease so I think cleaning & rebuilding won't fix this issue (at least for me).

Correct my previous comment, I checked our error tracker again, Android 8.0, 8.1, 9.0 devices have this issue.

[2019-06-02 11:11] MykolaSauliak commented on #96
What I need to modify to change custom theme ?

[2019-06-03 08:31] ShrutiGarg019 opened #265 "app crashes in Android 6.0 device"
java.lang.OutOfMemoryError:
  at dalvik.system.VMRuntime.newNonMovableArray (Native Method)
  at android.graphics.BitmapFactory.nativeDecodeAsset (Native Method)
  at android.graphics.BitmapFactory.decodeStream (BitmapFactory.java:856)
  at android.graphics.BitmapFactory.decodeResourceStream (BitmapFactory.java:675)
  at android.graphics.drawable.Drawable.createFromResourceStream (Drawable.java:22

[2019-06-03 10:46] #265 closed

[2019-06-03 10:58] ShrutiGarg019 commented on #265
why is my issue closed? I am facing problem and i want solution for the same.

[2019-06-03 11:46] tanguyantoine commented on #265
This is not an issue but a crash log. If you want someone to help you then please elaborate and provide as much information as you can.