[2019-06-03 11:49] tanguyantoine commented on #262
@Raghukamc  would you mind creating a PR explaining what to do?

[2019-06-04 03:13] alanperius commented on #262
Hi @nisheetsun i'm getting the same problem... i don't know how to fix it. adding:
<activity
  android:name=".MainActivity"
  android:launchMode="singleTask">

on manifest do not worked =(

[2019-06-06 05:44] gazedash commented on #239
@tanguyantoine I have the same crash as @GH974 , and I enabled FOREGROUND_SERVICE permissions

[2019-06-06 12:24] gazedash opened #266 "Context.startForegroundService() did not then call Service.startForeground()"
# Description
Context.startForegroundService() did not then call Service.startForeground()
#159

Often happens on Samsung, 9.0 android version
I have
```<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />``` in my manifest.

I use the latest version of react-native-music-control ("0.10.4")

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [ ] iOS
   - [X]

[2019-06-06 18:07] The0racle commented on #262
Android manifest.

![image](https://user-images.githubusercontent.com/4213174/59055657-34b96200-884b-11e9-97cf-cbf4f6c4b9ee.png)

[2019-06-08 10:10] MykolaSauliak opened #267 "Feature to add: base64 image for artwork field"
Now It's doesn't work
Expect artwork look: `data:image/gif;base64,${sound.image}`

2. Platform
   - [x] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2019-06-08 22:37] brave-merida opened #268 "java.lang.NullPointerException: Attempt to invoke virtual method 'void com.tanguyantoine.react.MusicControlAudioFocusListener.requestAudioFocus()' on a null object reference"
# Description
I have upgraded the react-native version to 0.59.8 and react-native-music-control version to 0.10.4
iOS app works fine, but android getting this error.
[code]

1. Environment
react-native: 0.59.8
react-native-music-control: 0.10.4

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [x] Simulator
  - [x] Real device

Please help me, thanks.

[2019-06-09 00:31] mohsinriaz17 commented on #268
remove MusicControl.handleAudioInterruptions(true) for Android
had the same issue

[2019-06-09 12:39] #268 closed

[2019-06-09 14:20] tanguyantoine commented on #268
Is it solved or is it a workaround?

[2019-06-10 09:16] roffelund commented on #258
I believe there is often issues when using setTimeout functions in backround mode. Have you tried not using setTimeout or possibly something like https://www.npmjs.com/package/react-native-background-timer.

[2019-06-11 11:21] iamraffe commented on #187
I having this issue. Is there a fix / patch I could try?

[2019-06-11 12:31] Adam3306 commented on #187
Hi!

I cant solve the problem :(

Adam

raffe <notifications@github.com> (időpont: 2019. jún. 11., K, 13:21) ezt
írta:

[2019-06-12 03:38] john-hu commented on #187
@tanguyantoine Sorry for late replying. I got a lot of works recently. I didn't fix it. I just install the app to my new device which is Android 9. The issue is still there.

[2019-06-13 03:14] gazedash commented on #187
Pause and other buttons doesn't work on lock screen on Samsung, Android 9

[2019-06-13 17:19] iamraffe commented on #187
This fixed it for me -> https://github.com/tanguyantoine/react-native-music-control/issues/42#issuecomment-298464494

It seems we just need to be as explicit as possible.

Got this working in a Samsung S10+!

[2019-06-14 09:23] roffelund commented on #264
This would be because as soon as the app gains audioFocus it tries to play.

[code]

[2019-06-18 07:04] truckhiem commented on #147
Hi @tanguyantoine any update for this issue. I have same issue and don't know how to fix. Thanks.

[2019-06-18 07:05] tanguyantoine commented on #147
@truckhiem can you elaborate and give more information? It does not work on iOS simulator

[2019-06-18 07:46] truckhiem commented on #147
@tanguyantoine I tested in iphoneX, it's not work.
I'm using react-native-video to play and react-native-music-control to control music on lockscreen.
- Play video --> control show
- Pause video --> control disappear
I'll share you my code if you need

[2019-06-18 08:25] tanguyantoine commented on #147
Please do

[2019-06-18 08:29] truckhiem commented on #147
`MusicControl.enableBackgroundMode(true);

        MusicControl.on('nextTrack', () => {
            // MusicControl.resetNowPlaying();
            EventBus.getInstance().fireEvent(GlobalString.Event.VideoControl, {code: GlobalString.PlayerControlCode.Next});
        });

        MusicControl.on('previousTrack', () => {
            EventBus.getInstance().fireEvent(GlobalString.Event.VideoControl, {

[2019-06-18 08:30] truckhiem commented on #147
`EventBus.getInstance().addListener(GlobalString.Event.VideoControl, this.listenerVideoControl = data => { if (data.code) { switch (data.code) { case GlobalString.PlayerControlCode.Pause: this.setState({ isPauseVideo: true, }); if(this.isMusicControlSetup) { MusicControl.updatePlayback({ state: MusicControl.STATE_PAUSED, speed: 0, }) } break; case GlobalString.PlayerControlCode.Play: this.setState

[2019-06-18 08:31] truckhiem commented on #147
`EventBus.getInstance().addListener(GlobalString.Event.VideoControl, this.listenerVideoControl = data => {
            if (data.code) {
                switch (data.code) {
                    case GlobalString.PlayerControlCode.Pause:
                        this.setState({
                            isPauseVideo: true,
                        });
                        if(this.isMusicControlSe

[2019-06-19 13:15] osiloke opened #269 "Airplay from the control center does not stream to appletv"
# Description
As the title suggests, clicking the airplay icon on the control center UI connects to an appletv device but does not stream the audio.

1. Sample code (provide repo url or sample code)
There is no sample code because the issue is at iOS control center

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2019-06-23 20:12] brettdh opened #270 "setNowPlaying fails on each fresh app launch"
# Description

When I install my app with `react-native run-ios`, or if I force-quit and relaunch the app, when I tap a button which results in calling `MusicControl.setNowPlaying` followed by `MusicControl.updatePlayback`, the app controls don't display.

If I then refresh the javascript bundle with command-R and repeat the above actions, the app controls _do_ display. But, if I reinstall the app

[2019-06-25 23:18] The0racle commented on #247
@ouabing @tanguyantoine @arondn2 could it be that the target SDK version has to be set to `28`? Our project is currently set to `26` in `build.gradle`

![image](https://user-images.githubusercontent.com/4213174/60139993-e837b700-9764-11e9-8fdf-b4ad442e9fb3.png)

[2019-06-26 14:25] brettdh commented on #270
Cannot reproduce on my iPhone X, iOS 12.3.1. Haven't yet been able to get iOS 12.3.1 running in the simulator, so I'm not sure if it's a simulator issue or an iOS 12.2 issue.

[2019-06-30 19:01] brettdh commented on #270
FWIW, I also could not reproduce the issue on the Android emulator.

[2019-07-02 21:23] AnilkumarDO opened #274 "How to remove selected controls from UI in lockscreen"
Thanks for the great library. Instead of disable the control in UI, I have to remove the selected control in UI.

I don't want show particular controls in UI.

Is it possible?

[2019-07-03 19:17] sefatamak opened #276 "Notification bar continue to show when app is closed"
I want to close notification bar when app is closed by user but when I close the app completely, notification bar continue. How can I solve it ?
2. Platform ?
   - Android

3. Device
  - Real Device (LG G4)

[2019-07-05 16:10] timmywil opened #280 "Add support for React Native 0.60, specifically androidx support libraries"
# Description

Build a new project with `react-native init`, include react-native-music-control, and try to build in Android. The build fails with error `ERROR: Unable to resolve dependency for ':react-native-music-control@debug/compileClasspath': Could not resolve androidx.core:core:{strictly 1.0.0}.`

I've tried several workarounds, including using [jetifier](https://github.com/mikehardy/jetifie

[2019-07-06 16:41] AnilkumarDO commented on #112
Any fix for this issue, I am also getting same issue in iOS

[2019-07-08 06:53] ouabing commented on #280
Add following line to `node_modules/react-native-music-control/android/build.gradle`

[code]

[2019-07-08 18:17] ammoradi commented on #70
I have same issue.
Both on Android 8 and Android 9.
details:
[code]

[2019-07-08 22:20] timmywil commented on #280
@ouabing set me on the right path, but everything needed to be moved over to androidx to compile.

[2019-07-09 03:13] ouabing commented on #280
@timmywil Using [jetifier](https://github.com/mikehardy/jetifier) and adding a postinstall script to your `package.json` will allow you to transfer non-AndroidX projects to AndroidX compatible temporally.

[2019-07-09 14:35] timmywil commented on #280
@ouabing That did not work for this project.

[2019-07-09 15:50] timmywil commented on #280
I noticed in https://github.com/react-native-community/react-native-slider they now publish a `next` tag on npm for RN 0.60. That might be a good solution here as well.

[2019-07-09 16:57] #280 closed

[2019-07-10 07:11] gazedash opened #283 "MusicControl.on('pause', ...) doesn't get called when there is a phone call"
onAudioFocusChange on android doesn't get called when there is an icnoming call. It works when there are headphones connected. You will see if you add a log to `react-native-music-control/android/src/main/java/com/tanguyantoine/react/MusicControlAudioFocusListener.java` line 26

2. Platform ?

   - [ ] iOS
   - [X] Android

3. Device
  - [ ] Simulator
  - [X] Real device

[2019-07-10 09:41] Fl0p commented on #146
👍

[2019-07-17 02:12] dengue8830 commented on #266
i'm facing the same, @gazedash do you solve it?

[2019-07-17 09:55] mojtaba-hajishah commented on #276
Same for me on Android 5.

[2019-07-21 19:12] dengue8830 opened #284 "setNowPlaying remains in pause state if was destroyed in pause state [with workaround]"
# Description

Steps:
1) play
`MusicControl.setNowPlaying({..., state: MusicControl.STATE_PLAYING });`
Progress bar moves fine
2) pause
`MusicControl.updatePlayback({..., state: MusicControl.STATE_PAUSED });`
3) destroy
`MusicControl.stopControl();`
4) play
`MusicControl.setNowPlaying({..., state: MusicControl.STATE_PLAYING });`
Progress bar stay in paused state

If you skip the step 2, in step 4

[2019-07-22 12:45] karaoak opened #285 "Unwanted app icon fallback for artwork on iOS"
# Description
When calling:
[code]
with either a locally required image or remote image url that's not different from the currently displayed artwork image, there will always be a fallback to the app icon of the app.

I would expect when the artwork image does not change, you will not notice any update or flicker in the display of this image on the lockscreen of your iOS device.

Now e.g. image1.p

[2019-07-25 23:55] jarredwitt opened #286 "Android pause from notification recreates notification"
# Description

When pressing the pause button on the music control notification in the notification drawer, the notification is destroyed and a new one is created. Pressing play on the new notification plays the audio, but the state of the notification remains and does not switch to show the artwork, title or the pause button that the original had. When playing/pausing from within my app using my

[2019-07-29 17:50] AnilkumarDO opened #287 "Unable to set notification icon in Android"
Thanks for the great library.

But, While I tried to set notification icon, It is nothing showing.

I have added images like **my_custom_icon.png** in all drawable directories in android folder.

But, It is not showing in any icon in Notification bar, Only showing play/pause with app title.

    MusicControl.setNowPlaying({
      title: audioTitle,
      artwork: audioImage,
      duration: parseF

[2019-08-01 10:00] rborn commented on #113
@kesha-antonov @marf did you find a fix ? I have this on a few devices with android 6 and 5 ( production, reported by crashlytics) 🤗

[2019-08-03 03:57] hiennguyen92 commented on #266
Got the same issue, I tried many workaround but can't solved completely

[2019-08-07 17:58] rborn commented on #286
@jarredwitt I have the same, did you test with the change you are suggesting? Thnx

[2019-08-07 18:12] rborn commented on #286
@jarredwitt I tested directly in node_modules and it works, I commented that line. So if you want please make the PR ❤️

[2019-08-08 08:24] rborn opened #288 "Version 0.10.5 introduces notification errors on android"
# Description

With version 0.10.5 on Android the controls on the notification won't work correctly anymore.
After you pause the media from the notification controls the notification will recreate and move to pause state but lose the artwork and also won't switch back to play mode -  the buttons won't update (however the audio does start to play)

- Android 9
- Nokia 7 Plus

1. Sample code (provid

[2019-08-10 23:57] jamsch commented on #244
![image](https://user-images.githubusercontent.com/12927717/62827934-1139db80-bc2f-11e9-9ae0-a563490d4b1b.png)

Issue still persists using the latest version. Affects Samsung Galaxy devices. I've already added the `FOREGROUND_SERVICE` Android permission a while back.

[2019-08-19 18:56] kesha-antonov opened #289 "[iOS 13][Bug] Xcode 11 support"
Hey!

On iOS 13 app crashes when built with xcode 11 when calling Music Control

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2019-08-19 19:06] tanguyantoine commented on #289
Feel free to provide some logs

[2019-08-19 20:03] kesha-antonov commented on #289
[code]

[2019-08-20 14:25] johankasperi commented on #289
Hi! I have this bug as well in my apps. I have made an PR that should be fixing the issue (https://github.com/tanguyantoine/react-native-music-control/pull/290). Please give it a try and let me know if it isn't working or if you need any further information. Thank you!

[2019-08-20 14:48] kesha-antonov commented on #289
@johankasperi Awesome! Will do

[2019-08-20 17:51] #289 closed

[2019-08-20 21:48] tanguyantoine commented on #289
would you mind trying with `0.10.6`?

[2019-08-22 17:05] kesha-antonov commented on #289
thanks! Now I don't see that crash

[2019-08-23 09:49] marf commented on #244
Are there any solutions for this problem?

[2019-08-24 03:34] t2 commented on #286
@rborn @jarredwitt I don't get a new notification but the controls don't work at all. Can you share your code where you enable the controls?

[2019-08-25 12:14] marf commented on #266
Same problem here!

[2019-08-26 11:24] rborn commented on #286
I'm just using the code as specified in readme.

[2019-08-26 15:09] t2 commented on #286
@rborn You just copied the exact Basic Controls section? You mind pasting the code you're using for your enabling of controls?

[2019-08-26 15:19] rborn commented on #286
mine is something like this:
[code]

Keep in mind that I have removed code (non essential) , I use MobX for state management and I applied the fix https://github.com/tanguyantoine/react-native-music-control/issues/286#issuecomment-519205397 directly in node_modules

and  "react-native-music-control": "0.10.4",

[2019-08-26 15:19] rborn commented on #286
@jarredwitt do you mind making the PR, maybe we get it merged? 🤗

[2019-08-26 15:33] rborn commented on #286
@tanguyantoine ❤️

[2019-08-26 17:52] tanguyantoine commented on #286
published under `0.10.7`

[2019-08-26 17:52] #286 closed

[2019-08-26 21:08] t2 commented on #286
@rborn @jarredwitt Thanks, guys! Getting closer but it's still not working exactly as expected. The pause works but the play button never shows, I cannot swipe the notification away, and the lock screen shows the next track icons instead of the skip forward and back. Any thoughts there?

[2019-08-26 22:01] t2 commented on #286
@jarredwitt @rborn Got it all working as expected on the notifications. I will tackle lock screen next. Thank you both for your help!

[2019-09-03 00:15] sfreeman28 commented on #287
I'm using ` "react-native-music-control": "0.10.4",` and have it working.
I have png files inside my `drawable` folders (`drawale-xxhdpi` etc).

One thing I noticed is every time you call `setNowPlaying` you need to pass in `notificationIcon: 'my_custom_icon',` otherwise it gets set to the default icon.

I am not setting the `color` property inside setNowPlaying.

[2019-09-03 00:25] sfreeman28 commented on #270
I have the same issue. Simulator running 12.2.
Can confirm Android Emulator not an issue.

I have not tested on a real iPhone yet.
Did you find any solution for iOS?
Regards

[2019-09-03 01:43] brettdh commented on #270
@sfreeman28 nope; I've never seen it on my real iOS device, and I haven't pressed further into the iOS version issue on the simulator.

[2019-09-03 02:33] sfreeman28 opened #295 "resetNowPlaying does not hide notification on iOS"
# Description

When calling resetNowPlaying I expect the media notification to be removed on iOS. On Android the notification is indeed removed.

The docs say the controls should be hidden https://github.com/tanguyantoine/react-native-music-control#reset-now-playing

# Info

1. Sample code (provide repo url or sample code)

Just call `MusicControl.resetNowPlaying()` after calling `MusicControl.set

[2019-09-03 02:34] sfreeman28 commented on #270
@brettdh Ok thanks. Appreciate the fast reply.

[2019-09-03 04:54] sfreeman28 commented on #276
I noticed this issue too. It also can affect devices running Android O (28).

You can reproduce by calling `resetNowPlaying` which hides the notification (and kills the foreground service on O), then call `setNowPlaying` again to show the notification, and then swipe the app away to kill it. The second notification is still visible.

The way I fixed this for Android O was to change the start of th

[2019-09-04 06:51] tanguyantoine commented on #287
May I ask you to add a section into the README?

[2019-09-04 06:51] #287 closed

[2019-09-05 09:16] SwiftyWang opened #296 "When audio start playing. Notification will dismiss."
# Description
Using XIAOMI 8 to debug.
After audio start to play, the notification will disappear.
btw: I using this lib to display notification and use **_react-native-video_** to play music.
1. Sample code (provide repo url or sample code)
After debug the Android code of this lib. I find
[code]
is been called.

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Rea

[2019-09-10 11:53] tothvoj-gl opened #297 "Android: setNowPlaying is not thread safe"
# Description
This issue reopens this one: https://github.com/tanguyantoine/react-native-music-control/issues/121
Quickly call setNowPlaying method multiple times. In real world, this use case happens e.g. when the user quickly presses next track button in the controller.

This issue is caused by unsafe concurrent access to a Buffer or other Okio stream: https://github.com/square/okhttp/issues/353

[2019-09-21 07:07] tomsvogel commented on #243
@nishiltamboli @gollkn  did you find a solution for this?

[2019-09-24 06:32] RWOverdijk commented on #297
@tothvoj-gl What would be the proper solution here?

[2019-09-24 06:37] RWOverdijk opened #298 "State of this project"
@tanguyantoine are you still on this project? I see a lot of valid issues without a response. Do you need help?

[2019-09-24 06:43] tanguyantoine commented on #298
Help is very welcomed :-)

[2019-09-24 06:44] tanguyantoine commented on #298
I'm not an Android expert and not really investing time in iOS either. Who ever wants to contributes is welcome.

[2019-09-24 06:47] sampsonjoliver commented on #244
We're also seeing this issue in our app.

[2019-09-24 06:53] RWOverdijk commented on #298
@tanguyantoine I get that. I'll maintain a fork for now, I'll actively be using this somewhere this week and start fixing things when needed.

[2019-09-24 06:53] #298 closed

[2019-09-24 08:05] tothvoj-gl commented on #297
It is a quote from the issue thread in Okio github.

[2019-09-24 08:31] RWOverdijk commented on #297
I'll give this a go once I start using the module later this/next week.

[2019-09-26 17:36] The0racle commented on #244
Unfortunately this is the number of crash in our app. It literally increases crashes by 2%. If someone has a fix for this, it's much appreciated.

[2019-09-28 19:17] RWOverdijk commented on #285
@karaoak I think I'm seeing similar behaviour, but for me it's only loading the image once. If I replay the same item, it shows the app icon. The only way to get back the cover is by changing the url.

Did you manage to solve this?

[2019-09-30 17:33] The0racle commented on #244
Maybe related to #276 ?

[2019-10-01 07:05] tanguyantoine commented on #244
does one of you have any Android knowledges?

[2019-10-05 08:15] marf commented on #285
I have the same problem!

[2019-10-07 20:54] The0racle commented on #244
Unfortunately I don't.

[2019-10-14 10:38] fjmorant commented on #266
same 👍

[2019-10-14 17:41] jeanffc commented on #283
I have the same problem :/

[2019-10-16 22:00] jeanffc commented on #268
Isn't working yet for me :/

![Screenshot_1571263144](https://user-images.githubusercontent.com/767813/66962324-19efc900-f047-11e9-9020-4a92ff3e5131.png)

[2019-10-17 17:04] garfiaslopez commented on #266
+1

[2019-10-21 16:05] garfiaslopez commented on #247
+1 @The0racle  how did you solve this?

[2019-10-21 16:18] arondn2 commented on #247
@The0racle We are using `targetSdkVersion 28`

[2019-10-21 16:19] garfiaslopez commented on #244
@jamsch did you fix this?

[2019-10-21 18:38] The0racle commented on #247
@garfiaslopez unfortunately I haven't found a way to fix it yet. Changing to `targetSdkVersion 28` didn't fix it either.

[2019-10-22 02:42] sfreeman28 opened #299 "NowPlayingPlaybackState not working on iOS 13"
# Description

Updated to Xcode 11 to test on a simulator running iOS 13.
Now when changing the playback state using `MusicControl.updatePlayback` it does not update the state in the NowPlaying notification correctly.
Eg: if notification is in Paused state and set to MusicControl.STATE_PLAYING, the notification remains Paused.
Note when clicking actions on the notification itself the state is corr

[2019-10-22 07:54] tanguyantoine commented on #299
Do you experience the same result with a real device?

[2019-10-22 16:18] dylancompanjen commented on #299
I'm having issues on my iOS app aswel since I updated to iOS13.

[2019-10-22 23:03] seque1990 commented on #178
@tanguyantoine  Sorry, I completely forgot about this. Is this still needed?

[2019-10-22 23:12] sfreeman28 commented on #299
Yes a client first witnessed the issues on their real device.

[2019-10-23 02:59] benoitvogel commented on #266
Same problem here. Android 10 in an emulator.

Crashes consistently when calling setNowPlaying() after either resetNowPlaying() or stopControl().

[2019-10-23 06:00] tanguyantoine commented on #178
No clues ^^

[2019-10-25 05:46] BloodyBeans commented on #299
I'm also having issues since i upgraded to iOS 13.
For example:
 - Instead of previous and next icons the icons for 10 seconds forward and 10 seconds backwards appear
- The music controls disappear when the application goes to background
- Song information does not appear sometimes

[2019-10-27 02:08] mayconbenito opened #300 "Feature: close notification"
### Description
When calling `MusicControl.resetNowPlaying() or MusicControl.stopControl()` the notification continues to show like that:
![oie_EXuKU4axf2aK](https://user-images.githubusercontent.com/28637562/67628508-6c01cd00-f845-11e9-9588-77a0ccf063c9.png)

It would be nice to have a function to close the notification like: `MusicControl.closeNotification()`

[2019-10-28 06:25] sampsonjoliver commented on #244
Just for context, I'm seeing this issue in production across a lot more than just Samsung devices.

![image](https://user-images.githubusercontent.com/9619248/67656428-e3e80880-f9a7-11e9-88bf-4e989be7a38a.png)

[2019-10-28 06:27] sampsonjoliver commented on #244
After a little bit of digging, what I've seen so far is:

The `MusicControlModule.init` method sets the `notification` instance, and then starts the `MusicControlNotification.NotificationService`.

Then `MusicControlNotification.NotificationService.onCreate` references the `MusicControlModule.INSTANCE.notification` and calls methods on it. This wouldn't be executing if the foreground service was f

[2019-10-31 03:59] Hassam34 opened #301 "Notification not working on IOS simulator and IOS device"
I have tried every thing which the package said

1. This is my Sample Code
[code]

This is my  setNowPlaying() function
[code]

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2019-10-31 04:06] Hassam34 opened #302 "On some android phones play and Pause of notification is not working properly"
At first i  am trying to run my app on android 7.1 and it works fine for play and pause in notification but when i try to run on Android 8.0 play and pause button doesn't toggle in a right pattern as it runs on android 7.1

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2019-10-31 04:38] #302 closed

[2019-11-06 18:22] pedro-lb commented on #156
@Shazam14 did you manage to solve this issue?

[2019-11-06 21:37] pedro-lb commented on #13
@zumaawad Did you create the PR? Can you provide more details?

[2019-11-06 21:44] pedro-lb opened #303 "null is not an object (evaluating 'NativeMusicControl.STATE_PLAYING') - Ejected Expo (ExpoKit) 35.0.0"
![image](https://user-images.githubusercontent.com/22061051/68340100-9153ce00-00c4-11ea-954f-a2d5b3ae45f6.png)

# Description

When using this lib with `Expo` (SDK 35.0.0, ejected using `ExpoKit`), I get this error above just by doing `import MusicControl from 'react-native-music-control';`.

I've tried the following below. Nothing works.
* Linking with `react-native link react-native-music-contro

[2019-11-06 21:44] pedro-lb commented on #167
I'm also having this issue.

Details here: https://github.com/tanguyantoine/react-native-music-control/issues/303

@ramos-lucas did you manage to solve the issue?

[2019-11-06 23:58] gonchar commented on #299
iOS 13 API has been changed, requires small fix

[2019-11-07 12:32] ramos-lucas commented on #167
@pedro-lb I changed to v0.7.3

[2019-11-07 14:19] pedro-lb commented on #167
Thanks @ramos-lucas! Unfortunately this didn't solve the issue. Looking forward for Expo 36.

[2019-11-08 20:28] pabloluz commented on #244
Thanks for the insight, @sampsonjoliver.

From my end, I can also confirm the issue is happening in production on devices running Android 9 and 10 (mainly, but not limited to Samsung Galaxy and Moto G families).

[2019-11-11 14:25] schumannd commented on #280
Does this package support RN +0.60, autolinking, androidx etc.?

[2019-11-12 11:02] tanguyantoine commented on #280
No work has been down on this side. Do you have sone link we can refer to so that we can do the necessary to make it work? Can you help in that sense?

[2019-11-12 11:04] schumannd commented on #280
@tanguyantoine

Unfortunately I have no such experience either. But with a quick search I found [this readme](https://github.com/react-native-community/cli/blob/master/docs/autolinking.md) which seems detailed enough.

[2019-11-12 17:57] timmywil commented on #280
This package already works for me with RN 0.60+. This is the PR that did the necessary migration to androidx. The only thing necessary for iOS was to have a podspec, which this package has.

[2019-11-12 17:59] timmywil commented on #280
In fact, I don't think this package would work with <=0.59 anymore unless you did a reverse [jetify](https://github.com/mikehardy/jetifier).

[2019-11-13 19:54] JustinKasad commented on #299
I am also having this problem.  Music controls and now playing metadata are not being set on ios 13.   There are no errors in the logs.

@dylancompanjen @sfreeman28 were you able to find a workaround?

[2019-11-13 20:18] sfreeman28 commented on #299
No I haven't. The metadata seemed to show up for me, but it was the playing/paused state that was not working correctly.

[2019-11-18 13:32] ajoykarmakar459 opened #304 "Refresh The App and Allow user to close notification"
Thank you for creating this awesome plugin but I am facing some issues,-

1. like when I tap on a play button it's started to show on the notification bar and now if I minimize the app click on the control notification then it refreshes the whole app and plays the music in the background and I lost my player and playing the position.

2.`MusicControl.enableControl('closeNotification', true, {when:

[2019-11-18 21:08] cinder92 opened #305 "[FEATURE] - getNowPlaying"
Hello, its possible to get current player info?

i.e,

when app runs in background, and user open it a time after,  it would be great to get the current player info, elapsed time, song id, song duration, etc.

is there any way to do this?

thanks

[2019-11-19 06:46] dylancompanjen commented on #299
@sfreeman28 no, I'm also getting reports now that the background controls won't show up anymore in a lot of cases.

[2019-11-20 01:12] michael-38 opened #306 "Exception 'Unsupported action method signature. Must return MPRemoteCommandHandlerStatus"
# Description

I'm getting this error whenever I'm running simulator on iOS 13+. Everything works for iOS 12 and below so I'm not sure what to do here.

``Exception 'Unsupported action method signature. Must return MPRemoteCommandHandlerStatus or take a completion handler as the second argument.' was thrown while invoking enableControl on target MusicControlManager with params ( pause, 1, { } )``

[2019-11-20 07:56] tanguyantoine commented on #306
please provide code sample or demo app

[2019-11-20 17:45] michael-38 commented on #306
This is the only component where I have the ``react-native-music-control``

[code]

[2019-11-20 17:59] michael-38 commented on #306
Updated to v0.10.7.

[2019-11-20 17:59] #306 closed

[2019-11-20 20:28] tanguyantoine commented on #306
Solved?

[2019-11-20 20:31] michael-38 commented on #306
Yes

[2019-11-23 20:53] jetobe95 commented on #243
Hello 👋🏼 @gollkn any solution ?

[2019-11-23 21:07] bunmiedee commented on #266
Turns out that the conditional block in MusicControlNotification onCreate method isn't necessary.

[code]

[2019-11-25 11:51] mertbuldur opened #307 "Hi i have problem"
My background is working but i slide lockscreen my sound is paused . What is Problem ?
[code]

[code]

[code]

please help me

[2019-11-27 02:39] lucasrocali commented on #264
I've created a PR
https://github.com/tanguyantoine/react-native-music-control/pull/308

[2019-11-30 12:04] EyyupUlutas commented on #257
@redpandatronicsuk Is there a solution to this issue?

[2019-12-02 21:06] cmlarsen commented on #257
I also am having this issue
`react-native-music-control@0.10.7`

[2019-12-04 15:53] rgordon95 commented on #274
Does the lockscreen controls display on iOS 13?

[2019-12-09 05:37] danielle-Cman opened #309 "App crash with setShowActionsInCompactView"
# Description
This happened on Android app.
Anyone occur this issue?
[code]
1. Sample code (provide repo url or sample code)
I am using version
[code]

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2019-12-09 06:24] Pravin-L opened #310 "iOS - controls disappear from lockscreen and play / pause from lockscreen not reflects in app"
# Description

1. Sample code (provide repo url or sample code)
  componentDidMount() {
    MusicControl.enableBackgroundMode(true);
    MusicControl.handleAudioInterruptions(true);
    MusicControl.enableControl('play', true);
    MusicControl.enableControl('pause', true);
    MusicControl.enableControl('stop', false);
    MusicControl.enableControl('nextTrack', false);
    MusicControl.enableCon

[2019-12-09 06:34] danielle-Cman commented on #309
I found the root cause this issue happen on version <= 23:
The current code:
[code]
New code:
[code]

[2019-12-09 06:34] #309 closed

[2019-12-10 02:09] tanguyantoine commented on #305
this should be the responsibility of your app not of this package. THis package forward information and does not store anything

[2019-12-10 02:09] #305 closed

[2019-12-12 10:09] danielle-Cman commented on #307
Could you tell more detail about that?

[2019-12-12 14:13] anirudh-eka commented on #70
I saw this recently as well. Trying to understand if this is an issue with how our app interacts with the package. @tanguyantoine any idea what could cause such a state? Are there invalid inputs, that consumers of the component could be giving on accident?

[2019-12-12 18:46] tanguyantoine commented on #70
Tbh honest I’m not an Android expert.

The first things you could do is give more context to the error.
- sdk used
- version of the package used
- a repo that reproduces the error

The more information you give the better it is. This issue ads almost no information or context that could help solve the problem.

[2019-12-12 20:30] tanguyantoine commented on #307
how do you play songs?  What library do you use?
This library does not deal with song playing. I allows you to update current played song information

[2019-12-12 22:28] pedro-lb commented on #303
Any news here?

@tanguyantoine can you help?

[2019-12-12 23:08] tanguyantoine commented on #303
have you tried upgrading the package? I have no expertise in android

[2019-12-12 23:15] tanguyantoine commented on #303
can you try this: https://github.com/software-mansion/react-native-gesture-handler/issues/676

[2019-12-13 11:57] pedro-lb commented on #303
Thanks @tanguyantoine! I've tried both solutions but neither work. This leads me to think that this in an Expo problem rather than a problem with this lib, since it works flawlessly in normal React Native.

[2019-12-13 14:57] tanguyantoine commented on #303
clsing then :-)

[2019-12-13 14:57] #303 closed

[2019-12-13 14:59] tanguyantoine commented on #167
expo issue: https://github.com/software-mansion/react-native-gesture-handler/issues/676

[2019-12-13 14:59] #167 closed

[2019-12-13 15:01] tanguyantoine commented on #257
dis you eject the expo app? I think the issue is related to expo.

[2019-12-13 15:03] tanguyantoine commented on #67
please try `0.10.8`

[2019-12-13 15:04] tanguyantoine commented on #99
please try `0.10.8`

[2019-12-13 15:04] #99 closed

[2019-12-13 15:04] tanguyantoine commented on #113
reproducible with `0.10.8`?

[2019-12-13 15:05] tanguyantoine commented on #140
reproducible with `0.10.8`?

[2019-12-13 15:06] tanguyantoine commented on #143
reproducible with `0.10.8`?

[2019-12-13 15:06] #143 closed

[2019-12-13 15:07] tanguyantoine commented on #144
pleas try `0.10.8`?

[2019-12-13 15:07] #144 closed

[2019-12-13 15:07] tanguyantoine commented on #163
reproducible with `0.10.8`?

[2019-12-13 15:07] tanguyantoine commented on #171
reproducible with `0.10.8`?

[2019-12-13 15:09] tanguyantoine commented on #186
reproducible with `0.10.8`?

[2019-12-13 15:09] #186 closed

[2019-12-13 15:10] #187 closed

[2019-12-13 15:10] #189 closed

[2019-12-13 15:11] #190 closed

[2019-12-13 15:11] tanguyantoine commented on #192
reproducible with `0.10.8`?

[2019-12-13 15:11] #192 closed

[2019-12-13 15:11] tanguyantoine commented on #199
reproducible with `0.10.8`?

[2019-12-13 15:11] #199 closed

[2019-12-13 15:12] tanguyantoine commented on #216
reproducible with `0.10.8`?

[2019-12-13 15:12] #228 closed

[2019-12-13 15:12] #232 closed

[2019-12-13 15:13] tanguyantoine commented on #233
reproducible with `0.10.8`?

[2019-12-13 15:14] tanguyantoine commented on #244
reproducible with `0.10.8`?

[2019-12-13 15:15] tanguyantoine commented on #256
reproducible with `0.10.8`?

[2019-12-13 15:16] tanguyantoine commented on #258
reproducible with `0.10.8`?

[2019-12-13 15:17] tanguyantoine commented on #262
@The0racle can you create a PR to explain this tricks? 🙏

[2019-12-13 15:17] tanguyantoine commented on #264
reproducible with `0.10.8`?

[2019-12-13 15:17] #264 closed

[2019-12-13 15:18] tanguyantoine commented on #266
reproducible with `0.10.8`?

[2019-12-13 15:19] tanguyantoine commented on #267
reproducible with `0.10.8`?

[2019-12-13 15:20] tanguyantoine commented on #270
reproducible with `0.10.8`?

[2019-12-13 15:20] tanguyantoine commented on #276
reproducible with `0.10.8`?

[2019-12-13 15:21] tanguyantoine commented on #283
reproducible with `0.10.8`?

[2019-12-13 15:22] tanguyantoine commented on #288
reproducible with `0.10.8`?

[2019-12-13 15:22] tanguyantoine commented on #296
reproducible with `0.10.8`?

[2019-12-13 15:23] tanguyantoine commented on #297
reproducible with `0.10.8`?

[2019-12-13 15:23] tanguyantoine commented on #300
reproducible with `0.10.8`?

[2019-12-13 20:00] cmlarsen commented on #257
In my case my app isn't  an expo app but a standalone RN app.

[2019-12-13 22:17] tanguyantoine commented on #257
can you retry with the latest version?

[2019-12-14 23:37] mayconbenito commented on #300
Just tried and the same thing is happening on 0.10.8

[2019-12-15 19:13] a-koka commented on #184
This is happening to me daily on iOS. In my case, it doesn't have to do with text message trigger as it happens randomly. I'm also using react-native-sound to play local files, not streaming.

When this happens, the app is not running and the music **randomly** starts playing. When I start the app, it gets stuck on a white screen. Only upon killing the app, does the sound go away.

I've tried comp

[2019-12-17 09:43] redpandatronicsuk commented on #257
@tanguyantoine thanks for looking into this. For me resuming, once paused from the lock screen, still doesn't work with the latest versions of `react-native-music-control ` and `expo-av`. I found a workaround I posted here: https://github.com/expo/expo/issues/4171
Do you think the workaround is *correct* or just a patch for this particular problem but principally still flawed?

[2019-12-19 05:37] danielle-Cman commented on #301
You could change a little bit code:
[code]
I use version: `"react-native-music-control": "^0.10.7",`
It work well for me.

[2019-12-19 05:38] danielle-Cman commented on #310
You could follow: [https://github.com/tanguyantoine/react-native-music-control/issues/301#issuecomment-567341784](url)

[2019-12-19 05:46] Pravin-L commented on #310
Thank you @danielle-Cman for your comment, I will check and confirm.

[2019-12-19 20:18] a-koka opened #312 "iOS: Music starts playing randomly"
My app randomly starts playing music on iOS almost on a daily basis. When this happens, the app is usually killed (not running). The sounds that start randomly playing are setup using `react-native-sound` and are suppose to play as background music when the app is active. They are also local files, not streaming.

When the app is started after such occurrence, it gets stuck on a white screen. Only

[2019-12-20 06:27] Pravin-L commented on #310
It's not working...:(

[2019-12-20 08:15] danielle-Cman commented on #310
hmmmm...It really weird.
my side it work well.
Could you send your demo project, I will investigate it.

[2019-12-20 08:55] Pravin-L commented on #310
@danielle-Cman, It shows in the notification bar but when I locked my screen it will show without progressing progress bar. And when I unlocked the iPhone It will disappear from the notification bar as well.

Could you please share your mail id?

[2019-12-20 09:09] danielle-Cman commented on #310
With on my app:
[https://imgur.com/nbB67RK](url)
my email: iu.developer232@yahoo.com

[2019-12-26 10:15] sandeep-webvillee opened #313 "iOS 13 Issue."
# Description
Exception unsupported action method signature must return MPRemotecommandhandlerstatus or take a completion handler as the second argument was thrown while involving enable control on target musiccontrolmanager with params (skipbackword,
1,{
interval = 30 ;
}
)

iOS 13 Issues

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device

[2019-12-30 08:03] mordonez-me commented on #244
This is happening to me also:

`Process: com.mb.bl.app, PID: 4314
    java.lang.RuntimeException: Unable to create service com.tanguyantoine.react.MusicControlNotification$NotificationService: java.lang.NullPointerException: Attempt to invoke virtual method 'android.app.Notification com.tanguyantoine.react.MusicControlNotification.prepareNotification(androidx.core.app.NotificationCompat$Builder, b

[2019-12-30 08:27] mordonez-me commented on #247
Just for the record, this happens when I enable handleAudioInterruptions on Android.

[2020-01-06 02:11] AdamFu commented on #313
@sandeep-webvillee update to ^0.10.6
Duplicate of #289 & #306

[2020-01-06 04:46] sandeep-webvillee commented on #289
**Try this code its working just replace and let me know if are you facing any problem.

Go library and  go MusicControl.xcodeproj
Replace MusicControlManager.m**

#import "MusicControlManager.h"
#import <React/RCTConvert.h>
#import <React/RCTBridge.h>
#import <React/RCTEventDispatcher.h>
#import <AVFoundation/AVFoundation.h>

@import MediaPlayer;

@interface MusicControlManager ()

@property (non

[2020-01-06 04:47] sandeep-webvillee commented on #313
*Go library and  go MusicControl.xcodeprojReplace MusicControlManager.m*
#import "MusicControlManager.h"
#import <React/RCTConvert.h>
#import <React/RCTBridge.h>
#import <React/RCTEventDispatcher.h>
#import <AVFoundation/AVFoundation.h>

@import MediaPlayer;

@interface MusicControlManager ()

@property (nonatomic, copy) NSString *artworkUrl;
@property (nonatomic, assign) BOOL audioInterruptionsOb

[2020-01-06 07:42] tanguyantoine commented on #184
What make you think it relatest to this library rather than reac native sound?

[2020-01-06 16:10] a-koka commented on #184
It started happening only after adding this library to my app which has been live for 3 years and I've been using `react-native-sound` since the beginning without any issues. I only need music-control on Android so after disabling this library on iOS using `react-native.config.js` so that the library is not bundled on iOS, the problem goes away.

[2020-01-15 08:52] Pravin-L commented on #310
Hello @danielle-Cman,
Where did I get pause and play event, when I did it from notification pause /play?

[2020-01-18 04:37] longman6 opened #314 "App crash : MusicControl.enableControl('pause', true)"
# Description
  This code caused the following error.
[code]
or
[code]
   java.lang.IllegalArgumentException: setShowActionsInCompactView: action 0 out of bounds (max -1)

1. Sample code (provide repo url or sample code)
[code]
2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device
            Samsung SM-J7227S
            Samsung-G950N
4. package
   "react":

[2020-01-18 15:20] ThadeusAjayi commented on #168
On iOS if MusicControl.enableControl('pause', true) while playing, notification would not show

[2020-01-21 10:10] zatloeri commented on #304
I am facing the same problem with **1.**

What is the right solution for handling the **app refresh on notification press**?
What I would expect it to do is just maximize the minimized app since it can't play if it is not running.

[2020-01-21 10:12] kalpeshp0310 commented on #244
Some more info.
Those crashes occur after Audio focus changes or App runs out of memory.
Crash logs from our instaBug account.

[code]

[code]

[2020-01-23 11:54] zatloeri commented on #266
@tanguyantoine Yes, still getting this error on some hw devices in 0.10.8.
I think it started happening after I started calling `resetNowPlaying()` or `stopControl()` shortly after app start.

Maybe that is my mistake, cause I am not sure how to correctly start the control. When I enable control using `enableControl('play', true)` and `on(Command.play, () => {})` right before `setNowPlaying({...})

[2020-01-26 13:36] luqmanrom commented on #184
This happened to me on Google Pixel at least. It will randomly start playing the sound after certain actions ie viewing Insta story, Whatsapp video call. Not exactly sure the culprit is this library of react-native-video

[2020-01-28 04:52] chinmaygokhale opened #315 "Importing Issues"
The library has issues with just simply importing it without using it. Please provide a sample working code that is compatible with the expo-av.

[2020-02-01 11:36] chinmaygokhale opened #317 "Error occurs even if I try to import the library"
I am using a android simulator on windows machine
![Screenshot_1580556398](https://user-images.githubusercontent.com/43947609/73591512-66d3ae80-4515-11ea-98d9-91b1bc0b27c9.png)

[2020-02-01 19:56] tanguyantoine commented on #317
are you using expo?
https://github.com/tanguyantoine/react-native-music-control/issues/303

[2020-02-03 04:51] chinmaygokhale commented on #317
Yes, I am using expo.

[2020-02-03 07:45] tanguyantoine commented on #317
It does not work with Expo. Expo does not allow external libraries without ejecting. Did you?

[2020-02-11 16:30] pedro-lb commented on #268
Works for us here! Thanks, @mohsinriaz17 <3

[2020-02-15 20:35] ali-pedram commented on #244
is anybody merging this fix ?

[2020-02-17 15:44] Esirei commented on #314
Had this issue too, but updating the state of the MusicControl to STATE_PAUSED while the enableControls's are in the constructor worked for me.

[2020-02-17 18:32] tanguyantoine commented on #314
@Esirei would you mind sharing how you achieved that?

[2020-02-19 03:08] Esirei commented on #314
`
  constructor() {
    ...
    MusicControl.enableControl('play', true);
    MusicControl.enableControl('pause', true);
    ...
  }

  playFile = file => {
    if (this.sound) {
      this.sound.release();
    }
    this.sound = new Sound(file.path, '', error => {
      this.current = file;
      if (error) {
        return;
      }
      this.play();
      MusicControl.setNowPlaying({
        ti

[2020-02-19 07:30] tanguyantoine commented on #314
@longman6  Would you mind upgrading and try again?

[2020-02-21 20:42] FabricioCabeca commented on #244
Updated yesterday to version 0.11.0, no crashes reported so far

[2020-02-22 08:59] tanguyantoine commented on #244
Should I close it?

[2020-02-22 21:22] jeffbonasso-ambifi opened #319 "Certain Android devices...Couldn't expand RemoteViews for: StatusBarNotification"
When using the Music Control on certain Android devices it crashes the app. Some versions of Android work fine. Customers reported this to me on Version 7.1 of Android and I was able to reproduce.

Googling this error there seems like many suggestions such as this one, although it seems like there are a variety of things that cause the problem.
https://stackoverflow.com/questions/6209631/bad-notif

[2020-02-23 06:38] jandog8990 commented on #53
Hello, has anyone figured out this issue? I've tried everything mentioned above, from setting the Info.plist to enabling the controls prior to setNowPlaying, and also background processes in XCode. I'm using an iPhone 11 simulator as I do not have an iphone. I'm coding a react-native app and it's not working with the react-native-video module. Thank you and Here's some code:

[code]

[2020-02-23 13:04] tanguyantoine commented on #67
closing (stale)

[2020-02-23 13:04] #67 closed

[2020-02-23 13:04] tanguyantoine commented on #113
closing (stale)

[2020-02-23 13:04] #113 closed

[2020-02-23 13:04] tanguyantoine commented on #124
closing (stale)

[2020-02-23 13:04] #124 closed

[2020-02-23 13:04] tanguyantoine commented on #135
closing (stale)

[2020-02-23 13:04] #135 closed

[2020-02-23 13:04] tanguyantoine commented on #140
closing (stale)

[2020-02-23 13:04] #140 closed

[2020-02-23 13:05] tanguyantoine commented on #163
closing (stale)

[2020-02-23 13:05] #163 closed

[2020-02-23 13:05] tanguyantoine commented on #171
closing (stale)

[2020-02-23 13:05] #171 closed

[2020-02-23 13:05] tanguyantoine commented on #182
closing (stale)

[2020-02-23 13:05] #182 closed

[2020-02-23 16:42] jandog8990 commented on #310
Was this issue ever solved? I'm having the exact same issue, but within the iOS simulator.

[2020-02-24 08:12] tanguyantoine commented on #310
It has always been buggy in simulator

[2020-02-24 08:26] Pravin-L commented on #310
Yes, I am using react-native 0.58 yes the issue remains the same.

[2020-02-24 10:31] TSmallin opened #320 "react-native-music-control 在安卓Q 崩溃问题"
# Description

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [ ] iOS
   - [-] Android

3. Device
  - [ ] Simulator
  - [-] Real device

![截屏2020-02-24下午6 28 55](https://user-images.githubusercontent.com/11835325/75145321-ae73e180-5733-11ea-8a70-ca219e701ed7.png)

[2020-02-24 10:43] TSmallin commented on #320
![截屏2020-02-24下午6 28 55](https://user-images.githubusercontent.com/11835325/75146180-81c0c980-5735-11ea-909f-afce838cb086.png)

[2020-02-25 19:23] pabloluz commented on #266
Same issue here. I'm on `0.11.0`.

[2020-02-25 20:03] pabloluz commented on #266
(Just realized many currently open issues might be related to this one, like #244, for example)

@tanguyantoine, I appreciate in advance your attention on that ;)

[2020-02-26 05:12] tanguyantoine commented on #266
@bunmiedee would you mind creating a pull request ?

[2020-02-26 16:34] FabricioCabeca commented on #244
It is happening much less often, but there are still some crashes in the new version, now it crashes in the onStartCommand call instead of onCreate, below is the stack trace:

[2020-02-26 17:14] bunmiedee commented on #266
@tanguyantoine sure - I can look into it over the weekend

[2020-02-26 20:15] pabloluz commented on #244
@tanguyantoine I'm experiencing the same as @FabricioCabeca

[2020-02-26 21:38] sparcbr commented on #266
While we don't fix this I'm using this workaround to prevent multiple calls to startForegroundService. Seems to stop the bug from happening.

[code]

[2020-02-27 10:50] weareyou-laurens commented on #244
We are also experiencing this issue at production on a daily basis.
Devices where the crashes appear most often;

- Galaxy Tab A
- Galaxy S9
- HUAWEI Y6 2019

We use version 0.10.8 of react-native-music-control, and we have about 16 users affected by crashes every month. We do have the FOREGROUND_SERVICE permission configured.

Do you think upgrading to 0.11.0 would reduce the amount of crashes ex

[2020-02-27 19:42] pabloluz commented on #244
@weareyou-laurens `0.11.0` doesn't fix the issue entirely. See @FabricioCabeca 's comment above.

[2020-02-29 07:55] vjhameed commented on #297
anu update on this ?

[2020-03-02 09:43] tom-krusch commented on #236
I still have this error, no matter what configuration, I cannot close the notification!

[2020-03-03 15:29] jandog8990 commented on #310
Can you all please update your documentation to let developers know it is buggy, I spent a lot of time trying to fix this "bug" when it would have been helpful to know it's a dead end. It will save people time.

Thanks,

[2020-03-03 16:17] tanguyantoine commented on #310
@jandog8990 who are you talking to?

[2020-03-04 03:10] jandog8990 commented on #310
to you @tanguyantoine you're the maintainer correct?

[2020-03-04 04:40] danielle-Cman commented on #310
@Pravin-L Sorry my late.
You need implement this feature:
[code]

[2020-03-04 06:52] tanguyantoine commented on #310
@jandog8990 you are more than welcome to open a pull request. Keep in mind that OSS rely on community and rely on contribution. Feel free not to use this package of it does not fit your needs.

[2020-03-04 18:38] luisgurmendezMLabs opened #321 "Get Current Playing?"
How about adding a get current playing information?

[2020-03-05 07:41] tanguyantoine commented on #321
duplicate of #305

[2020-03-05 07:41] #321 closed

[2020-03-08 04:37] vjhameed commented on #296
I am also facing this

[2020-03-08 04:39] vjhameed opened #322 "Adding custom icons"
# Description

Hi

Thanks for creating this awesome lib. I love it. But there is a problem with icons they seem to be different across android phones. I would like to know how can i fontawesome or ionicons for the controls so that its the same across all devices.

Thanks in advance

1. Drawable Resoirce

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2020-03-09 06:54] tothvoj-gl commented on #297
We have switched to react-native-track-player, so cannot tell if this issue persists. But it was pretty easy to reproduce, just call setNowPlaying multiple times in a row.

[2020-03-09 08:20] #269 closed

[2020-03-09 08:20] #270 closed

[2020-03-09 08:20] #274 closed

[2020-03-09 08:20] #276 closed

[2020-03-09 08:20] #283 closed

[2020-03-09 08:20] #284 closed

[2020-03-09 08:20] #285 closed

[2020-03-09 08:20] #288 closed

[2020-03-09 08:20] #295 closed

[2020-03-09 08:20] #296 closed

[2020-03-09 08:20] #299 closed

[2020-03-09 08:20] #300 closed

[2020-03-09 08:20] #301 closed

[2020-03-09 08:20] #304 closed

[2020-03-09 08:20] #307 closed

[2020-03-09 08:20] #310 closed

[2020-03-09 08:20] #312 closed

[2020-03-09 08:20] #313 closed

[2020-03-09 08:20] #314 closed

[2020-03-09 08:20] #315 closed

[2020-03-09 08:20] #317 closed

[2020-03-09 08:20] #319 closed

[2020-03-09 08:20] #320 closed

[2020-03-09 08:20] #322 closed

[2020-03-09 08:20] #184 closed

[2020-03-09 08:20] #216 closed

[2020-03-09 08:20] #233 closed

[2020-03-09 08:20] #243 closed

[2020-03-09 08:20] #244 closed

[2020-03-09 08:20] #246 closed

[2020-03-09 08:20] #256 closed

[2020-03-09 08:20] #257 closed

[2020-03-09 08:20] #258 closed

[2020-03-09 08:20] #267 closed

[2020-05-28 09:58] bradleyflood opened #324 "Create a Sample Project"
A simple sample project to demonstrate react-native-music-control in action (with react-native-video)

[2020-05-28 10:25] tanguyantoine commented on #324
Do you want me to add you as a collaborator on that one: https://github.com/tanguyantoine/react-native-music-control-demo ?

[2020-05-28 10:46] bradleyflood commented on #324
@tanguyantoine Yes please.

[2020-05-28 10:49] bradleyflood opened #326 "Update Github Meta"
@tanguyantoine Can you please update the Github project Meta.

Description:
[code]

URL:
[https://www.npmjs.com/package/react-native-music-control](https://www.npmjs.com/package/react-native-music-control)

I'm keen to remove the old "not maintained" message ->

<img width="882" alt="Screen Shot 2020-05-28 at 20 46 01" src="https://user-images.githubusercontent.com/1085976/83132332-93df4900-a124-1

[2020-05-28 10:53] bradleyflood opened #327 "Add Intent Meta to Readme Installation Guide"
Need to add the Android Intent meta to the README Installation to prevent bugs.

This resolves the bug of multiple app instances when tapping the notification in Android (with app in background.

[code]

See https://reactnative.dev/docs/linking#enabling-deep-links

[2020-05-28 10:54] bradleyflood commented on #322
Thanks @vjhameed I'm pretty sure this is OS specific and not controllable by this module.

[2020-05-28 10:59] bradleyflood opened #328 "Publish NPM Patch Update"
Once #325 is done can you please publish an NPM patch? `v0.11.1`?

Cheers
Brad

[2020-05-28 11:01] bradleyflood commented on #297
Going to reopen this. PR's welcome!

@tothvoj-gl How are you going with react-native-track-player?

[2020-05-28 11:04] bradleyflood commented on #266
This was a problem for me too. Reopening to be fixed.

PRs welcome! @sparcbr @bunmiedee @pabloluz @gazedash

[2020-05-28 11:05] bradleyflood commented on #262
This will be fixed in #327

[2020-05-28 11:07] bradleyflood commented on #247
Reopening. I will investigate.

[2020-05-28 11:23] tothvoj-gl commented on #297
@bradleyflood We have less bugs after migrating to RN track-player and also the code is cleaner. However, we noticed some issues related to lock screen notification widgets, so if it is a primary feature for you, consider switching.

[2020-05-28 12:12] tanguyantoine commented on #326
done

[2020-05-28 12:12] #326 closed

[2020-05-28 23:36] bradleyflood commented on #266
Should be fixed in #329

[2020-06-03 17:56] akk7300 opened #330 "next and previous notification control does not work at lock screen and other screen"
Next and previous notification control doesn't work at the lock screen and another screen inside my app. next and previous notification control well work at the now playing screen.

Code inside now playing screen

Notification Control Function

componentDidMount(){

MusicControl.on('play', ()=> {
  this.play();
})

MusicControl.on('pause', ()=> {
  this.pasuse();
})

MusicControl.on('nextTrack', (

[2020-06-03 20:27] mtalhagaoglu opened #331 "closing when another music starts"
Hi. I'm building an app streams two player at the same time. My sources are react-native-video and react-native-youtube-iframe. I implement music control to react-native-video and it works percfectly until youtube-iframe starts. When youtube start, music control closes itself and i don't wanna do that. Is there any option to force keep live? btw artwork also doesn't work but it's not important for

[2020-06-04 04:55] bradleyflood commented on #330
Hi @akk7300, a question like this is best posted on Stack Overflow.
Github Issues are only for bug reports about our repo. If you have a specific bug with `react-native-music-control` please post a reproducible demo.
Otherwise we can't help. Sorry :(

Cheers
Brad

[2020-06-04 04:55] #330 closed

[2020-06-04 04:56] bradleyflood commented on #331
hi @mtalhagaoglu a question like this is best posted on Stack Overflow.
If you have found a specific bug with `react-native-music-control` please post a reproducible demo of that bug. But logic and issues with your own project setup we can't help with.

Sorry :(

Cheers
Brad

[2020-06-04 04:56] #331 closed

[2020-06-08 15:06] bubah commented on #328
Hey Bradley, Is this repo being maintained by you? When i looked at this library a few months ago there was a deprecation notice but that is no longer there so i wasn't sure.

[2020-06-08 23:25] bradleyflood commented on #328
Hi @bubah yep I'm working on this repo now :)

I wasn't happy with the alternative (react-native-track-player) and we depend on this module for our app.

Do you use it?

[2020-06-09 09:55] rborn commented on #328
@bradleyflood this is so great news 😻, we're also using it and were not happy with react-native-track-player

Let me know how I can help (my java/objC knowledge are close to zero though)

[2020-06-09 15:02] bubah commented on #328
@bradleyflood yes we depend on this module for our app as well. Happy to hear this module is being maintained again.

[2020-06-09 17:40] rborn opened #332 "[Android] last git version won't install or compile"
# Description

1. Sample code (provide repo url or sample code)
Hi everyone,
I'm trying to use the git version but I'm hitting a wall.

A simple `npm install git://github.com/tanguyantoine/react-native-music-control.git` will give me some tsc errors

[code]
[code]
/Work/clients/current/emjoy/app/letsemjoyapp/node_modules/react-native-music-control/android/src/main/java/com/tanguyantoine/react/Musi

[2020-06-10 05:31] akk7300 opened #333 "Music control close notification does not work"
I added MusicControl.enableControl('closeNotification', true, {when: 'always'}) but it does not work.

Other buttons work fine correctly.

[2020-06-10 06:25] bradleyflood commented on #333
Hi @akk7300 If you can provide an example of how to simulate this issue I'm happy to look into it.

Thanks.

[2020-06-10 06:28] bradleyflood commented on #332
Hi @rborn this is likely due to the publishing process. You'll need to install via NPM as per the instructions. But if you can't do that then you could copy the NPM folder and upload it to your own fork or something.
Cheers
Brad

[2020-06-10 06:31] bradleyflood commented on #328
Thanks @bubah and @rborn :)
I think the best way you can help is posting any bugs you find or fixes you've implemented.

Thanks :)
Brad

[2020-06-10 06:31] #328 closed

[2020-06-10 07:04] rborn commented on #332
Hi @bradleyflood, thanks for replying. I am trying to fix it in my fork but please reopen the issue as it doesn't compile and there are errors in the java code (on it, will open a PR as soon as I have it solved)

[2020-06-10 07:08] bradleyflood commented on #332
Hi @rborn take a look at this commit here in my dev fork.
https://github.com/bradleyflood/react-native-music-control/commit/713208ba3da40204bb19a7d541e1ede255515632

These are the files that are generated when running the build commands. These are the files you are missing.
At the very bottom of the above commit you will see the package.json build commands. You can either run those or just copy th

[2020-06-10 07:13] rborn commented on #332
The missing files are for typescript, which is fine, I can leave without them :) but there are errors in java and won't compile.

And the npm version is 4 months old, not the current one, is not yet published 😄  https://www.npmjs.com/package/react-native-music-control

[2020-06-10 07:16] bradleyflood commented on #332
Haha ok awesome you understand this situation better than I do. Let's re-open it and look into it.

Sorry my bad!

[2020-06-10 08:18] rborn commented on #332
@bradleyflood ok, PR done

It is a mix between other commits and this fix

- added missing libs so install from git works (typescript)
- uses a commit from somebody else that adds a check for abandonFocus
- fixes the undefined compile issue
- removes an unused isRunning var

I installed from my fork and compiled the app, all works :)

[2020-06-10 08:45] akk7300 commented on #333
`constructor(props) {

    super(props);
    this.state = { }
    MusicControl.enableControl('play', true);
    MusicControl.enableControl('pause', true);
    MusicControl.enableControl('nextTrack', true)
    MusicControl.enableControl('previousTrack', true)
    MusicControl.enableControl('closeNotification', true, {when: 'always'})
 }

componentDidMount(){

    MusicControl.on('play', ()=> {

[2020-06-11 11:38] bradleyflood commented on #333
Ok thanks @akk7300 so this is just the default `closeNotification` event. I'll have a look into it.

[2020-06-16 01:49] bradleyflood commented on #332
Thanks @rborn merged and released in `0.12.0`

Good job mate!

[2020-06-16 01:49] #332 closed

[2020-06-22 06:48] rborn commented on #266
@bradleyflood @bunmiedee  I still get this (a lot) with the latest version 😔

[2020-06-22 10:17] rborn commented on #266
@bradleyflood @bunmiedee  I'll try this fix and make a PR if it works https://stackoverflow.com/a/53402038

[2020-06-23 01:44] bradleyflood commented on #266
Thanks @rborn I'll reopen this issue.

[2020-06-25 06:50] rborn commented on #327
@bradleyflood for me it works with `singleTop` too.

Btw can this be merged? 😄

[2020-06-30 12:32] bradleyflood commented on #327
Hi @rborn sorry for the delay. I've been so busy with my own app - had a big deadline to meet.

I'll get to this soon and let you know. Thank you!

[2020-07-03 15:35] HasanAlyazidi commented on #333
Closing notifications works on android 7, but it does not work on android 10 (did not test android 8 and 9)

[2020-07-03 15:42] HasanAlyazidi commented on #331
Same issue even with v0.12.0

Audio does not pause no matter what.

I tried the following with no success:

[code]

Thank you

[2020-07-07 05:30] bradleyflood commented on #331
Hi @HasanAlyazidi and @mtalhagaoglu

I'm not sure what your issue is? Are you saying that the `handleAudioInterruptions(true)` method doesn't work? Because it does for me on my app.

If you can provide a reproducible demo that would be very helpful. Thank you.

[2020-07-21 06:17] rborn commented on #266
Just a heads-up,  the above "fix" didn't work, we still have a lot of crashes on android 9/10  :(

[2020-07-21 08:46] pascaljung opened #338 "Music controls not shown in background on iOS"
# Description

The music controls are not displayed properly when the app is in the background (app not active or screen locked). As long as the app is active, the title and buttons seem to be placed correctly in the notification area. We did our PoC on iOS, so no clue yet if the issue affects Android as well.

1. Sample code (provide repo url or sample code)

We installed the MusicControl with ya

[2020-07-23 01:28] bradleyflood commented on #338
Hmm I know I don't have this problem with my app.
We need to finish the sample app so you have something to compare against.
I'll have a look into it and get back to you. Thanks :)

[2020-07-24 13:39] Danil-Dorokhin opened #339 "RN-music-control import error."
# Description
I initialized my app with expo, and when i imported rn-music-control it throw me this error:
TypeError: null is not an object ( evaluating 'NativeMusicControl.STATE_PLAYING' )
i tried to link it, but it didnt help so i ejected expo and then tried to link it with 'react-native link', when it didnt help i linked it manualy but it didnt work too.
this is from my react-native info if it

[2020-07-27 12:46] wassimbrsimo commented on #339
I faced the same issue ,I've managed to fix it using :
`npm install react-native-music-control`
`./gradlew clean`
`react-native run-android`

[2020-07-27 14:28] Danil-Dorokhin commented on #339
Thanks, it helped

[2020-07-27 14:28] #339 closed

[2020-07-27 20:12] pascaljung commented on #338
For some strange reason it works now. I have no clue what changed - maybe my phone just needed a restart. I can't even reproduce the issue... So I'm good with closing it. Thanks anyways :)

[2020-07-28 01:00] bradleyflood commented on #338
👍

[2020-07-28 01:00] #338 closed

[2020-08-01 12:26] HasanAlyazidi commented on #333
Notification does not close at all on android. (Tested on android 7+)

[2020-08-07 17:07] Kalana-Ramesh opened #340 "Notification swipe is not working. And once kill the app audio will to be stopped. It is keep playing. And Other rest of the thing is working perfectly."
# Description

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2020-08-13 16:16] gh-pro opened #341 "incoming calls play musique"
# Description
Hi, i have found a bug.
If music is pause, and receive incoming calls, music playing automatically.

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2020-08-17 21:51] HasanAlyazidi commented on #331
if `handleAudioInterruptions(true)` is supposed to stop/pause when currently playing audio is interrupted by a call or any other audio, yes i confirm that it does not work.

[2020-08-17 22:02] HasanAlyazidi commented on #333
Here is a GIF

* Notice how the initial notification changes

* The notification only closes when calling `MusicControl.stopControl();` or killing the app.

Tested `^0.12.0`

![7-6877b83fa58b](https://user-images.githubusercontent.com/7901330/90448268-52d45080-e0e5-11ea-8bdc-67a0117872ac.gif)

[2020-08-17 22:25] The0racle opened #342 "Is it possible to reverse Jetify this project?"
# Description

I'm trying to use version `0.12.0` of this repo but my app does not support Andorid X as of yet. I tried reverse jetifying bug to a bunch of errors:

[code]

I assume this repo is using android x exclusive libs that do not have a `v4` counterpart, correct?

[2020-08-18 10:39] kesha-antonov commented on #314
@Esirei thanks! It helped

We should do

[code]

And later update state

[code]

[2020-08-18 21:12] The0racle commented on #280
@timmywil Is it possible to reverse Jetify? It seems this package is using Android X exclusive libs. See #342

[2020-08-19 16:30] timmywil commented on #342
I don't think this is possible. When I did the PR to migrate to AndroidX, it was because the jetifier didn't work properly. I think this lib is stuck with one or the other. Someone more familiar with Android may be able to modify the code so it can be reserve-jetified, but I'm no Android expert. For now, you might just try downgrading to before it was jetified.

[2020-08-20 07:30] hiroyaiizuka commented on #266
any updates?
still get this error ...😣

[2020-08-24 06:12] bradleyflood commented on #342
Sorry @The0racle Not that I'm aware of.

[2020-08-24 06:12] #342 closed

[2020-08-24 17:39] murtuzamacdev commented on #262
This is did not work for me.

[2020-08-26 10:43] rborn commented on #266
Small update: we launched to prod with the changes done using the above fork and it seems to be fixed. I'll like to a few more days to be sure.

@natashache I have my fork where I merged your code 😻, synced with current master and added a small fix. Would you like to make a PR or can I do it? 😻   https://github.com/rborn/react-native-music-control

[2020-08-29 08:26] ajoykarmakar opened #343 "Android Seek bar synchronization with the audio"
# Description
I am using this plugin since 1 year and it's working very beautifully. Now I am enabling seek bar features that works after android version 10+. Everything works as expected only one thing that doesn't work the seek bar is not synchronized with the audio but when I drag the seek bar audio position changing as expected.

Music control enable control -
[code]

2. Platform ?

   - [x] A

[2020-09-07 00:19] cassiossantos commented on #257
Same problem in Android

[2020-09-07 11:39] rborn commented on #266
@bradleyflood I have been testing the fix in production and it seems to work fine, however I got no reply from @natashache nor @hiennguyen92  (https://github.com/natashache/react-native-music-control/commit/c28a931d589282473544c754ecaedc7f00ae4033#commitcomment-41838029) so I don't know how to proceed :(

[2020-09-07 11:54] hiennguyen92 commented on #266
@rborn You are free to use it at your disposal.

[2020-09-07 12:03] rborn commented on #266
@hiennguyen92 thank you, I'll create a PR soon 😻

[2020-09-08 09:14] rborn commented on #266
@bradleyflood PR done, can we maybe have a release 😅 ? This code is tested in production, we got no errors related to the startForeground anymore (there are some commits after that, which fix small issues but the crashes were only a few)

 @hiennguyen92,  @natashache thank you for your fixes 😻

[2020-09-08 09:35] bradleyflood commented on #266
Thanks Dan. Let me check it out and get back to you.

Brad

On Tue, 8 Sep 2020 at 19:14, Dan Tamas <notifications@github.com> wrote:

[2020-09-10 11:44] #266 closed

[2020-09-10 11:47] bradleyflood opened #345 "Release v1.0.0"
@tanguyantoine can you please publish `master` as `v1.0.0`

Let's start publishing major versions.

v1 will include https://github.com/tanguyantoine/react-native-music-control/pull/344

[2020-09-10 11:50] bradleyflood commented on #343
HI @ajoykarmakar I'm not understanding your problem. Can you elaborate or provide more code?

[2020-09-10 11:50] #343 closed

[2020-09-10 15:27] ajoykarmakar commented on #343
Yes why not? When a android 10 user play a mp3 with this notification plugin a seekbar is available in the notification area to seek the position of the mp3 and it's working too but the marked area in the attached image's seekbar current position is never changing it's always show 0 that's means the seekbar is not syncing with the mp3 position.

![image](https://user-images.githubusercontent.com/3

[2020-09-15 03:01] tree1891 commented on #320
I have same issue.

[2020-09-15 07:10] tanguyantoine commented on #345
done

[2020-09-15 07:10] #345 closed

[2020-09-30 18:31] leomiranda-tc opened #346 "Error on iOS updatePlayback State"
# Description

1. Sample code (provide repo url or sample code)
This command line only works on android.
[code]

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [x] Simulator
  - [ ] Real device

[2020-09-30 23:22] bradleyflood commented on #346
Hi @leomiranda-tc I'm using this in production and it does work. Can you elaborate? What version of react native? etc.

[2020-10-01 00:25] leomiranda-tc commented on #346
If you want, i can share my repository with you @bradleyflood.

But the details is bellow:
- react-native: 0.63.2;
- The lib is use to control react-native-video by the redux;

That's the code part:

[code]

[2020-10-07 12:36] ahmetsozkesen commented on #190
I know it's been a while but in PR #347 this issues has been solved.

[2020-10-10 18:50] diegoantonelli opened #348 "Android 10+ throwing null reference"
## Description
In Android 10+ trying to open the code containing the NowPlaying throw this error
[code]
1. Sample code (provide repo url or sample code)
Basic code to setup the controls

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [x] Simulator
  - [ ] Real device

[2020-10-10 19:33] ajoykarmakar opened #350 "Android Seek bar starting position is not not working on notification area"
### Issue

I am using this plugin since 1 year and it's working very beautifully. Now when a android 10 user play a mp3 with this notification plugin a seekbar is available in the notification area to seek the position of the mp3 and it's working too but the marked area in the attached image's seekbar current position is never changing it's always show 0 that's means the seekbar is not syncing wit

[2020-10-12 01:54] bradleyflood commented on #190
Deploying in `1.0.1` thanks @ahmetsozkesen

[2020-10-14 11:22] Joshmatjjen opened #355 "MusicControl.enableControl('pause', true) Don't show pause icon on notification"
# Description

1. MusicControl.enableBackgroundMode(true);
    MusicControl.setNowPlaying({
      title: title,
      artwork: image, // URL or RN's image require()
      artist: author,
      album: album,
      genre: 'Post-disco, Rhythm and Blues, Funk, Dance-pop',
      duration: state.duration, // (Seconds)
      description: '', // Android Only
      color: 0xffffff, // Notification Color -

[2020-10-14 12:19] Joshmatjjen commented on #355
`MusicControl.on('play', () => {
      setState({ ...state, play: true });
      setTimeout(() => setState((s) => ({ ...s, showControls: false })), 1500);
      MusicControl.updatePlayback({
        state: MusicControl.STATE_PLAYING,
      });
    });

    MusicControl.on('pause', () => {
      setState({ ...state, play: false, showControls: true });
      MusicControl.updatePlayback({
        sta

[2020-10-14 12:21] #355 closed

[2020-10-14 13:13] Joshmatjjen commented on #333
Same here,  why hasn't this been resolved yet ?

[2020-10-14 13:29] Joshmatjjen opened #356 "Music control close notification does not work"
# When Function is called to close the notification, it don't close, also when swiped

1. MusicControl.stopControl();
      MusicControl.enableControl('closeNotification', true, { when: 'always' });

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2020-10-14 13:52] Joshmatjjen commented on #333
I just fixed it... first, run this script to install this version:    npm i react-native-music-control@0.10.8

[2020-10-14 14:04] Joshmatjjen commented on #356
I just fixed it... first, run this script to install this version:
**If using NPM**
npm i react-native-music-control@0.10.8

**If using Yarn**

yarn add react-native-music-control@0.10.8

**This is an example of the code i used**

` if (state.pause === true) {`
        `MusicControl.updatePlayback({
        state: MusicControl.STATE_PAUSED,
      });`
      `// Make your choice with any of this fu

[2020-10-14 14:04] #356 closed

[2020-10-16 07:40] HasanAlyazidi commented on #333
@Joshmatjjen still not fixed

[2020-10-17 07:53] HasanAlyazidi commented on #333
Hi @Joshmatjjen

Closing the notification on swipe works on `v0.10.8` and `v0.11.0`, BUT the notification is blank on android 5.0

![Screenshot_1602919987](https://user-images.githubusercontent.com/7901330/96331234-0319f300-105c-11eb-8431-2445b275d34e.png)

`v0.12.0` = blank notification and does not close on swipe or calling `MusicControl.resetNowPlaying();` and `MusicControl.stopControl();`

`v1

[2020-10-19 18:32] parthya commented on #299
Is this resolved?

The audio is paused but the icon doesn't change to play icon.

[2020-10-22 00:47] Joshmatjjen commented on #333
@HasanAlyazidi Have you tired changing the min-sdk version to 16 or 17 in your build.gradle...

If it dont work, You have to create your app to only andriod greater than 5.0

[2020-10-29 08:16] parthya commented on #346
Similar issue on iOS. For us, it is not that it doesn't work at all. But `MusicControl.updatePlayback()` works some of the time and doesn't other times.

Is there a way to get current state of the playback?

[2020-10-30 02:28] catmans1 commented on #340
@Kalana-Ramesh Could you provide more detail about that issue?

[2020-11-11 13:51] paulik123 opened #357 "MusicControl.enableControl() keeps app running even if I close it."
# Description
MusicControl.enableControl() makes app keep running even if I completely close it. Normally even if I use BackgroundTimer, the interval will stop after I completely close the app from the Android menu. If I execute MusicControl.enableControl() in componentDidMount, the app keeps running even I close it.

MusicControl.enableControl('play', false); or MusicControl.stopControl(); doesn'

[2020-11-17 15:00] redreceipt opened #358 "TypeScript Error: MusicControl.on expecting enum"
# Description

1. Sample code (provide repo url or sample code)
[code]

produces this error...

<img width="1522" alt="Screen Shot 2020-11-17 at 9 47 38 AM" src="https://user-images.githubusercontent.com/2659478/99406195-9e042800-28bb-11eb-9342-a4a1ec019a89.png">

The `Command` enum doesn't seem to be exported so there's no way to use the expected parameter. Strings seem to still work fine.

2. Pl

[2020-11-20 20:57] kenken023 opened #362 "Null exceptions"
# Description

Null exceptions on v1.2.1

1. java.lang.NullPointerException
[code]
2. java.lang.RuntimeException
[code]

2. Platform ?

   - [x] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2020-11-23 14:58] cstranex commented on #333
Any progress on fixing this?

[2020-11-30 20:11] #358 closed

[2020-12-01 21:30] rohit-ganapathy opened #365 "Handling loss and gain of audio focus"
# Description

The module is failing in these two cases:

1) If I have something audio playing on the app and move on to play something on spotify or youtube (i.e. I lose audio focus), the music keeps on playing.(Ideally it should emit a pause event?)

2) If I play something on my app while a youtube video or a spotify song is playing, my app plays over them. Ideally the spotify song or YT video s

[2020-12-03 09:13] krunalbad opened #366 "React Native Music controls does not appear on real iOS device lock screen at all"
React Native Music controls does not appear on real iOS device lock screen at all
but appears on iOS simulator but controls does not work at all

but same code works 99% on android
except in android the notification does not go away on reset function

react-native: 0.63.2
react-native-music-control: 1.4.0-alpha
https://www.npmjs.com/package/react-native-music-control/v/1.4.0-alpha

Is there any ot

[2020-12-03 09:15] krunalbad commented on #362
Make sure you have set foreground service enabled in manifest file

also make sure that if you are calling reset or stop control function then it should only be called if any control is set to enable
if any control is not enabled and reset/stop function is called then in that scenarios u may face this error

[2020-12-03 18:19] akk7300 commented on #333
I used stop button for close notification.

[2020-12-04 02:11] kenken023 commented on #362
Foreground service is already enabled. Control is already enabled/running before stopping but null exceptions are still found.
Either way, is it better to catch null exceptions like not enabled objects should not trigger stopped/reset instead?

[2020-12-04 05:02] krunalbad commented on #362
try to Enable controls only when needed. make sure that after setnowplaying is called then only u should enable controls.
Also try to go ahead with try catch

[2020-12-10 20:33] gjones-sans commented on #362
Some of these null pointer exceptions are coming from these lines where null is checked and then init() is called on null:

https://github.com/tanguyantoine/react-native-music-control/blob/82df264b8cf8db18eaa6ca58f28048ebca122799/android/src/main/java/com/tanguyantoine/react/MusicControlNotification.java#L217

https://github.com/tanguyantoine/react-native-music-control/blob/82df264b8cf8db18eaa6ca5

[2020-12-11 17:12] tanguyantoine commented on #362
Could you create a pull request to fix that?
Le 10 déc. 2020 à 21:33 +0100, Grant <notifications@github.com>, a écrit :

[2020-12-13 10:52] BillTuan commented on #357
Same issue here, the redux data is not cleared after closing the app.

[2020-12-15 09:10] krunalbad commented on #333
I am also facing this issue

[2020-12-20 09:51] Kalana-Ramesh commented on #340
The issue is occurring on Android real device

[2020-12-20 15:51] krunalbad commented on #366
i have did some workaround for android double notification issue.
found out the issue was from my code side. in android i works fine.
but it is still not working at all for ios.
need assistance for ios.
how to make it working for ios ? @tanguyantoine

[2020-12-20 17:35] krunalbad commented on #350
try to update `elapsedTime` also in component progress
https://github.com/tanguyantoine/react-native-music-control#update-playback

[2020-12-23 19:16] iamchrispham commented on #366
lock controls are displaying for me on iOS 14. I've ran into an issue on iOS but not on Android such that if there were multiple instances of some media content, you would want to ensure that the media content you'd want to display within the lock controls isn't being mixed with another media instance. natively the code has issues differentiating what media content takes precedence even if you've

[2020-12-23 23:14] goleary opened #369 "Does not work on Android 11"
When I run the same application on Android 10 & 11 I see this:

-  Android 10 - works as expected
![image](https://user-images.githubusercontent.com/16123225/103043368-8b6fb500-4531-11eb-8b4b-689c997addff.png)

- Android 11 - persistent "notification" never shows
![image](https://user-images.githubusercontent.com/16123225/103042187-a50efd80-452d-11eb-9094-e2485a5c968c.png)

# Description

1. Sampl

[2020-12-24 06:15] DevMMI commented on #366
I'm having this same problem, have also tried earlier versions of this project and can't seem to get anything to show up the IOS lock screen

[2020-12-24 06:48] DevMMI commented on #366
Figured out my issue at least, I'm working with react-native-community/audio-toolkit and there's a bug that doesn't let their mixWithOthers flag ever get set to False, you can test this by playing your app audio at the same time as another app's audio.

If you're audio can play at the same time as another app's audio, then react-native-music-control **will not work**. Merging [this commit](https:/

[2020-12-25 17:44] krunalbad commented on #366
apparently i am using react-native-track-player and react-native-video that's y i am having trouble having controls in ios
and both packages provides options `mixWithOthers` but none gets successful to get `react-native-music-control` started

[2020-12-25 17:47] krunalbad commented on #348
#362

[2020-12-26 01:37] DevMMI commented on #366
@krunalbad do you set mixWithOthers to false on both those packages and react-native-music-controls still doesn't work? Try checking whether those flags are being obeyed, i.e. whether you can play audio at the same time as another app.

[2020-12-26 18:01] krunalbad commented on #366
i have tried mixWithOthers in both pkgs [trackplayer](https://react-native-track-player.js.org/documentation/#functions) and [rn-video](https://github.com/react-native-video/react-native-video#mixWithOthers) but none helped

[2020-12-27 21:06] goleary commented on #369
Turns out I was not calling `MusicControl.setNowPlaying()`

In Android 10 the Music notification shows up even without calling that method (if you just call `MusicControl.enableControl('play', true)`.

On Android 11 if you don't call it then nothing shows up.

Here it is working:
![image](https://user-images.githubusercontent.com/16123225/103179728-b3b62700-4843-11eb-88a2-c20f5e0dc1f2.png)

[2020-12-27 22:05] #369 closed

[2020-12-28 03:04] tanguyantoine commented on #369
May I ask you to update the readme ? 🙏

[2020-12-31 01:41] goleary commented on #369
Sure! I switch the order of the "Now Playing" & "Enable and Disable controls" sections.

Everything was in the readme, but the ordering of methods in the readme is what tripped me up

[2021-01-04 06:40] krunalbad commented on #366
Closing this issue due to other pkgs conflicts

[2021-01-04 06:40] #366 closed

[2021-01-04 06:41] krunalbad opened #371 "BadNotification Crash: android.app.RemoteServiceException"
![Screenshot 2021-01-04 at 12 08 12 PM](https://user-images.githubusercontent.com/45413622/103507785-f2706080-4e85-11eb-95fd-a1af01a79343.png)

[2021-01-25 21:36] gkuettel opened #372 "[iOS] Music controls disabled if video is played in fullscreen"
# Description

We're using `react-native-video` in conjunction with this library to show lock screen controls for videos. Everything works as expected, but we're running into a problem when locking the phone when the video is in full screen mode, and the native iOS controls take over.

Steps to reproduce:
- Play a video in fullscreen with native iOS controls
- Lock the phone
- Playback controls ar

[2021-02-08 08:55] andreasrau-earlynode opened #373 "Control Notification does not look good on all Android devices"
# Description

The media controls notification is rendered completely different on different devices. On some devices I get these good looking controls with the artwork as background. But sometimes I get a notification with only three controls that looks not very good:

![Shot](https://user-images.githubusercontent.com/66732974/107196920-8ab4b480-69f3-11eb-9ad6-82da165d1de3.PNG)

Is it somehow pos

[2021-02-15 20:14] ithustle opened #374 "[Android] A weird behave on lockscreen"
# Description

1. Sample code (provide repo url or sample code)

When I touch on `pause` control the song is paused but change description song to previous track played.

[code]

I called `remoteControls()` functions on `useEffect`.

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2021-02-23 15:34] AndresTIY opened #375 "Android Controls Disappear. Potential Memory Issue?"
# Description

1. Sample code (provide repo url or sample code)

So I'm using this library along with [react-native-video](https://github.com/react-native-video/react-native-video). I want to be able to control video playback with these lock screen controls. So far, this works as intended on iOS. Android has an issue where the controls seem to disappear after a couple of minutes of playback. Somet

[2021-03-02 13:21] PupoSDC opened #376 "ios controls persist after calling `MusicControl.stopControl`"
# Description

I'm calling `MusicControl.stopControl()` on the clean up fuction of `useEffect`:

[code]

but the player persists after this call.

Before the callback:

![image](https://user-images.githubusercontent.com/9625304/109654455-7f702700-7b62-11eb-902c-e32cba250e8b.png)

after the callback:

![image](https://user-images.githubusercontent.com/9625304/109654524-9151ca00-7b62-11eb-96f5-2ff1d

[2021-03-03 08:50] PupoSDC opened #377 "ios/android minimal demo not woking"
# Description

I created a sample repo with minimal code that should get this plugin to work to start and stop a video:

https://github.com/PupoSDC/react-music-control-demo/blob/main/App.tsx

but it doesn't work (ie: no controls appear). What am i missing?

On top of the presented solution, i've tried:
- calling the setup on a `useEffect`
- calling `setNowPlaying` before setting up controls
- call

[2021-03-07 11:49] rubenkaiser opened #378 "Do lockscreen controls of this library (1.3.0) work on iOs with the react-native 6.3.0 and expo-av 8.6.0"
After creating a basic player with this library I noticed the lockscreen controls are not showing. On Android everything is working fine, on the simulator in iOs however I can't get it to work.

In an useEffect I set the audio mode
[code]

Also I initialize the controls:
[code]

After that I only call the play on the soundObject and update the controls:
[code]

Any help is appreciated

[2021-03-08 12:31] PupoSDC commented on #378
Im also struggling a lot with this: https://github.com/tanguyantoine/react-native-music-control/issues/377

Im still investigating, but so far I've realized the library does not work until you stop the controls once (lol). And since you can only stop the controls after starting. You need something like this:

[code]

[2021-03-08 18:38] PupoSDC commented on #376
I dug quite bit into the code and

[code]

[2021-03-08 19:02] PupoSDC commented on #376
So in the end the answer was hidden in a somewhat cryptic post from 2018:

https://github.com/tanguyantoine/react-native-music-control/issues/135#issuecomment-396554383

You have to change the state of the controls to `STOPPED` before closing the controls, otherwise they will not close!

[code]

[2021-03-09 16:14] leightonkuchel commented on #376
Hmm even when setting it's state (literally copy/paste yours) I can't get it to hide the controls 🤔

[2021-03-11 12:43] PupoSDC commented on #378
I finally got my hands on a real ios device, and unfortunately my rather hackish solution above only works on an emulator, not on a real device :(

[2021-03-11 12:56] rubenkaiser commented on #378
I tried your "hack" on both the simulator and a real device and it did not work in my project. Maybe you can share your simplest version of the app that worked on the simulator for me to check. I tried to run it on ios 14.4

[2021-03-11 15:42] PupoSDC commented on #378
This is my current PoC with the basic needs my project needs:

https://github.com/PupoSDC/react-native-multimedia-demo

it includes a video and audio player in which both of them are controlled via the native music controls. Meanwhile i fixed the problem with `ios` devices by not setting `mixWithOthers` on `react-native-video`. Most of the problems with this library relate to how other libraries i

[2021-03-14 12:03] rubenkaiser commented on #378
Replacing Expo-av with react-native-sound-player fixed the issue in my app. I do still need the time out fix you proposed. My guess is that it indeed was an issue with expo-av and it's ios settings.

[2021-03-14 19:14] PupoSDC commented on #378
yeay!
I think the root cause of all this silliness, is that most of these audio libraries also fiddle with the native controls in way or the other, and they all use the same base level API.

Thanks for confirming the timeout fix is needed for you as well, and that insanity is not my own only 😅

[2021-03-25 19:25] goleary opened #380 "Calling Music.stopControl() on Android before setNowPlaying causes null reference crash"
[code]
# Description

1. Sample code (provide repo url or sample code)

Will try to provide a minimal repro later.

2. Platform ?

   - [ ] iOS
   - [x] Android (api 29)

3. Device
  - [x] Simulator
  - [ ] Real device

[2021-03-26 15:09] PupoSDC commented on #378
After some back and forwarding we discovered the above solution / hack only works in development mode. as soon as the app is built, it stops working :(

If anyone has any ideas, it would be awesome to hear from you

[2021-03-26 15:12] PupoSDC commented on #380
Is it possible you are calling `MusicControl.handleAudioInterruptions(true);`? This call only works on ios and causes a crash in android.

[2021-03-26 22:57] goleary commented on #380
We are not using that method, thanks for the tip though!

[2021-03-27 12:31] PupoSDC commented on #380
Maybe you can share your setup?

The README says:

[code]

So doing what you describe in the title isn't exactly recommended. But i personally have not had issues with this so far.

[2021-04-07 00:39] goleary commented on #380
Interesting, I never noticed that. I'm going to go ahead and close this because I don't have time to dig in further at the moment & because this is called out in the readme.

[2021-04-07 00:39] #380 closed

[2021-04-07 02:37] noway commented on #244
This should be reopened. There's no fix for the crash @FabricioCabeca is experiencing yet.

[2021-04-07 02:47] noway commented on #244
@FabricioCabeca have you had a chance to try out the #381 fix? I wonder if that fixes your issue since it touches onStartCommand too.

[2021-04-13 05:29] flexgrip commented on #375
I think I'm seeing the exact same thing. Did you ever figure this out?

[2021-04-19 08:27] leogiroux commented on #244
I can confirm that I have a lot of crashes from this lib
`Attempt to invoke virtual method 'android.app.Notification com.tanguyantoine.react.MusicControlNotification.prepareNotification(androidx.core.app.NotificationCompat$Builder, boolean)' on a null object reference `

Do you guys have an lib alternative or a solution for this ? I will try  #381 too.

[2021-04-26 06:54] krunalbad commented on #371
Seems like this issue is something when there are multiple media pkgs integrated within the single app. So different channel/notification ids can cause this issue. So if anyone has something to share then please do. Closing this for now!

[2021-04-26 06:54] #371 closed

[2021-04-27 19:02] nahuelb commented on #244
I tried #381 and I am still having this issue.

[2021-04-28 07:50] krunalbad commented on #244
@nahuelb Do you have any other media pkg installed in ur application? Cuz Different channels might create conflicts in Android devices.

[2021-05-01 13:09] bradleyflood commented on #327
Fix to be deployed in https://github.com/tanguyantoine/react-native-music-control/pull/383

[2021-05-01 13:09] #327 closed

[2021-05-01 13:10] bradleyflood commented on #262
Fixed in next release via https://github.com/tanguyantoine/react-native-music-control/pull/383 😄

[2021-05-01 13:10] #262 closed

[2021-05-01 13:25] bradleyflood commented on #376
@leightonkuchel How did you go with this? Is this an iOS issue? or related to our package here?

[2021-05-01 13:30] bradleyflood commented on #362
Thank you. Will be fixed in https://github.com/tanguyantoine/react-native-music-control/pull/351 release

[2021-05-01 13:30] #362 closed

[2021-05-05 17:51] armaanshah96 opened #384 "[Android] Customizing notification icons in compact view"
# Description
Hi,

I noticed that a PR was recently merged to add ACTION_FAST_FORWARD and ACTION_REWIND to the compact notification screen on Android which is great! On my current project I'd like to go one step further and be able to customize which notification icons of the ones enabled I'd like to present in the compact view.

I currently `enableControl` for:
- play
- pause
- stop
- skipForward

[2021-05-06 00:33] bradleyflood commented on #384
Sounds good @armaanshah96 :)

[2021-05-31 00:24] bradleyflood commented on #384
On @armaanshah96 's todo list :)

[2021-05-31 00:24] #384 closed

[2021-05-31 00:26] bradleyflood commented on #340
Closing as not enough info to work on.

[2021-05-31 00:26] #340 closed

[2021-06-01 16:23] armaanshah96 commented on #384
yup noted, apologies, been struggling to find time recently

[2021-06-02 05:57] bradleyflood commented on #384
You and me both haha :)

[2021-06-03 07:02] krunalbad commented on #247
![Screenshot 2021-06-03 at 12 30 13 PM](https://user-images.githubusercontent.com/45413622/120601353-734c7c00-c467-11eb-88e6-7824a9d7a9ff.png)
Does this make sense to anyone having advance JAVA knowledge? I am not sure if this might causing you an issue. You may look into this. It might help.

**Path**: /node_modules/react-native/ReactAndroid/src/main/java/com/facebook/react/MemoryPressureRouter.j

[2021-06-08 20:11] scottg489-tw opened #390 "Unable to update duration (live stream use case)"
# Description
We have a live stream which has a dynamic duration. As the stream plays and we receive more stream data, the duration progresses forward and we would like to update the duration in the notification screen. However, `MusicControl.updatePlayback` does not seem to support supplying a duration.

We attempted to work around this by calling `MusicControl.setNowPlaying` with the new duratio

[2021-06-13 19:33] kg-kartik opened #391 "closeNotification control doesnt work in android"
## Description

Control closeNotification doesnt work i.e. the notification doesnt close on swiping.
Code snippet -
`MusicControl.enableControl('closeNotification', true, { when: 'always' })`

I registered closeNotification event handler too but the event is not listening due to the same issue.

I also cannot setup a swipe gesture handler (from react native) and call `stopControl` method on swipe

[2021-06-17 01:47] sshah98 commented on #378
Yeah we've tried using expo-av and react-native-music-control to no avail. Thanks for this thread, going to switch to react-native-sound-player as well :)

[2021-07-15 17:17] jhclaura commented on #357
Same here, it causes the playing audio in the app continue to play ever after the app is closed in Android.
Any update on this and way to fix it? Any suggestions appreciated!

[2021-07-22 14:59] futureinapps opened #392 "Not working on iOS with react-native-audio-toolkit framework"
# Description

1. Sample code (provide repo url or sample code)

in `componentDidMount` i call this:

[code]

onPlay i call `setNowPlaying`

2. Platform ?

   - [x] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2021-07-22 23:09] bradleyflood commented on #392
Hi @futureinapps, I'm happy to look into this but you'll need to provide a reproducible project or bigger code sample. I need to be able to simulate your issue, but I can't with the above info. Thanks :)

[2021-07-22 23:09] #392 closed

[2021-07-23 06:17] futureinapps commented on #392
Yesterday, I spent the tones of time to investigate this issue and found out that it was a bug with the @react-native-community/audio-toolkit framework. I solved the problem by adding [this](https://github.com/react-native-audio-toolkit/react-native-audio-toolkit/pull/224/files) changes

[2021-07-25 23:15] bradleyflood commented on #392
Ok sweet thanks @futureinapps

[2021-07-27 20:21] nahuelb opened #393 "Context.startForegroundService() did not then call Service.startForeground()"
Related #266
Version v1.4.0 (latest)

# Description
I am experiencing this error on production, but it seems that it only happens to Samsung devices according to BugSnag and when they close the app.

1. Sample code (provide repo url or sample code)

2. Platform ?

   - [ ] iOS
   - [x] Android

3. Device
  - [ ] Simulator
  - [x] Real device

[2021-07-29 09:25] khoitruongg commented on #391
same issue

[2021-07-29 11:55] bradleyflood commented on #391
Thanks @kg-kartik and @khoitruongg, are you able to investigate it and perhaps create a pull request for a fix?

Cheers :)

[2021-07-29 15:08] AugustoAleGon commented on #393
+1

[2021-07-30 13:52] sturmenta commented on #393
+1

[2021-08-01 19:29] kg-kartik commented on #391
Ahh I aint able to get the fix for that tho

[2021-08-03 00:33] josh-deprogram commented on #393
+1

[2021-08-03 02:23] bradleyflood commented on #393
Anyone able to investigate and provide some more insight or bug fixes?

@AugustoAleGon @sturmenta @josh-deprogram

[2021-08-14 09:52] futureinapps opened #394 "ERROR: Attempt to invoke virtual method void..."
iOS works perfectly, on Android i have an error:

1. Sample code (provide repo url or sample code)

`componentDidMount(){
    RNMS.enableBackgroundMode(true);
    RNMS.handleAudioInterruptions(true);
    RNMS.enableControl('play', true);
    RNMS.enableControl('pause', false);
    RNMS.on(Command.play, () => {
      start();
    });
    RNMS.on(Command.pause, () => {
      pause();
    });
}`

2.

[2021-09-07 21:15] devpolo commented on #378
Hi everyone 👋
Any news on that issue ? I’m stuck for many days now :/

[2021-09-08 11:23] PupoSDC commented on #378
The IOS specific formula that worked for me ended up looking something like:

[code]

 In any case it was still very unstable, requiring all stars to align, and some bugs still existed that I was unable to track down last i worked on this...

[2021-09-19 01:54] franekantoni opened #395 "MusicControl.updatePlayback({ state: _}) Does Not Work. Playback State Doesn't Change."
# Description
I am using react-native-music-control to pause/play react-native-video player when app is in the background. Controls work fine when app is in the background (the 'pause', 'play' events get handled), but I am unable to change the MusicControl state with tha updatePlayback method-> the icon of music control does not change when MusicControl.updatePlayback gets called. All parts of pau

[2021-09-20 18:58] vedamet commented on #378
Im tried run your music control ios case on my device and this is dosnt work in background mode

Could you explain for me one thing?
how you turn on background mode in code ?  (i am turned on this in xcode)
When I running next code in file like Main.js, music controls doesnt work. But if i delete it,  controls will show and my playing audio have paused when I open controls panel

[code]

[2021-09-21 08:04] PupoSDC commented on #378
Hi @vedamet,

Unfortunately I can't be super useful, Im no longer working on this project, so I am working a bit out of memory + my own notes.

I'm not sure what the `Audio` API you posted is, so I cant give any specific advice. Generically, what I had to do to get the hang of things was study the actual IOS API under the hood, and using the xcode debugger see what calls were being made when. What

[2021-09-28 09:04] khoitruongg commented on #357
When you force close app, JS thread will not be call, so i tried to handle this on native side to shutdown the service
<img width="694" alt="Screen Shot 2021-09-28 at 16 03 37" src="https://user-images.githubusercontent.com/39988935/135057505-22b0a0eb-d678-4765-a8ce-1f8b9aa1c227.png">

[2021-09-29 16:34] cjhines commented on #394
Setting `handleAudioInterruptions` to `false` stopped this error for me.

Not ideal I know.

[2021-09-29 16:39] cjhines commented on #378
I have it working on `react-native: 0.65.1` and `expo-av: 9.2.3`.

[code]

[2021-11-14 11:14] dwgdev07 opened #396 "PlayPause button on Lightning EarPods doesn't work"
# Description

Hi, i have the problem, that the playPause button on EarPods with lightning connector doesn't work - bluetooth earphones work as expected.
Here is the hook I use to init the music controls.

[code]

2. Platform ?

   - [X] iOS
   - [ ] Android

3. Device
  - [ ] Simulator
  - [X] Real device

[2021-11-19 20:13] dwgdev07 commented on #396
Found it. Had to enable togglePlayPause with `MusicControl.enableControl('togglePlayPause', true);`.
Maybe it would be helpful to include this line in the README.md examples.

[2021-11-19 20:13] #396 closed

[2021-11-30 12:43] mmajk55 opened #398 "RemoteServiceException Bad notification(tag=null, id=100)"
# Description
Xaiomi  users with Android 11  are facing the error on production

RemoteServiceException
Bad notification(tag=null, id=100) posted from package xxxxxx, crashing app(uid=10282, pid=13512): Couldn't inflate contentViewsjava.lang.ClassCastException: android.app.Notification$MediaStyle cannot be cast to android.app.Notification$MessagingStyle

2. Platform ?

   - [ ] iOS
   - [x] Androi

[2021-12-29 09:11] AliHaidar110 commented on #376
didn't work :(

[2021-12-29 09:14] AliHaidar110 commented on #375
same issue but using expo-av

[2022-02-06 14:50] reberthkss commented on #394
i'm facing the same problem, event with setting `handleAudioInterruptions` to false. Any suggestions?

[2022-02-17 04:44] Aleksandern commented on #394
I have the same issue.

@cjhines @futureinapps
Did you find any other solution except setting `handleAudioInterruptions` to `false`?

[2022-02-17 16:17] cjhines commented on #394
@Aleksandern

I'm afraid I eventually ended up incorporating and modifying the native modules directly into my app.

[2022-02-24 14:00] emilioelmurr opened #399 "Album Artwork not showing on IOS"
Hello,

I am trying to add an artwork to the media that is being played when our app is playing, we  only use one artwork for all of our playing times for the meantime since it's a radio app.

The following code is used to display an icon, it works on simulator but it doesn't seem to work on a real device.

We are using a webview with a stream as a player and visualizer.

# Description
Code Used:

[2022-03-02 14:09] #376 closed

[2022-03-16 08:55] fandypeng commented on #393
my code worked fine on android 8.1.0, but got the same issue on android 9/10 devices. any update ?

[2022-03-17 12:26] rafaelmaeuer opened #400 "ForegroundServiceStartNotAllowedException (Android 12)"
**Problem:**
I am getting lots of `ForegroundServiceStartNotAllowedException` from Devices with Android 12.
It seems to happen on `NotificationService.forceForeground()` in `MusicControlNotification.java:215`

It might likely relate to Android 12 [Foreground Service](https://developer.android.com/guide/components/foreground-services) restrictions (from Android Docs):

[code]

**Possible solution:*

[2022-03-17 13:10] rafaelmaeuer opened #401 "Please create new Version (1.4.1) and release on npm"
# Description

Please release a new version of this lib on npm which includes the latest PR with fix for Android 12:
- https://github.com/tanguyantoine/react-native-music-control/pull/397

At the moment usage of patch-package or git as npm-source are required...

3. Platform ?

   - [x] iOS
   - [x] Android

4. Device
  - [x] Simulator
  - [x] Real device

[2022-03-21 03:37] bradleyflood commented on #401
Done https://www.npmjs.com/package/react-native-music-control

[2022-03-21 03:37] #401 closed

[2022-03-21 03:38] bradleyflood commented on #400
Should be fixed in `4.1.1`

[2022-05-04 14:44] dmarczak2911 opened #403 "[iOS] Controlling volume is not working correctly when casting by airplay until using device volume up/down button"
Hey! I have an issue with controlling the volume of playback from media controls when I'm casting the video using airplay.

# Description

**Steps to reproduce:**
1. Start watching a video
2. Connect to TV using airplay
3. Scroll the notification bar or lock the screen to see media controls

**The observed result:**
The volume on the media controls view is not working correctly:
- current volume v

[2022-05-05 21:51] jcalvezar commented on #357
Is there a way to stop playing the audio when the App closes?

[2022-05-12 06:49] amrfarid140 opened #404 "[Android] Make Stopping foreground service optional when app losses audio focus"
# Description

As it stands, if you set ` MusicControl.handleAudioInterruptions(true);` this means the android app is listening on audio focus changes.

When the app losses focus, the listener calls [`emitter.onStop`](https://github.com/tanguyantoine/react-native-music-control/blob/master/android/src/main/java/com/tanguyantoine/react/MusicControlAudioFocusListener.java#L32) which ends up stopping

[2022-05-12 14:28] Nyrox commented on #393
Happening on OnePlus 8T with Android 12.

[2022-05-17 17:36] calflegal commented on #378
The above
[code]
 is critical.

 I'm getting it via
[code]

 According to expo-av, the default is  ` INTERRUPTION_MODE_IOS_MIX_WITH_OTHERS ` https://docs.expo.dev/versions/v45.0.0/sdk/audio/#arguments-1

 I think this prevents the lock screen controls from showing up

[2022-05-27 09:19] iamhassanraza commented on #398
Same issue with android 10 and 8. Could not find any fix . @tanguyantoine

[2022-06-10 06:33] PupoSDC commented on #377
Closing as I'm no longer working with this library.

[2022-06-10 06:33] #377 closed

[2022-06-10 08:29] fandypeng commented on #393
Fixed by adding notification permissions, it's my fatal...

[2022-06-14 12:59] JavoxirNazarov commented on #357
++

[2022-06-16 16:56] elliotdickison commented on #400
This is still occurring. Just launched with 1.4.1 and I'm getting these errors on Android 12:

[code]

I'm doing some research, in the meanwhile @bradleyflood would you mind reopening this?

[2022-06-16 17:03] elliotdickison commented on #400
[One suggestion I'm seeing](https://stackoverflow.com/a/70378618/2747759) is to pass `ServiceInfo.FOREGROUND_SERVICE_TYPE_MEDIA_PLAYBACK` as a third parameter to `startForeground` [as documented here](https://developer.android.com/reference/android/app/Service#startForeground(int,%20android.app.Notification,%20int)).

[2022-06-17 15:57] elliotdickison opened #405 "ForegroundServiceStartNotAllowedException on Android SDK 31+"
**Problem**

Compiling an Android app with `targetSdkVersion` >= 31 results in the attached fatal when react-native-music-control attempts to start a foreground service from the background [here](https://github.com/tanguyantoine/react-native-music-control/blob/954cac20bda4f655c78e82c6daf39158e85d36eb/android/src/main/java/com/tanguyantoine/react/MusicControlNotification.java#L215).

**Attempted fi

[2022-06-18 10:50] bradleyflood commented on #400
Sure @elliotdickison thanks. Can you test that idea and if it works create a PR? Cheers

[2022-06-18 15:13] elliotdickison commented on #405
Duplicate of #400

[2022-06-18 15:13] #405 closed

[2022-06-18 15:15] elliotdickison commented on #400
Unfortunately I think it's going to be more complicated than that. Here are the results of my research so far:

- This exception still occurs if you compile with `targetSdkVersion` >= 31 due to new foreground service restrictions placed on apps in SDK 31.
- There is [fairly detailed documentation on these new restrictions](https://developer.android.com/guide/components/foreground-services#backgrou

[2022-06-20 22:14] FireFighter80 opened #406 "Expo config plugin"
It would be cool, if this lib supports managed Expo projects. So that it will be easy to integrate.

# Description

1. Sample code (provide repo url or sample code)
https://docs.expo.dev/guides/config-plugins/#creating-a-plugin

2. Platform ?

   - [x] iOS
   - [x] Android

3. Device
  - [x] Simulator
  - [x] Real device

[2022-07-06 04:43] shaheer904 commented on #403
Have you find any solution for that problem.

[2022-07-06 06:26] shaheer904 commented on #168
Nothing is working on IOS.

[2022-07-19 12:24] rafaelmaeuer commented on #393
@fandypeng could you share your solution?

[2022-07-19 15:17] rafaelmaeuer commented on #400
I did some further investigation, updated the project and added some of @elliotdickison suggestions in https://github.com/tanguyantoine/react-native-music-control/pull/407

Please test if it really fixes the problem, I cannot reproduce the error by myself, so its a guess-fix.

[2022-07-28 20:12] jessemezini commented on #406
Hi @FireFighter80, I think you can use without the need of a plugin.

In the app.json

[code]

[https://docs.expo.dev/guides/config-plugins/#using-a-plugin-in-your-app](url)

I tested on android with prebuild and eas build.

[2022-08-02 17:12] marf commented on #400
We have the same issues but unfortunately adding the flag to the manifest does not help.
Even adding `ServiceInfo.FOREGROUND_SERVICE_TYPE_MEDIA_PLAYBACK` in startForeground does not seem to fix unfortunately. :(

[2022-08-03 19:29] rafaelmaeuer commented on #400
By wrapping the whole problematic code-block into try-catch (instead of just single parts, excluding the crashing line) seem to fix the crashes (not the issue itself) see commit https://github.com/tanguyantoine/react-native-music-control/commit/bb1b1e951182369d564118b11d5be460efbfd915.

I have updated a Prod-App with this version [swrlab/react-native-music-control#v1.5.1 ](https://github.com/swrla

[2022-08-05 07:06] marf commented on #400
Yes, in this why crashes can be fixed, the problem is that music cannot be listened in background when this issue happens. The app will not crash anymore but music cannot be played while the app is in background, the definitive fix would be a workaround to avoid the exception at all.

There is a new version of [https://github.com/doublesymmetry/react-native-track-player](https://github.com/doubles

[2022-08-09 13:34] didiabel opened #409 "colorized in false and adding a color doesnt work."
MusicControl.setNowPlaying({
  title: 'Billie Jean',
  artwork: 'https://i.imgur.com/e1cpwdo.png', // URL or RN's image require()
  artist: 'Michael Jackson',
  album: 'Thriller',
  genre: 'Post-disco, Rhythm and Blues, Funk, Dance-pop',
  duration: 294, // (Seconds)
  description: '', // Android Only
//(RED)
  color: 0xff0000, //  Android Only - Notification Color
  colorized: false, // Android 8

[2022-08-09 15:34] didiabel opened #411 "please add compatibility with favorite"
please add compatibility with favorite as show in this image:

![image](https://user-images.githubusercontent.com/66227018/183694128-21d8ac22-7ac5-4b03-a560-b4239a455652.png)

thanks!

[2022-08-18 18:52] PaulCombal commented on #393
Still the same issue on an Expo client. Crashes 5 seconds after opening the notification [as hinted here](https://stackoverflow.com/a/45047542/3001271).

I did not specify a "permission" key in app.json so that the `FOREGROUND_SERVICE` permission should be granted [according to the doc](https://docs.expo.dev/versions/latest/config/app/#permissions).

<details>
<summary>Stack trace</summary>

[code

[2022-08-23 08:56] preetgaggu commented on #365
hi.. have you find any solution for this ?

[2022-09-16 02:44] 13627491210 commented on #373
Have you solved it？

[2022-09-26 04:07] antonkoetzler opened #412 "Problems with updatePlayback"
1. Sample code (provide repo url or sample code)
[code]

Whenever I call MusicControl.updatePlayback, it never actually changes anything in the notification. As well, using the notification buttons when the app is in the background never changes the text of the notification.

3. Platform ? ~ Android

4. Device ~ Simulator

[2022-10-05 12:59] singhiam opened #413 "IOS background mode Play pause controls are disabled but seek bar is moving."
# Description

import React, { Component, useEffect, useState } from 'react';
import {
  ActivityIndicator,
  Animated,
  Platform,
  StyleSheet,
  TouchableOpacity,
  View,
} from 'react-native';
import { connect } from 'react-redux';
import Video from 'react-native-video';
import { withTheme } from 'styled-components';
import { Actions } from 'react-native-router-flux';
import { TFunction, withT

[2022-10-05 15:12] singhiam commented on #413
@bradleyflood  Can you please help me here.

[2022-10-05 15:15] singhiam commented on #413
![IMG_9535](https://user-images.githubusercontent.com/24786801/194097058-bab23cc0-a5ca-4000-af58-2dbc9e0447f1.png)

[2022-10-05 20:44] sam1463 opened #414 "skipBackward and skipForward don't show up on android"
# Description

1. Sample code (provide repo url or sample code)
[code]

I would expect the controls for skipping forward/backward to appear when doing this.

2. Platform ?

   - [ ] iOS
   - [X] Android

3. Device
  - [ ] Simulator
  - [X] Real device

[2022-10-05 23:06] bradleyflood commented on #413
Hi @singhiam, I recommend switching over to https://github.com/doublesymmetry/react-native-track-player

[2022-10-05 23:09] bradleyflood opened #415 "This package is deprecated > Use `react-native-track-player` instead"
Hi all. This package has been good but unfortunately it's not working correctly in modern versions of iOS and Android.

I recommend you switch your audio playing over to https://github.com/doublesymmetry/react-native-track-player

React Native Track Player takes care of Lock Screen Controls and much more!

See https://react-native-track-player.js.org

Good luck!